<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/allway.css">
    <link rel="stylesheet" type="text/css" href="/themes/mobile/css/common.css">
    <title>所有路线</title>
</head>
<body>
<div id="app" class="way">
    {if:count($list['data'])>0}
        {list:items=$list['data']}
        <div class="cell">
            <img src="{$item['img']}" alt="" class="cell-bg">
            <div class="detail">
                <h2>{$item['name']}</h2>
                <span class="time">{$item['date']}</span>
                <span class="address">{$item['city']}</span>
                <span class="price">{$item['price']}</span>
            </div>
        </div>
        {/list}
        <div class="page-nav tc">{$list['html']}</div>    
    {else:}
    <div class="ma20 bg-white p20">
        <p class="p20">没有邀请记录！</p>
    </div>
    {/if}    
</div>
</body>
</html>