<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/allway.css">
    <title>所有路线</title>
</head>
<body>
<div id="app" class="way">
    <div class="cell">
        <img src="/static/yuanmeng/three-level/img/st22.jpg" alt="" class="cell-bg">
        <div class="detail">
            <h2>深港澳珠5天4晚观光体验之旅</h2>
            <span class="time">06.12(周二) - 06.12(周二)</span>
            <span class="address">香港</span>
            <span class="price">3980</span>
        </div>
    </div>
    <div class="cell">
        <img src="/static/yuanmeng/three-level/img/st22.jpg" alt="" class="cell-bg">
        <div class="detail">
            <h2>深港澳珠5天4晚观光体验之旅</h2>
            <span class="time">06.12(周二) - 06.12(周二)</span>
            <span class="address">香港</span>
            <span class="price">3980</span>
        </div>
    </div>
    <div class="cell">
        <img src="/static/yuanmeng/three-level/img/st22.jpg" alt="" class="cell-bg">
        <div class="detail">
            <h2>深港澳珠5天4晚观光体验之旅</h2>
            <span class="time">06.12(周二) - 06.12(周二)</span>
            <span class="address">香港</span>
            <span class="price">3980</span>
        </div>
    </div>
    <div class="cell">
        <img src="/static/yuanmeng/three-level/img/st22.jpg" alt="" class="cell-bg">
        <div class="detail">
            <h2>深港澳珠5天4晚观光体验之旅</h2>
            <span class="time">06.12(周二) - 06.12(周二)</span>
            <span class="address">香港</span>
            <span class="price">3980</span>
        </div>
    </div>
</div>
</body>
</html>