<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="./css/fill_info.css">
    <title></title>
<body>
<div id="app">
    <form action="" class="form">
        <div class="input_cell">
            <label class="input_cell--label" for="">请选择路线:</label>
            <div class="input_cell--content" style="border: 1px solid #555;">
                <select title="way">
                    <option value="">港澳5天4夜游</option>
                    <option value="">港澳5天1夜游</option>
                </select>
            </div>
        </div>
        <div class="upload">
            <input type="file">
        </div>
        <div class="input_cell">
            <label class="input_cell--label" for="">联系人姓名:</label>
            <div class="input_cell--content">
                <input type="text" name="" placeholder="必填">
            </div>
        </div>
        <div class="input_cell">
            <label class="input_cell--label" for="">联系人手机:</label>
            <div class="input_cell--content">
                <input type="number" name="" placeholder="必填">
            </div>
        </div>
        <div class="input_cell">
            <label class="input_cell--label" for="">身份证号码:</label>
            <div class="input_cell--content">
                <input type="number" name="" placeholder="必填">
            </div>
        </div>
        <div class="input_cell">
            <label class="input_cell--label" for="">性&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
            <div class="input_cell--content">
                <input type="number" name="" placeholder="必填">
            </div>
        </div>
        <p class="tips">备注:请上传清晰图片身份证及其其他证件照片.(境外游需要上传港澳通信证及护照)</p>
        <img class="idfy" src="./img/id_2.png" alt="">
        <img class="idfy" src="./img/id_1.png" alt="">
        <p class="tips2">温馨提示: 如有消息错误请联系客服进行修改<br>客服电话: 400-8715-988</p>
        <button type="submit">前往支付</button>
    </form>

</div>
</body>
</html>