<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/allway.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/pay.css">
    <title>订单详情</title>
</head>
<body>
<div id="app">
    <div class="way">
        <div class="cell">
          <a href="/travel/way_detail/id/{$order['way_id']}">
            <img src="{$order['img']}" alt="" class="cell-bg">
            <div class="detail">
                <h2>{$order['name']}</h2>
                <span class="time">{$order['date']}</span>
                <span class="address">{$order['city']}</span>
                <span class="price">{$order['price']}</span>
            </div> 
          </a>  
        </div>
    </div>
    <div style="width: 60%;height: auto;margin-left: 20%;">
      <span><p>姓&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;&nbsp;{$order['contact_name']}</p></span><br/>
      <span><p>手机号&nbsp;&nbsp;&nbsp;{$order['contact_phone']}</p></span><br/>
      <span><p>身份证&nbsp;&nbsp;&nbsp;{echo: substr($order['id_no'],0,1).'**************'.substr($order['id_no'],-1)}</p></span><br/>
      <span><p>姓&nbsp;&nbsp;&nbsp;别&nbsp;&nbsp;&nbsp;{if:$order['sex']==1}男{else:}女{/if}</p></span><br/>
      {list:$items=$order['idcard_url']}
      <div class="idcard_url">
         <img src="{$item}" width="280" height="200" />
      </div>
      {/if}
      <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;"><div id="innerdiv" style="position:absolute;"><img id="bigimg" style="border:5px solid #fff;" src="" /></div></div>
    </div> 
    {if:$order['pay_status']==0}
    <a class="pay" href="/travel/pay/id/{$order['id']}">确认支付</a>
    {else:}
    <a class="pay" href="">已支付</a>
    {/if}
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
   $('.idcard_url img').on('click',function(){
      var wValue=1.5 * $(this).width();  
      var hValue=1.5 * $(this).height();
      var src = $(this).attr("src");
      $('#bigimg').attr("src", src);
      $('#bigimg').css("width",wValue);
      $('#bigimg').css("height",hValue);
      $('#outerdiv').fadeIn("fast");
   });

   $('#outerdiv').click(function(){//再次点击淡出消失弹出层
      $(this).fadeOut("fast");
    });
    
</script>
</html>