<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/orderlist.css">
    <title>订单</title>
</head>
<body>
<script src="/runtime/systemjs/jquery.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/layer_mobile/layer.js"></script>
<div id="app" class="order">
 {if:count($list['data'])>0}
    {list:items=$list['data']}
    <div class="order-cell">
        <div class="order-cell-id">订单编号: {$item['order_no']}</div>
        <div class="item">
            <img src="{$item['img']}" alt="" class="item-img">
            <span class="item-title">{$item['name']}</span>
            <span class="item-subtitle">{$item['city']}</span>
        </div>
        <div class="order-detail">
            <a href="/travel/order_detail/id/{$item['id']}" class="order-detail__look">查看订单详情</a>
            <span class="order-detail__price">合计金额<span>{$item['order_amount']}</span></span>
        </div>
    </div>
    {/list}
 {else:}
   <div class="order-cell" style="text-align: center;">暂无订单</div>  
 {/if}
<input type="hidden" name="page" id="page" value="{$page}"/>    
</div>
</body>
<script type="text/javascript">
    function getDocumentTop() {
        var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;
        if (document.body) {
            bodyScrollTop = document.body.scrollTop;
        }
        if (document.documentElement) {
            documentScrollTop = document.documentElement.scrollTop;
        }
        scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
        return scrollTop;
    }
    //可视窗口高度

    function getWindowHeight() {
        var windowHeight = 0;
        if (document.compatMode == "CSS1Compat") {
            windowHeight = document.documentElement.clientHeight;
        } else {
            windowHeight = document.body.clientHeight;
        }
        return windowHeight;
    }
    //滚动条滚动高度
    function getScrollHeight() {
        var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;
        if (document.body) {
            bodyScrollHeight = document.body.scrollHeight;
        }
        if (document.documentElement) {
            documentScrollHeight = document.documentElement.scrollHeight;
        }
        scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
        return scrollHeight;
    }

    var page = $('#page').val();
    $(window).bind('scroll', function () {
        if (getScrollHeight() == getWindowHeight() + getDocumentTop())
        {
            page++;
            ajaxRead();
        }
    });

    function ajaxRead() {
        var html = "";
        var url = "{url:/travel/travel_order_list}";
        var user_id = "{$user_id}";
        var data = {page: page,user_id:user_id};
        var index;
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: url,
            data: data,
            // beforeSend: function () {
            //     //loading层
            //     index = layer.load(1, {
            //         shade: [0.1, '#fff'], //0.1透明度的白色背景
            //         time:500
            //     });
            // },
            success: function (res) {
                data = JSON.stringify(res);
                alert(data);
                layer.close(index);
                if (data.data.length == 0) {
                    layer.msg('已经到底!',{time:500});
                }  else {
                    $.each(data.data, function (i, item) {

                        html += '<div class="order-cell">';
                        html += '<div class="order-cell-id">订单编号:'+item.order_no+'</div>';
                        html += '<div class="item">';
                        html += '<img src="'+item.img+'" alt="" class="item-img">'
                        html += '<span class="item-title">'+item.name+'</span>';
                        html += '<span class="item-subtitle">'+item.city+'</span>';
                        html += '</div>';
                        html += '<div class="order-detail">';
                        html += '<a href="/travel/order_detail/id/"'+item.id+'" class="order-detail__look">查看订单详情</a>';
                        html += '<span class="order-detail__price">合计金额<span>'+item.order_amount+'</span></span>';
                        html += '</div>';
                        html += '</div>';
                    });
                    $("#app").append(html);
                }
            },
        });
    }
</script>
</html>