<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/allway.css">
    <link rel="stylesheet" href="/static/yuanmeng/three-level/css/pay.css">
    <title>在线支付</title>
</head>
<body>
<div id="app">
    <div class="way">
        <div class="cell">
          <a href="/travel/way_detail/id/{$order['way_id']}">
            <img src="{$order['img']}" alt="" class="cell-bg">
            <div class="detail">
                <h2>{$order['name']}</h2>
                <span class="time">{$order['date']}</span>
                <span class="address">{$order['city']}</span>
                <span class="price">{$order['price']}</span>
            </div> 
          </a>  
        </div>
    </div>
    <div class="pay-type">
        <div class="pay-type-cell" id="wxpay">
            <img src="/static/yuanmeng/three-level/img/wei.png" alt="">
            <span>微信支付</span>
            <img src="/static/yuanmeng/three-level/img/zhen.png" alt="">
        </div>
        <!-- <div class="pay-type-cell" id="alipay">
            <img src="/static/yuanmeng/three-level/img/zhi.png" alt="">
            <span>支付宝支付</span>
            <img src="/static/yuanmeng/three-level/img/fu.png" alt="">
        </div> -->
    </div>
    <input type="hidden" name="pay_type" value="1">  
    <p class="prc">总金额: <b>￥{$order['order_amount']}</b></p>
    <a class="pay">确认支付</a>
</div>
</body>
<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
<script type="text/javascript" src="/runtime/systemjs/jquery.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/jquery.weui.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/common.js"></script>
<script type="text/javascript" src="/themes/mobile/js/layer_mobile/layer.js"></script>
<script>
    $(function ($) {
        $('#wxpay').click(e => {
            $('#alipay img:last-child')[0].src = '/static/yuanmeng/three-level/img/fu.png';
            $('#wxpay img:last-child')[0].src = '/static/yuanmeng/three-level/img/zhen.png';
            $("input[name='pay_type']").val('1');
        });
        $('#alipay').click(e => {
            $('#wxpay img:last-child')[0].src = '/static/yuanmeng/three-level/img/fu.png';
            $('#alipay img:last-child')[0].src = '/static/yuanmeng/three-level/img/zhen.png';
            $("input[name='pay_type']").val('2');
        })
    })
    $('.pay').on('click',function(){
        var pay_type = $("input[name='pay_type']").val();
        var need_code = "{$need_code}";
        var order_id = "{$order['id']}";
        var type = "{$order['pay_type']}";
        if(pay_type!=type) {
            $.ajax({
                url: "{url:/travel/modify_pay_type}",
                data: {order_id: order_id,pay_type:pay_type},
                type: 'post',
                dataType: 'json',
                success: function (ret) { 
                    console.log('success');                    
                }, 
                error: function (e) {
                    console.log(e);
                    alert("服务器繁忙!");
                }
            });
        }
        if(pay_type==1) {
            if(need_code == 1) {
                var url = "{$url}";
                window.location.href = url;
            } else {
                callpay();
            }    
        } 
    });

    function callpay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else {
            jsApiCall();
        }
    }

    function jsApiCall() {
            // var jsApiParameters = '{$jsApiParameters}';
            var jsapi='{$jsApiParameters}';
            var id = "{$order['id']}";
            jsonapi=JSON.parse(jsapi);
            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',
                    {
                        "appId":jsonapi.appId,
                        "nonceStr":jsonapi.nonceStr,
                        "package": jsonapi.package,
                        "paySign": jsonapi.paySign,
                        "signType": jsonapi.signType,
                        "timeStamp": jsonapi.timeStamp
                    },
                    function (res) {
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            alert('微信支付成功');
                            window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // $.toast('微信支付成功!', function () {
                                //     window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // });        
                        } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                            alert('用户取消支付');
                            window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // $.toast('用户取消支付!', 'cancel', function () {
                                //     window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // });
                        } else {
                            alert('支付失败');
                            window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // alert(JSON.stringify(res));
                                // $.toast('支付失败!', 'forbidden', function () {
                                //     window.location.href = "http://www.ymlypt.com/travel/order_detail/id/"+id;
                                // });
                        }
                    }
            );
    }
</script>
</html>