<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>淘口令</title>
  <link href="http://015hsrj.com/html5/static/css/module/wxpro.bd4c34680f8f51aea6547b23d4c09a7b.css" rel="stylesheet">
  <style type="text/css">
  .mid{
    width: 50%;
    margin-top: 50%;
    margin-left: 25%;
  }
  /*.mid a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 50px;
    border-color: #4c9fff;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    color:white;
  }*/
  </style>
  </head>
  <body>
    <div class="wxpro">
        <div class="slogn">
            <div class="logo">
              <img src="/themes/mobile/images/logo-new.png" alt="">
             </div> 
            <div class="center">
               <div class="tt">圆梦共享网</div> 
               <div class="bot">共享无形资源，获取跨界收益，振兴传统商业的共享经济平台</div>
            </div> 
            <div class="btn"><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.yidu.yuanmeng">APP下载</a></div>
        </div> 
        <div class="mid">
           <img alt="" src="/themes/mobile/images/over_date.png" style="width: 100%;">
           <h3 style="font-weight: bold;font-size: 15px;font-family: 'Microsoft YaHei';">该优惠券已过期，下载APP，<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还有更多优惠等着你！</h3>
           <a href="http://sj.qq.com/myapp/detail.htm?apkName=com.yidu.yuanmeng" style="display: block;text-decoration: none;width: 100%;margin-top:30%;height: 50px;background-color: #4c9fff;border-radius: 24px;line-height: 50px;text-align: center;color:white;">立即下载</a>
        </div>
    </div>     
</body>
</html>
