<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>淘口令</title>
  <link href="wxpro.bd4c34680f8f51aea6547b23d4c09a7b.css" tppabs="http://015hsrj.com/html5/static/css/module/wxpro.bd4c34680f8f51aea6547b23d4c09a7b.css" rel="stylesheet"></head>
  <body>
    <div class="wxpro">
        <div class="slogn">
            <div class="logo">
              <img src="../static/img/logo.dccbbac.png" alt="">
             </div> 
            <div class="center">
               <div class="tt">花生日记</div> 
               <div class="bot">少花钱，多生钱，更多优惠券等你发现</div>
            </div> 
            <div class="btn"><a href="http://wx.qianqunke.com/reg?code=undefined">APP下载</a></div>
        </div> 
        <div class="proImg"><img alt=""></div> 
        <div class="container">
            <div>
                <div class="proname"></div> 
                <div class="price_box">
                    <div class="price">
                       <div class="price_after">券后价 ￥<span class="strongF"> </span> <span class="price_before">￥</span>
                       </div>
                    </div> <div class="coupon"></div>
                </div>
            </div> 
            <div class="clipboard">
                  <div class="top">￥￥<p>长按复制框内文字，启动手机【<i class="icon_tao"><img src="../static/img/tao.aed96c4.png" alt=""></i>】即可领券购买</p>
                  </div> 
                  <div class="bot">
                        <button id="buttoncopy">
                            <i class="icon_copy">
                              <img src="../static/img/copy.1e307a6.png" alt="">
                            </i> 一键复制淘口令
                        </button>
                  </div>
            </div>
        </div> 
        <div class="fixbox">
            <button id="buttoncopy">
                <i class="icon_copy">
                    <img src="../static/img/copy.1e307a6.png" alt="">
                </i> 一键复制淘口令
            </button>
        </div>
      </div>
    <!-- built files will be auto injected -->
    
    <div class="g-loading-bg">
    </div>
    <div class="g-loading-body">
         <div class="g-loading-str">正在加载 </div>
    </div>
</body>
</html>
