<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>淘口令</title>
  <link href="/themes/mobile/css/tao_share.css" rel="stylesheet">
  </head>
  <style type="text/css">
  .g-loading-bg{
    height: 90% !important;
  }
  </style>
  <body>
    <div class="wxpro">
        <div class="slogn" style="height: 60px;">
            <div class="logo" style="height: 56px;width: 56px;">
              <img src="/themes/mobile/images/logo-new.png" alt="" width="56" height="56">
             </div> 
            <div class="center">
               <div class="tt" style="font-size: 14px;">圆梦共享网</div> 
               <div class="bot" style="margin-top: 6px;font-size: 13px;">天天有优惠，日日能赚钱，省钱购物app 等你来下载！</div>
            </div> 
            <div class="btn" style="margin-top: 20px;"><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.yidu.yuanmeng">APP下载</a></div>
        </div> 
        <div class="proImg" style="margin-top: 20px;">
           <img alt="" src="{$info['pict_url']}">
        </div> 
        <div class="container">
            <div>
                <div class="proname" style="font-size: 14px;">{$info['title']}</div> 
                <div class="price_box">
                    <div class="price">
                       <div class="price_after">券后价 ￥<span class="strongF">{echo:$info['zk_final_price']-$info['coupon_price']}</span> <span class="price_before">￥{$info['zk_final_price']}</span>
                       </div>
                    </div> <div class="coupon">{$info['coupon_price']}</div>
                </div>
            </div> 
            <div class="clipboard">
                  <div class="top" style="font-size: 15px;">{$info['tao_str']}<p style="font-size: 15px;">长按复制框内文字，启动手机【<i class="icon_tao"><img src="/themes/mobile/images/tao.aed96c4.png" alt=""></i>】即可领券购买</p>
                  </div> 
                  <div class="bot">
                        <button class="buttoncopy" data-clipboard-text="{$info['tao_str']}" style="font-size: 15px;">
                            <i class="icon_copy">
                              <img src="/themes/mobile/images/copy.png" alt="">
                            </i> 一键复制淘口令
                        </button>
                  </div>
            </div>
        </div> 
        <div class="fixbox">
            <button class="buttoncopy" data-clipboard-text="{$info['tao_str']}" style="font-size: 15px;">
                <i class="icon_copy">
                    <img src="/themes/mobile/images/copy.png" alt="">
                </i> 一键复制淘口令
            </button>
        </div>
      </div>
    <!-- built files will be auto injected -->
    
    <div class="g-loading-bg">
    </div>
    <!-- <div class="g-loading-body">
         <div class="g-loading-str">正在加载 </div>
    </div> -->
</body>
<script src="/runtime/systemjs/jquery.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/clipboard.min.js"></script>
 <!-- <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script> -->
<!-- <script type="text/javascript" src="/themes/mobile/js/clipboard.js"></script> -->
<!-- <script type="text/javascript" src="/themes/mobile/js/ZeroClipboard.js"></script> -->
<script type="text/javascript">
        //微信浏览器中，aler弹框不显示域名
        (function(){
            //先判断是否为微信浏览器
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                //重写alert方法，alert()方法重写，不能传多余参数
                window.alert = function(name){
                    var iframe = document.createElement("IFRAME");
                    iframe.style.display="none";
                    iframe.setAttribute("src", 'data:text/plain');
                    document.documentElement.appendChild(iframe);
                    window.frames[0].window.alert(name);
                    iframe.parentNode.removeChild(iframe);
                }
            }
        })();
</script>
<script type="text/javascript">
// $(function(){
//     var clipboard = new Clipboard('.buttoncopy',{ 
//        text: function(trigger) { 
//           alert("复制成功！");
//           return trigger.getAttribute('data-text'); 
//        }
 
//     });
// });
var clipboard = new ClipboardJS('.buttoncopy');

clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
    alert("复制成功！");
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
</script>
</html>
