<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>淘口令</title>
  <link href="http://015hsrj.com/html5/static/css/module/wxpro.bd4c34680f8f51aea6547b23d4c09a7b.css" rel="stylesheet"></head>
  <body>
    <div class="wxpro">
        <div class="slogn">
            <div class="logo">
              <img src="../static/img/logo.dccbbac.png" alt="">
             </div> 
            <div class="center">
               <div class="tt">圆梦共享网</div> 
               <div class="bot">共享无形资源，获取跨界收益，振兴传统商业的共享经济平台</div>
            </div> 
            <div class="btn"><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.yidu.yuanmeng">APP下载</a></div>
        </div> 
        <div class="proImg">
           <img alt="" src="{$info['pict_url']}">
        </div> 
        <div class="container">
            <div>
                <div class="proname">{$info['title']}</div> 
                <div class="price_box">
                    <div class="price">
                       <div class="price_after">券后价 ￥<span class="strongF">{$info['zk_final_price']}</span> <span class="price_before">￥{$info['reserve_price']}</span>
                       </div>
                    </div> <div class="coupon">{echo:$info['reserve_price']-$info['zk_final_price']}</div>
                </div>
            </div> 
            <div class="clipboard">
                  <div class="top">￥{$info['tao_str']}<p>长按复制框内文字，启动手机【<i class="icon_tao"><img src="../static/img/tao.aed96c4.png" alt=""></i>】即可领券购买</p>
                  </div> 
                  <div class="bot">
                        <button id="buttoncopy">
                            <i class="icon_copy">
                              <img src="../static/img/copy.1e307a6.png" alt="">
                            </i> 一键复制淘口令
                        </button>
                  </div>
            </div>
        </div> 
        <div class="fixbox">
            <button id="buttoncopy">
                <i class="icon_copy">
                    <img src="../static/img/copy.1e307a6.png" alt="">
                </i> 一键复制淘口令
            </button>
        </div>
      </div>
    <!-- built files will be auto injected -->
    
    <div class="g-loading-bg">
    </div>
    <!-- <div class="g-loading-body">
         <div class="g-loading-str">正在加载 </div>
    </div> -->
</body>
</html>
