<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">

    <!--<link rel="stylesheet" href="css/sharednet.css">-->
    <link rel="stylesheet" href="/static/yuanmeng/css/travel.css">
    <title>圆梦旅游</title>
</head>
<body>
<div id="app">
    <!--banner-->
    <img src="/static/yuanmeng/img/travel/banner.jpg" alt="" class="header">

    <!--四个item-->
    <div class="entrance clearfix">
        <a href="http://www.ggtravel.net/mobile/category.php?id=338"><img src="/static/yuanmeng/img/travel/3.png" alt=""></a>
        <!-- <a href="/travel/new_way"><img src="/static/yuanmeng/img/travel/4.png" alt=""></a> 
        <a href="/travel/fill_info"><img src="/static/yuanmeng/img/travel/2.png" alt=""></a>
        <a href="/travel/order_list"><img src="/static/yuanmeng/img/travel/5.png" alt=""></a> -->
        <a class="notice" href="javascript:;"><img src="/static/yuanmeng/img/travel/4.png" alt=""></a> 
        <a class="notice" href="javascript:;"><img src="/static/yuanmeng/img/travel/2.png" alt=""></a>
        <a class="notice" href="javascript:;"><img src="/static/yuanmeng/img/travel/5.png" alt=""></a>
    </div>

    <!--介绍-->
    <img src="/static/yuanmeng/img/travel/12.jpg" alt="" class="title">
    <div class="introduce">
        <p class="desc">
            圆梦集团旗下圆梦旅游投资管理有限公司，成立于2015年12月，以“圆梦联创”的概念，依托全国多条旅游线路，创造出国内首家开启互联网+众筹众创的商业模式，并致力于开发高性价比的旅游产品，为“圆梦联创”模式创造流量入口和提供产品支撑。依托优质旅游产品，圆梦旅投业务板块业已形成低门槛创业，高业绩回报的财富风口，通过市场验证着“圆梦联创”商业模式的成功，也通过一批批的联创伙伴验证着“圆梦联创”是大众创业低具有开创性的切入点。</p>
        <img src="/static/yuanmeng/img/travel/p22.jpg" alt="" class="title">
        <p class="desc">
            圆梦旅投业已在全国建立了150多家控股子公司，并于2016年11月17号在深圳举行了挂牌上市仪式（企业简称：圆梦旅投；股权代码：HK·20025），得益于国家“互联网+大众创业”及对于共享经济的大力支持，圆梦集团旅游投资板块未来将在世界范围内开发更多优质旅游路线，依靠对细节的不断优化来提升旅游产品的用户体验，凭借对旅游产品各个环节的有力把控让旅程更加人性化个性化，从而为“圆梦联创”大众创业模式形成更好的旅游产业依托。</p>
        <p class="desc">公司始终坚持以“行业求担当，企业求感恩，事业求共赢”的经营理念，计划未来三到五年，在全国范围内建立1000家子公司，帮助5000万人实现创业的梦想。</p>
    </div>


</div>
</body>
<script src="/runtime/systemjs/jquery.min.js"></script>
<script src="/static/yuanmeng/js/main.js"></script>
<script type="text/javascript">
 $(function(){
            //先判断是否为微信浏览器
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                //重写alert方法，alert()方法重写，不能传多余参数
                window.alert = function(name){
                    var iframe = document.createElement("IFRAME");
                    iframe.style.display="none";
                    iframe.setAttribute("src", 'data:text/plain');
                    document.documentElement.appendChild(iframe);
                    window.frames[0].window.alert(name);
                    iframe.parentNode.removeChild(iframe);
                }
            }
        });
 $('.notice').on('click',function (){
    alert('暂未开放，敬请期待');
 });
</script>
</html>