{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
{echo:JS::import('validator');}
<style type="text/css">
    .moni table{
        text-align: center;
        width:500px;
    }
    th,td{
        text-align: center;
    }
    th{
          background:#f1f2f3;
          font-weight:bold;
    }
</style>
<h2 class="page_title">{$node_index['name']}</h2>
<div class="form2">
    <form name="config_form" method="post" action="{url:/commission/commission_setting}">
         <dl class="lineD">
         <dt>分佣模式:</dt>
                <dd>
                <label><input type="radio" name="status" value="1" checked="checked">开启</label>
                <label><input type="radio" name="status" value="0">关闭</label>
            	<label>（关闭后，系统将冻结分佣功能）</label>
             </dd>
        </dl>
        <dl class="lineD">
            <dt>推客订单总金额：</dt>
            <dd>
                <input name="commission_order_amount" type="text" value="" class="small" pattern="int"/>
                <span>用户订单付款总金额达到设定值，可自动成为推客，享受下级的反佣（如500）</span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>充值金额下限：</dt>
            <dd>
                <input name="recharge_min" type="text" value="" class="small" pattern="int"/>
                <span>启用-->充值分佣<--的最低充值金额（如100）</span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>提现金额下限：</dt>
            <dd>
                <input name="withdraw_min" type="text" value="" class="small" pattern="int"/>
                <span>最低提现金额（如100）</span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>充值分佣比例（%）：</dt>
            <dd>
                <input name="commission_rate2recharge" type="text" value="" class="small" pattern="int"/>
                <span>如：15，则拿出用户充值金额的15%用作佣金。</span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>一级佣金份额：</dt>
            <dd>
                <input name="level_1" type="text" value="" class="small" pattern="int"/>
                <span>  </span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>二级佣金份额：</dt>
            <dd>
                <input name="level_2" type="text" value="" class="small" pattern="int"/>
                <span>  </span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>三级佣金份额：</dt>
            <dd>
                <input name="level_3" type="text" value="" class="small" pattern="int"/>
                <span>购买者的上级</span>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>佣金锁定时间：</dt>
            <dd>
                <input name="commission_locktime" type="text" value="" class="small" pattern="int"/>
                <span>佣金锁定到可提取的时间（单位：天）</span>
            </dd>
        </dl>
        <div class="moni">
       <p>假设下线用户充值1000元，充值分佣比例为15，一级佣金份额1，二级份额为2，三级份额为3。</p>
         <p>则可计算出如下结果：（若用户上线不足三级，则回收相应佣金，不会计入产生佣金。）</p>
        <table>
            <tr><th>金额</th><th>产生佣金</th><th>一级佣金</th><th>二级佣金</th><th>三级佣金</th></tr>
            <tr><td>充值1000元</td><td>150元</td><td>25元</td><td>50元</td><td>75元</td></tr>
        </table>
         <p>PS:订单分佣请在商品中心设置，系统会自动根据设置的分佣方案，以及此处的份额比例分配佣金。</p>
        <div>
           
        <div class="center">
            <input type="submit" name="submit" class="button action fn" value="确 定">
        </div>
    </form>
</div>

<script>
    {if:isset($message)}
    art.dialog.tips('<p class="success">{$message}</p>');
    {/if}
    var form = new Form('config_form');
    {set:$config = Config::getInstance();}
    var data = {echo:JSON::encode($config->get('commission_set'))};
    form.init(data);
</script>
