{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$status=array("<span class='green icon-busy'>未处理</span>","<span class='gray icon-coin'>已转账</span>","<span class='red icon-remove'>已作废</span>")}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
<!--    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/order/order_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
    <a class="icon-delicious" href="{url:/order/order_list}"> 全部订单</a>
    <a class="icon-eye-blocked" href="{url:/order/order_list/status/2}"> 未审核</a>
    <a class="icon-cogs" href="{url:/order/order_list/status/3}"> 执行中</a>-->
    <a class="icon-delicious" href="{url:/commission/commission_withdraw}"> 查看全部</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:65px">操作</th>
        <th style="width:120px">申请提现单号</th>
        <th style="width:80px">申请用户名</th>
        <th style="width:100px">申请提现金额 </th>
        <th style="width:100px">提现方式</th>
        <th style="width:140px">银行</th>
        <th style="width:140px">开户名</th>
        <th style="width:160px">账号</th>
        <th style="width:140px;">申请时间</th>
        <th style="width:90px">状态</th>
    </tr>
    {query:name=commission_withdraw as c fields=c.*,u1.name join=left join user as u1 on c.user_id eq u1.id where=$where id=$obj page=1 order= id desc}
        <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min">
                <div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                        <ul>
                            {if:$item['status']==0}
                            <li>{if:$item['withdraw_type']==1}<a class="icon-coin" href="javascript:;" onclick="update({$item['id']},1)"> 金点转账{elseif:$item['withdraw_type']==2}<a class="icon-paypal" href="javascript:;" onclick="update({$item['id']},1)"> 已人工转账{/if}</a></li>
                            <li><a class="icon-remove" href="javascript:;" onclick="update({$item['id']},2)"> 作废该请求</a></li>
                            
                            {else:}
                            {/if}
                             <li><a class="icon-eye" href="{url:/commission/commission_count}?condition=and--c.user_id--eq--{$item['user_id']}"> 查看佣金统计</a></li>
                        </ul>
                   </div>
                </div> 
            </td>
            <td style="width:120px">{$item['withdraw_no']}</td>
            <td style="width:80px"><a href="?condition=and--c.user_id--eq--{$item['user_id']}">{$item['name']}</a></td>
            <td style="width:100px">{$item['withdraw_amount']}</td>
            <td style="width:100px">{if:$item['withdraw_type']==1}金点账户{elseif:$item['withdraw_type']==2}银行卡{/if}</td>
            <td style="width:140px">{$item['bank']|"-----------"}</td>
            <td style="width:140px">{$item['account_name']|"-----------"}</td>
            <td style="width:160px">{$item['account']|"-----------"}</td>
            <td style="width:140px">{$item['time']}</td>
            <td style="width:120px"><a href="?condition=and--c.status--eq--{$item['status']}">{$status[$item['status']]}</a></td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
function update(id,status){
        $.post("{url:/commission/updateWithdrawStatus}",{id:id,status:status},function(data){
            if(data['status']=='success'){
            art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"</p>",2);
            setTimeout("tools_reload()",2000);
          }else{
            art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"</p>");
          }
        },'json');
        return false;
}
$("#condition").on("click",function(){
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/commission/commission_withdraw}',method:'get'});},data:{'c.withdraw_no':{name:'申请单号'},'c.name':{name:'用户名'},'c.status':{name:'状态',values:{0:'未处理',1:'已转账',2:'已作废'}},'c.withdraw_amount':{name:'提现金额'},'c.bank':{name:'开户银行'}}});
})
</script>
