{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$status=array("正常","锁定")}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
<!--    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/order/order_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>-->
    <a class="icon-delicious" href="{url:/commission/commission_count}"> 查看全部</a>
<!--    <a class="icon-eye-blocked" href="{url:/order/order_list/status/2}"> 未审核</a>
    <a class="icon-cogs" href="{url:/order/order_list/status/3}"> 执行中</a>-->

    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:55px">操作</th>
        <th style="width:80px">用户名</th>
        <th style="width:60px">可用佣金</th>
        <th style="width:60px">现持有佣金</th>
        <th style="width:60px">已提现佣金</th>
        <th style="width:60px">上次提现时间</th>
        <th style="width:60px">入推时间</th>
        <th style="width:60px">类型</th>
        <th style="width:60px">状态</th>
    </tr>
    {query:name=commission as c fields=c.*,u.name join=left join user as u on c.user_id eq u.id where=$where  id=$obj page=1 order= id desc}
        <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                <li><a class="icon-eye" href="{url:/commission/commission_list_order}?condition=and--c.user_id--eq--{$item['user_id']}"> 订单佣金记录</a></li>
                <li><a class="icon-coin" href="{url:/commission/commission_list_recharge}?condition=and--c.user_id--eq--{$item['user_id']}"> 充值佣金记录</a></li>
                <li><a class="icon-cog" href="{url:/customer/customer_invite/id/$item[user_id]}"> 查看下线</a></li>  
                {if:$item['status']==0}
                <li><a class="icon-lock" href="javascript:promoter({$item['user_id']},2);"> 锁定推客</a></li>
                {elseif:$item['status']==1}
                <li><a class="icon-unlocked" href="javascript:promoter({$item['user_id']},1);"> 解锁推客</a></li>
                {/if}
            </td>
            <td style="width:180px">{$item['name']}</td>
            <td style="width:160px">{$item['commission_available']}</td>
            <td style="width:140px">{$item['commission_possess_now']}</td>
            <td style="width:140px">{$item['commission_withdrew']}</td>
            <td style="width:60px">{$item['last_withdrew_time']}</td>
            <td style="width:60px">{$item['create_time']}</td>
            {if:$item['type']==0}
            <td style="width:60px"><a href="?condition=and--c.type--eq--0}">满足条件自动生成</a></td>
            {elseif:$item['type']==1}
            <td style="width:60px"><a href="?condition=and--c.type--eq--1}">后台人工添加</a></td>
            {/if}
            <td style="width:60px"><a href="?condition=and--c.status--eq--{$item['status']}">{$status[$item['status']]}</td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
function promoter(uid,status){
        $.post("{url:/commission/setPromoter}",{user_id:uid,status:status},function(data){
            if(data['status']=='success'){
            art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"</p>",2);
            setTimeout("tools_reload()",2000);
          }else{
            art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"</p>");
          }
        },'json');
        return false;
}
$("#condition").on("click",function(){
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/commission/commission_count}',method:'get'});},data:{'c.commission_available':{name:'可用佣金'},'c.commission_possess_now':{name:'现持有佣金'},'c.commission_withdrew':{name:'已提现佣金'}}});
})
</script>
