<!DOCTYPE html>
<html>
    <head>
        <!-- <meta http-equiv="content-type" content="text/html;charset=utf-8" /> -->
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="{url:#css/weui.min.css}">
        <link rel="stylesheet" href="{url:#css/jquery.weui.min.css}">
        <link rel="stylesheet" href="{url:#css/iconfont.css}">
        <link rel="stylesheet" href="{url:#css/common.css}?v=20170718">
        <link rel="stylesheet" href="{url:#css/font-awesome.min.css}">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_cudhf587rx561or.css">
        <script type="text/javascript" src="{url:#js/layer_mobile/layer.js}"></script>
        <style>
            body { /* IOS禁止微信调整字体大小 */
                -webkit-text-size-adjust: 100% !important;
                text-size-adjust: 100% !important;
                -moz-text-size-adjust: 100% !important;
            }
        </style>
        {echo:JS::import('jquery');}
        {set:$title = isset($seo_title)?$seo_title:(isset($site_title)?$site_title:'圆梦共享网');$title=TString::msubstr($title,0,12);}
        <title>{$title}</title>
    </head>
    <body>
        <div class="viewport">
            {widget:name=sub_navs action=header title=$title}
            {if:isset($msg) && is_array($msg)}
            <div class="ma20">
                <div class="message_{$msg[0]}">{$msg[1]}</div>
            </div>
            {/if}
            {__viewcontents}

            {set:$curtab=isset($curtab)?$curtab:Req::args('con');}
            {widget:name=tabbar action=item cart=$cart current=$curtab}
        </div>
        <script type="text/javascript" src="{url:#js/jquery.weui.min.js}"></script>
        <script type="text/javascript" src="{url:#js/common.js}"></script>
        <script>
               (function() {
                   if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
                       handleFontSize();
                   } else {
                       if (document.addEventListener) {
                           document.addEventListener("WeixinJSBridgeReady", handleFontSize, false);
                       } else if (document.attachEvent) {
                           document.attachEvent("WeixinJSBridgeReady", handleFontSize);
                           document.attachEvent("onWeixinJSBridgeReady", handleFontSize);  }
                   }
                   function handleFontSize() {
                       // 设置网页字体为默认大小
                       WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 });
                       // 重写设置网页字体大小的事件
                       WeixinJSBridge.on('menu:setfont', function() {
                           WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 });
                       });
                   }
               })();
        </script>
    </body>
</html>