{echo:JS::import('form')}
{set:$items=array("填写账户信息","验证身份","设置新密码","完成");}
{widget:name=sub_navs action=crumbs items=$items step=4 current=1}
<div class="regBg magic-bg">
    <div class="simple-box regCenter slider " style="width:950px;height:610px;left:20%;background-color: #fff">
        <form action="{url:/simple/forget_act}" class="myRegBox reg-box" method="post">
            <ul class="myform form" style="padding-top: 30px;">
                <li>
                    <span class="fa">用户：</span><input class="input" name="account" id="account" pattern="required" alt="不能为空" placeholder="邮箱/手机号码">
                </li>
                <li>
                    <span class="fa">验证码：</span><input  type="text" class="input-sm" name="verifyCode" id="verifyCode" alt="不能为空"  pattern="\w{4}" maxlength="4" style="width: 80px;" placeholder="验证码">
                    <img id="captcha_img"  src="{url:/simple/captcha/h/40/w/120}">
                    <label><a href="javascript:void(0)" class="red" onclick="document.getElementById('captcha_img').src = '{url:/simple/captcha/h/40/w/120/random/}' + Math.random()">换一张</a></label>
                </li>
                <li><span class="fa"> </span><input type="submit" style="padding: 0 40px;background: #C60033; color: #fff; height: 30px;line-height: 30px;border: 1px solid #C60033;" class="btn btn-main" value="找回密码"></li>

            </ul>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("input[pattern]").on("blur", function (event) {
            var current_input = $(this);
            var result = autoValidate.validate(event);
            if (result) {
                current_input.parent().removeClass('invalid').addClass('valid');
            } else {
                current_input.parent().removeClass('valid').addClass('invalid');
            }
            if (result) {
                current_input.next().remove();
                var id = $(this).attr("id");
                var value = $(this).val();
                var url = $(this).attr("id") == "account" ? "{url:/ajax/account/account/}" : "{url:/ajax/verifyCode/verifyCode/}";
                $.post(url + value, function (data) {
                    var msg = data['msg'];
                    var checked = false;
                    if (id == "account") {
                        checked = !data['status'];
                        msg = data['status'] ? "账户不存在" : "";
                    } else {
                        checked = data['status'];
                    }
                    if (checked) {
                        current_input.next().show();
                        current_input.parent().removeClass('invalid').addClass('valid');
                    } else {
                        current_input.parent().removeClass('valid').addClass('invalid');
                    }
                    autoValidate.showMsg({id: document.getElementById(id), error: !checked, msg: msg});
                }, 'json');
            }
        });
        {if:isset($invalid)}
        var form = new Form();
        form.setValue('account', '{$account}');
        autoValidate.showMsg({id:$("input[name='{$invalid['field']}']").get(0), error:true, msg:"{$invalid['msg']}"});
        {/if}

    });

</script>
