{echo:JS::import('form');}
{echo:JS::import('date');}
{echo:JS::import('editor');}

<h1 class="page_title">编辑充值活动</h1>
<form action="{url:/marketing/recharge_activity_save}" method="post" >
<div id="obj_form" class="form2">
      <dl class="lineD">
        <dt><b class="red">*</b> 活动名称：</dt>
        <dd>
            <input  type="text"  value="{$activity['name']}" class="small" readonly="readonly"/>
          <label> </label>
        </dd>
        </dl>
        <dl class="lineD">
        <dt><b class="red">*</b>充值类型：</dt>
        <dd>
          <select name="recharge_type">
            <option value="0" {if:$activity['recharge_type']==0}selected{/if}>全部</option>
            <option value="1" {if:$activity['recharge_type']==1}selected{/if}>金点</option>
            <option value="2" {if:$activity['recharge_type']==2}selected{/if}>银点</option>
          </select>
        </dd>
        </dl>
        <dl class="lineD">
        <dt><b class="red">*</b>开始时间：</dt>
        <dd>
          <input name="start_time" type="text" class="Wdate"   pattern="required"  onChange="" value="{$activity['start_time']}" onfocus="WdatePicker({minDate:'{echo:date('Y-m-d H:i:s')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
          <label></label>
        </dd>
        </dl>
        <dl class="lineD">
        <dt><b class="red">*</b>结束时间：</dt>
        <dd>
          <input name="end_time" class="Wdate" type="text" pattern="required" onChange="" value="{$activity['end_time']}"  onfocus="WdatePicker({minDate:'{echo:date('Y-m-d H:i:s')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
          <label></label>
        </dd>
        </dl>
        <dl class="lineD">
        <dt><b class="red">*</b>礼品兑换结束时间：</dt>
        <dd>
          <input name="accept_end_time" class="Wdate" type="text" pattern="required" onChange="" value="{$activity['accept_end_time']}"  onfocus="WdatePicker({minDate:'{echo:date('Y-m-d H:i:s')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
          <label></label>
        </dd>
        </dl>
         <dl class="lineD">
        <dt><b class="red">*</b>活动设置：</dt>
        {if:$activity['set']==""}
        <dd>
            满 <input name='limit_money[]' type="number">送<input name='send_present[]' type='text'>&nbsp;&nbsp; <a class='icon-plus'></a>&nbsp;&nbsp;<a class='icon-close'></a>
        </dd>
        {else:}
        {set:$setting = unserialize($activity['set'])}
        {foreach:items=$setting key=$k item=$v}
        <dd>
            满 <input name='limit_money[]' type="number" value="{$v['recharge_amount_limit']}">送<input name='send_present[]' type='text' value="{$v['present']}">&nbsp;&nbsp;{if:$k==0} <a class='icon-plus'></a>&nbsp;&nbsp;<a class='icon-close'></a>{/if}
        </dd>
        {/foreach}        
        {/if}
        </dl>
      </div>
      <!--活动描述 end-->
      <div style="text-align:center"><input type="submit" value="提交" class="button">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button"></div>
</form>
<script type="text/javascript">
  $(".icon-plus").click(function(){
      $(this).parent().parent().append("<dd>满 <input name='limit_money[]' type='number'>送<input name='send_present[]' type='text'></dd>");
  });
  $(".icon-close").click(function(){
      if($(this).parent().parent().children().length>2){
          console.log($(this).parent().parent().children(":last"));
          $(this).parent().parent().children(":last").remove();
      }else{
          layer.msg("必须保留一条");
      }
  });
</script> 