{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
{echo:JS::import('date');}
<form action="" method="post">
    <div class="tools_bar clearfix">
        <!--<a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>-->
<!--        <a  class="icon-plus" href="{url:/marketing/prom_goods_edit}" title="添加"> 添加</a><a href="javascript:;" class="icon-loop-2"
        onclick="tools_reload()"> 刷新</a>-->
    </div>
        <table class="default" >
            <tr>
                <!--<th style="width:30px">选择</th>-->
                <th style="width:70px">操作</th>
                <th style="width:100px">活动名称</th>
                <th style="width:140px">开始时间</th>
                <th style="width:140px">结束时间</th>
            </tr>
                {query:name=recharge_activity limit=2}
                <tr>
<!--                    <td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}">
                    </td>-->
                  <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                    {if:$item['id']==1}
                    <li><a class="icon-pencil" href="{url:/marketing/recharge_activity_edit/id/$item[id]}"> 编辑</a></li>
                    <li><a class="icon-eye" onclick="viewCustomer();"> 参与者</a></li>
                    {elseif:$item['id']==2}
                     <li><a class="icon-pencil" onclick="setOptions();"> 编辑</a></li>
                    {/if}
                </ul></div></div> </td>
                <td style="width:100px">{$item['name']}</td>
                <td style="width:140px">{$item['start_time']}</td>
                <td style="width:140px">{$item['end_time']}</td>
                </tr>
                {if:$item['id']==2||$item['name']=="充银点送银点"}
                <div id='recharge-activity-2' style='display: none;padding-left: 20px;'>
                        <dl class="lineD">
                       <dt><b class="red">*</b>开始时间：</dt>
                       <dd>
                         <input name="start_time" type="text" class="Wdate"   pattern="required"  onChange="" value="{$item['start_time']}" onfocus="WdatePicker({minDate:'{echo:date('Y-m-d H:i:s')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                         <label></label>
                       </dd>
                       </dl>
                       <dl class="lineD">
                       <dt><b class="red">*</b>结束时间：</dt>
                       <dd>
                         <input name="end_time" class="Wdate" type="text" pattern="required" onChange="" value="{$item['end_time']}"  onfocus="WdatePicker({minDate:'{echo:date('Y-m-d H:i:s')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                         <label></label>
                       </dd>
                       </dl>
                       <dl class="lineD">
                       <dt><b class="red">*</b>活动配置：</dt>
                       {if:$item['set']!=NULL}
                       {set:$set = unserialize($item['set'])}
                       <dd>
                           充值银点满<input type="text" name="min_amount" value="{$set['min']}"  pattern="required"   class="small" placeholder="最低充值金额">送与充值金额等量银点，<br>最高能赠送<input type="text" name="max_amount" pattern="required"  value="{$set['max']}" class="small" placeholder="最高赠送值">银点。
                       </dd>
                       {else:}
                       <dd>
                           充值银点满<input type="text" name="min_amount" value=""  pattern="required"   class="small" placeholder="最低充值金额">送与充值金额等量银点，<br>最高能赠送<input type="text" name="max_amount" pattern="required"  value="" class="small" placeholder="最高赠送值">银点。
                       </dd>
                       {/if}
                       </dl>
                         <dl class="lineD">
                       <dt><b class="red">*</b>银点限制：</dt>
                       <dd>
                           <label>赠送银点是否能用于华点订单</label><br>
                           <input type="radio" name="limit" value="1" checked="checked">不能
                         <input type="radio" name="limit" value="0">能
                         
                       </dd>
                       </dl>
                </div>
                 {/if}
                 {/query}
            </table>
    </form>

<script>
  $(".icon-close").click(function(){
      layer.confirm('您确定关闭吗？', {
        btn: ['确定','取消'] //按钮
      }, function(){
         $.post("{url:/marketing/close_recharge_activity}",{},function(result){
             if(result.status=='success'){
                 layer.msg("关闭成功",{icon:6},function(){
                     window.location.reload();
                 });
             } else{
                 layer.msg(result.msg,{icon:5}); 
             }
         },'json');
      }, function(){
      });
  });   
  function viewCustomer(){
      layer.open({
        title:"活动参与用户",
        type: 2,
        area: ['1200px', '600px'],
        fixed: false, //不固定
        maxmin: true,
        content: '{url:/marketing/recharge_activity_customer}'
      });
  }
  function setOptions(){
      //页面层
        layer.open({
          type: 1,
          title:'充银点送银点配置',
          area: ['380px', '430px'], //宽高
           btn: ['提交','取消'],
           yes:function(){
              var index = layer.load();
              var start_time = $("input[name='start_time']").val();
              var end_time = $("input[name='end_time']").val();
              var min_amount = $("input[name='min_amount']").val();
              var max_amount = $("input[name='max_amount']").val();
              var limit = $("input[name='limit']").val();
              $.post("{url:/marketing/recharge_activity_2_set}",{start_time:start_time,end_time:end_time,min_amount:min_amount,max_amount:max_amount,limit:limit},function(data){
                  layer.close(index);
                  if(data.status=="success"){
                      layer.msg("操作成功",function(){
                          window.location.reload();
                      });
                  }else{
                      layer.msg(data.msg);    
                  }
              },'json');
           },
           btn2:function(){
               
           },
          content: $("#recharge-activity-2"),
        });
  }
</script>