{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
{echo:JS::import('date');}
<style>
    #add table{
        width:100%;
    }
    #add th{
        text-align: center;
        width:70px;
        background-color: #eee;
    }
    #add td{
        padding-top: 30px;
        text-align: center;
    }
    #add textarea{
        margin:10px auto;
        margin-left:10px;
    }
 
</style>
<form action="" method="post">
    <div class="tools_bar clearfix">
        <!-- <a  class="icon-plus" href="javascript:;" onclick="add()"> 添加</a> -->
        <a href="javascript:;" class="icon-loop-2"
        onclick="tools_reload()"> 刷新</a></div>
        <table class="default" >
            <tr>
                <th style="width:30px">选择</th>
                <th style="width:50px">操作</th>
                <th style="width:200px">创建者</th>
                <th style="width:100px">红包金额</th>
                <th style="width:100px">剩余金额</th>
                <th style="width:200px">位置</th>
                <th style="width:200px">信息</th>
                <th style="width:100px">距离</th>
                <th style="width:100px">创建时间</th>
                <th style="width:100px">打开时间</th>
                <th style="width:60px">状态</th>   
            </tr>
                {query:name=redbag as b join=left join customer as c on b.user_id eq c.user_id fields=b.*,c.real_name order=b.id desc id=$obj page=1}
            <tr>
                <td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
                <td style="width:50px" class="btn_min">
                <div class="operat hidden">
                   <a  class="icon-cog action" href="javascript:;"> 处理</a>
                   <div class="menu_select">
                     <ul>
                      <li><a class="icon-eye" href="javascript:;" onclick="view({$item['id']})"> 查看</a></li>
                      <li><a class="icon-pencil" href="{url:/marketing/redbag_edit/id/$item[id]}"> 编辑</a></li>        
                      <li><a class="icon-switch"  href="javascript:;" onclick="change_status({$item['id']},4,null)"> 完成</a></li>               
                      <li><a class="icon-remove" href="javascript:;" onclick="change_status({$item['id']},6,null)"> 作废</a></li>            
                      <li><a class="icon-attachment"  href="javascript:;" onclick="change_status({$item['id']},null,'note')"> 备注</a></li>
                    </ul>
                  </div>
                </div> 
                </td>
                <td>{$item['real_name']}</td>
                <td>{$item['total_amount']}</td>
                <td>{$item['amount']}</td>
                <td>{$item['location']|'未知'}</td>
                <td>{$item['info']}</td>
                <td>{$item['distance']}</td>
                <td>{$item['create_time']}</td>
                <td>{$item['open_time']}</td>
                <td>{$open_status[$item['status']]}</td>
            </tr>
                {/query}
            </table>
    </form>
    <div class="page_nav">
        {echo:$obj->pageBar()}
    </div>