{echo:JS::import("form")}
<div style="overflow: auto;width:900px;height: 450px;">
	<h3 class="lineD">路线信息：</h3>
	<table class="default" id="attr_values">
		<tr><td width="40"></td><td width="120">线路id</td><td>线路名</td><td width="140">城市</td><td width="60">价格</td><td width="60">日期</td><td width="60">小计</td></tr>
		{query:name=travel_way as od fields=* where=id eq $way_id}
		
		<tr><td><img src="{echo:Common::thumb($item['img'],100,100);}" width="40"></td><td>{$item['id']}</td><td>{$item['name']}</td><td>{$item['city']}</td><td>{$item['price']}</td>{$item['date']}</tr>
		{/query}
	</table>
	<h3 class="lineD mt10">购买人信息：</h3>
	<table class="default">
		{query:name=travel_order as o fields=cu.real_name,us.name,us.email,cu.phone,cu.mobile,cu.addr join=left join customer as cu on o.user_id eq cu.user_id left join user as us on o.user_id eq us.id  where=o.id eq $id}
		<tr><th width="100">用户名：</th><td>{$item['name']}</td><th width="100">姓名：</th><td>{$item['real_name']}</td></tr>
		<tr><th>手机：</th><td>{$item['mobile']}</td><th>电话：</th><td>{$item['phone']}</td></tr>
		<tr><th>邮箱：</th><td>{$item['email']}</td><th> 地址：</th><td>{$item['addr']}</td></tr>
		{/query}
	</table>


		{query:name=travel_order as od fields=od.* where=od.id eq $id}
		{set:$amount = $item['order_amount'];}
		<h3 class="lineD mt10">订单信息：</h3>
		<table class="default">
		<tr><th width="100">订单编号：</th><td>{$item['order_no']}</td><th width="100">下单时间：</th><td>{$item['sign_time']}</td></tr>
		<tr><th width="100">订单金额：</th><td>{$item['order_amount']}</td></tr>
		</table>

		<h3 class="lineD mt10">联系人信息：</h3>
		<table class="default">
		<tr><th width="100"><b class="red">*</b>联系人姓名：</th><td>{$item['contact_name']}</td><th width="100"><b class="red">*</b>联系手机：</th><td>{$item['contact_phone']}</td>
		<th width="100"><b class="red">*</b>证件号：</th><td>{echo: substr($item['id_no'],0,1).'**************'.substr($item['id_no'],-1)}</td></tr>
		<tr><th width="100">证件照</th>
		{list:$items=explode(',',$item['idcard_url'])}
	      <td class="idcard_url">
	         <img src="{$item}" width="100" height="60" />
	      </td>
	      {/if}
        </tr>
		</table>
		{/query}

</div>

<script type="text/javascript">
 $("#areas").Linkage({ url:"{url:/ajax/area_data}",selected:[{$item['province']},{$item['city']},{$item['county']}],callback:function(data){
    var text = new Array();
    var value = new Array();
    for(i in data[0]){
      if(data[0][i]!=0){
        text.push(data[1][i]);
        value.push(data[0][i]);
      }
    }
    $("#area").val(value.join(','));
    FireEvent(document.getElementById("area"),"change");
    }});

</script>
