
<script src="{url:#js/tinyslider.js}"></script>
<script type="text/javascript" charset="UTF-8" src="{url:#js/index.js}"></script>
<script type="text/javascript" charset="UTF-8" src="{url:#js/pic.js}"></script>
<style>
    .wrap {height:396px;position:relative;overflow:hidden;margin:0 auto;}
    .slidebox {width:100%;height:396px;}
    .slidebox .slideboxli {width:100%;height:396px;margin: 0 auto;padding: 0;background-position: 50% 0%; background-repeat: no-repeat;}
    .slidebox .slideboxli a {display: block;width: 100%;height: 100%;margin:0 auto}
    .dot {position:absolute;width:100%;height:30px;text-align:center;bottom:0;left:0;}
    .dot p {margin-right:10px;}
    .dot b {width:20px;height:5px;color:#333;display:inline-block;border:1px solid #fff;background:#fff;text-align:center;line-height:17px;margin:0 3px;margin-top:6px;cursor:pointer;font-weight:normal;}
    .dot .cur {background:#F63;color:#fff;border:1px solid #f63;}
    .mod em{
        color: #333;
        height: 18px;
        overflow: hidden;
        display: block;
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
    }
    .mod {
        float: none;
        overflow: hidden;
        height: 60px;
        display: block;
    }
    .mod p{
        color: rgba(105, 98, 98, 0.55);
        margin-top: 6px;
        height: 32px;
        font-size: 10px;
        line-height: 16px;
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
    }
    .sidebar-notice-list p{
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
    }
    .headline-img{
        float: left;
        min-height: 30px;
        max-height: 60px;
        margin-right:8px;
        width: 60px;
        transition: opacity .2s;
    }
</style>
<SCRIPT type=text/javascript>
    $(function () {
        //affect:4
        $(".af4").slide({
            affect: 4,
            time: 10000,
            speed: 400,
        });
    })
</SCRIPT>
<div class="banner ">
    <div class="wrap af4" style="height: 396px;" config-data={ "direction": "left"} >

        <ul class="slidebox cycle-slideshow" >
            {query:name=ad where=number eq 'qgiowmka-us4k-p0up-vs3c-blkqmtb7'}
            {set:$lists = unserialize($item['content']);}
            {list:items=$lists item=$ad}
            <li class="slideboxli" style="background-image:url({url:@$ad[path]});background-color:{$ad['title']}; ">
                <a href="{url:$ad[url]}" target="_blank"></a>
            </li>
            {/list} 
            {/query}
        </ul>

        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-body">
                    <div class="sidebar-title">
                        <h3 style="height:23px;"><strong style="color:#ed5118;">商城动态</strong><a style="position:absolute;right: 18px;font-size: 12px;font-weight: 400;cursor: pointer;" href="{url:/index/article_list/id/1}">更多>></a></h3>
                    </div>
                    <div class="sidebar-notice-list" style="height:85px;border:none;">
                        {query:name=article where=category_id eq 1 order=id desc limit=3}
                        <p><i class="fa fa-newspaper-o red"></i>&nbsp;<a href="{url:/index/article/id/$item[id]}" target="_blank">{echo:TString::msubstr($item['title'],0,15)}</a></p>
                        {/query}
                    </div>
                     <ul class="sidebar-btn-list clearfix">
                        <li><a href="{url:/category--4.html}" target="_blank" rel="nofollow" title="大健康" style="font-weight: 500">
                                <i class="iconfont icon-dajiankang" style="font-weight: 500"></i><p>大健康</p></a></li>
                        <li><a href="{url:/category--22.html}" target="_blank" rel="nofollow" title="食之趣味" style="font-weight: 500">
                                <i class="iconfont icon-shi" style="font-weight: 500"></i><p>食之趣味</p></a></li>
                        <li><a href="{url:/category--65.html}" target="_blank" rel="nofollow" title="家居收藏" style="font-weight: 500">
                                <i class="iconfont icon-zhu_jia" style="font-weight: 500"></i><p>家居收藏</p></a></li>
                        <li><a href="{url:/category--66.html}" target="_blank" rel="nofollow" title="数码电器" style="font-weight: 500">
                                <i class="iconfont icon-jiadian" style="font-weight: 500" ></i><p>数码电器</p></a></li>
                        <li><a href="{url:/ucenter/attention}" target="_blank" rel="nofollow" title="收藏">
                                <i class="iconfont icon-follow" style="font-weight: 500"></i><p>收藏</p></a></li>
                        <li><a href="{url:/simple/cart}" target="_blank" rel="nofollow" title="购物车" style="font-weight: 500">
                                <i class="iconfont icon-addcart" style="font-weight: 500"></i><p>购物车</p></a></li>
                    </ul>
                     <!--商城头条开始-->
                    <div class="sidebar-bottom" style="position: relative;padding: 14px; height: 90px;overflow: hidden;">
                        <h3 style="height:23px;border-bottom: 1px solid #eee;"><strong style="color:#ed5118;">商城头条</strong><a style="position:absolute;right: 4px;font-size: 12px;font-weight: 400;cursor: pointer;" href="{url:/index/article_list/id/2}">更多>></a></h3>
                        <div class="headline_bd" style="position: relative;margin-top:5px;transition: none;height: 73px;overflow: hidden;width: 228px; ">
                            <div class="headline_change" style="position: absolute; overflow: hidden; width:238px;top: 0px; transition-duration: 0.3s; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; opacity: 1;">
                            {query:name=article where=category_id eq 2 order=id desc limit=5}
                            <div class="mod" style="float: none; overflow: hidden; height: 73px; display: block;">
                               <a href="{url:/index/article/id/$item[id]}">
                                <img class="headline-img" style="width:60px;" src="{url:@$item[thumb_img]}" alt="">
                                 <strong>{$item['title']}</strong>
                                <p>{$item['summary']}</p>
                             </a>
                            </div>
                            {/query}
                     </div>
                     </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
{if:$pointflash_count>0 or $flash_count>0}
{set:$limit_count = $pointflash_count<=3?3-$pointflash_count:0}
<div class="top-show container">
    
    <div class="tab">
        <ul class="tab-head clearfix">
            <li><div>抢购活动</div><i></i></li>
<!--            <li><div>疯狂团</div><i></i></li>-->
        </ul>
        <div class="tab-content">
            <div class="sub-1">
                {query:name=ad where=number eq 'g6xk7lcd-wwt4-ny1v-ayzl-3hxcequs'} 
                {set:$lists = unserialize($item['content']);} 
                {list:items=$lists item=$ad}
                <a href="{url:$ad[url]}" target="_blank"><img src="{url:@$ad[path]}" alt="" ></a>
                {/list} 
                {/query}
            </div>
            <div class="sub-2" style="height:248px;">
                <ul class="clearfix" style="border: 1px solid #e4e4e4;">
                    <li style="width:415px;height:248px;float:left!important;">
                        <div class="slider clearfix" style="height: 248px;" config-data={ "direction": "left"}>
                            <ul class="cycle-slideshow" >
                                {query:name=ad where=number eq '56os1lmq-1kat-lw7q-hsw3-dzk2exkp'} 
                                {set:$lists = unserialize($item['content']);}
                                {list:items=$lists item=$ad}
                                <li style="background-image:url({url:@$ad[path]}) "><a href="{url:$ad[url]}" target="_blank"></a></li>
                                {/list}
                                {/query}
                            </ul>
                        </div>
                    </li>
                    {if:$pointflash_count>0}
                    {query:name=pointflash_sale as ps fields=ps.*,go.name,go.img,go.sell_price join=left join goods as go on ps.goods_id eq go.id order=ps.is_end asc,ps.id desc limit=3}
                    <li class="col-{echo:$key+1}" style="float:left!important;    border-top: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4;">
                        <dl class="">
                            <dd class="title"><a href="{url:/index/pointflash/id/$item[id]}"><span>{$item['name']}</span>{echo:TString::msubstr($item['title'],0,4,'utf-8','')}</a></dd>
                            <dd class="img">
                                <a href="{url:/index/pointflash/id/$item[id]}" target="_blank"><img src="{echo:Common::thumb($item['img'],500,500,'fwfh');}" width=100 height="100"></a>
                            </dd>
                            {set:$set = current(unserialize($item['price_set']));}
                            <span class="chophandprice">{$currency_symbol}{$set['cash']}+{$set['point']}积分</span>
                        </dl>
                    </li>
                    {/query}
                    {/if}
                    {if:$flash_count>0 and $pointflash_count < 3}
                    {query:name=flash_sale as gb fields=*,gb.id as id join=left join goods as go on gb.goods_id eq go.id order=gb.is_end desc limit=$limit_count id=$flashbuy}
                    <li class="col-{echo:$key+1}" style="float:left!important;    border-top: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4;">
                        <dl class="">
                            <dd class="title"><a href="{url:/index/flashbuy/id/$item[id]}"><span>{$item['tag']}</span>{echo:TString::msubstr($item['title'],0,4,'utf-8','')}</a></dd>
                            <dd class="intro">{echo:TString::msubstr($item['subtitle'],0,15)}</dd>
                            <dd class="img">
                                <a href="{url:/index/flashbuy/id/$item[id]}" target="_blank"><img src="{echo:Common::thumb($item['img'],500,500,'fwfh');}" width=100 height="100"></a>
                            </dd>
                            <span class="chophandprice">{$item['price']}{$currency_unit}</span>
                        </dl>
                    </li>
                    {/query}
                    {/if}
                </ul>

            </div>
            <div class="sub-2 sub-3" style="height:200px; border-bottom: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4; width:1038px;">
                <ul class="clearfix" style="    border-bottom: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;">
                    {query:name=flash_sale as gb fields=*,gb.id as id join=left join goods as go on gb.goods_id eq go.id order=is_end , goods_num desc limit=$limit_count,5 id=$groupbuy}
                    <li class="col-{echo:$key+1}">
                        <dl class="">
                            <dd class="title"><a href="{url:/index/flashbuy/id/$item[id]}"><span>{$item['tag']}</span>{echo:TString::msubstr($item['title'],0,4,'utf-8','')}</a></dd>
                            <dd class="intro">{echo:TString::msubstr($item['subtitle'],0,15)}</dd>
                            <dd class="img">
                                <a href="{url:/index/flashbuy/id/$item[id]}" target="_blank"><img src="{echo:Common::thumb($item['img'],500,500,'fwfh');}"  style="width:100px;height:100px;"></a>
                            </dd>
                            <span class="chophandprice">{$item['price']}{$currency_unit}</span>
                        </dl>
                    </li>
                    {/query}
                </ul>

            </div>
        </div>
    </div>
    
</div>
{/if}
<div class="container">

    {query:name=ad where=number eq '6yzli2kk-iuff-belh-mbx4-oehcdt3x'} 
    {set:$lists = unserialize($item['content']);} 
    {list:items=$lists item=$ad}
    <a href="{url:$ad[url]}" target="_blank"><img src="{url:@$ad[path]}" alt="" style="width: 1240px;height: 100px;"></a>
    {/list} 
    {/query}
</div>

<!-- S 商品展示 -->
<div class="lists container">
    {set:$cate_index=0;} {list:items=$category item=$categ}
    {if:$categ['nav_show']==1}
    {set:$cate_index++;}
    <div>
        <div class="title-nav">
            <span class="floor-tag">{$cate_index}F / </span>
            <span class="title"><a href="{url:/index/category/cid/$categ[id]}" target="_blank">{$categ['title']}</a></span>
        </div>
        <div class="item">
            {query:name=ad where=name like '%category-$categ[id]-pc%' and is_open eq 1}
            {set:$focus = array_slice(unserialize($item['content']), 0, 1)}
            {set:$ads = array_slice(unserialize($item['content']), 1, -2)}
            {set:$corners = array_slice(unserialize($item['content']), -2)}
            <div class="sub-1">
                <div>
                    {list:items=$focus item=$ad}
                    <a href="{$ad['url']}" target="_blank"><img src="{url:@$ad[path]}" alt=""></a>
                    {/list}
                </div>
                <div>
                    <ul class="category-tags">
                        {list:items=$categ['child'] item=$child}
                        <li><a href="{url:/index/category/cid/$child[id]}" target="_blank">{$child['title']}</a></li>
                        {/list}
                    </ul>
                </div>
            </div>
            <div class="sub-2">

                <div class="slider clearfix" style="height: 298px;width: 600px; float:left;" config-data={ "direction": "left"}>
                    <ul class="cycle-slideshow">
                        {list:items=$ads item=$ad}
                        <li style="background-image:url({echo:Common::thumb($ad['path'],600,298);});width:600px;"><a style='width:600px;' href="{url:$ad[url]}" target="_blank"></a></li>
                        {/list}
                    </ul>
                </div>
                <div class="sub-corner">
                    <ul>

                        {list:items=$corners item=$ad}
                        <li><a href="{$ad['url']}" target="_blank"><img src="{url:@$ad[path]}" alt="" ></a></li>
                        {/list}
                    </ul>
                </div>

                <ul class="index-products">
                    {set:$limit = ($index["category_".$categ['id']]-1)*5;}
                    {set:$path_like = "like '$categ[path]%'";} {query:name=goods where= is_online eq 0 and category_id in (select id from tiny_goods_category where path $path_like) order=sort desc limit=$limit,5}
                    <li style="border-right:0">
                        <dl class="product" style="">
                            <dt class="img">
                                <a href="{url:/index/product/id/$item[id]}" target="_blank"><img src="{echo:Common::thumb($item['img'],140,140,'fwfh');}" ></a>
                            </dt>
                            <dd class="title" style="overflow: hidden;height: 32px;font-size: 12px;line-height: 18px;"><a href="{url:/index/product/id/$item[id]}">{$item['name']}</a></dd>
                            <dd class="price">{$item['sell_price']}{$currency_unit}</dd>
                        </dl>
                    </li>
                    {/list}
                </ul>
            </div>
            {/query}
        </div>
    </div>
    {/if}
    {/list}
    <!-- E 商品展示 -->
    <div class="container">

        {query:name=ad where=number eq 'ce4qzrq9-titu-8jov-ysvb-de1xghp7'}
        {set:$lists = unserialize($item['content']);} 
        {list:items=$lists item=$ad}
        <a href="{url:$ad[url]}" target="_blank"><img src="{url:@$ad[path]}" alt="" style="width: 1240px;height: 100px;"></a>
        {/list} 
        {/query}
    </div>
    <script>
        var headline_count = $(".headline-img").length;//3
        var headline_show = 1;
        $(function(){
           if(headline_count>1){
           var headline_interval =  setInterval(function(){
                headline_show++;
                var next_position =  (headline_show-1)*73;
                $(".headline_change").css("transform","translate3d(0px, -"+next_position+"px, 0px)");
                if(headline_show==headline_count){
                    headline_show=0;
                }
            },"4000");
           }
    });
    </script>