{echo:JS::import('dialog?skin=tinysimple');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<link type="text/css" rel="stylesheet" href="{url:#css/product.css}" />
<style>
    .tab-fixed{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width:1000px;
            background-color: white;
        }
        .photos{
            padding-left: 27px;
        }
        .photos img{
            cursor:pointer;
        }
</style>
<script type='text/javascript' src="{url:#js/jquery.enlarge.js}"></script>
<div class="bread-crumb">
</div>
<div class="container">
    <!--S 产品展示-->
    <div id="product-intro">
        <div class="sub-1">
            <div id="gallery">
                <a class="turn-left ie6png"></a>
                <div class="show-list">
                    <div style="position: absolute;height:800px;">
                        {list:items=unserialize($goods['imgs']) item=$img }
                        {if:$key <5}
                        <a class="small-img" href="javascript:;">
                            <img src="{echo:Common::thumb($img,420,420,'fwfh')}"  source="{url:@$img}" width="60" height="60"></a>
                        {/if}
                        {/list}
                    </div>
                </div>
                <a class="turn-right ie6png"></a>
            </div>
        </div>
        <div class="sub-2">
            <div id="preview" >
                <div id="imgmini" style="width: 420px;height:420px;">
                    <img class="big-pic" width="420" height='420' src="{echo:Common::thumb($goods['img'],420,420,'fwfh')}" source="{url:@$goods[img]}"></div>
            </div>
        </div>

        <div class="sub-3">
            <ul class="product-info">
                <li class="product-title">{$goods['name']}</li>
                <li class="product-littitle" style="font-size: 16px;color: #DD2727;">{$goods['subtitle']}</li>
                <li class="product-no"><label>货号：</label><span id="pro-no">{$goods['goods_no']}</span></li>
                <!-- <li class="referenceprice"><span class="gray">参考价：</span><span id="prom_price" class="price" formula="{$prom['parse']['minus']}">
                        <s>{$goods['market_price']}</s> {$currency_unit}</span></li> -->
                <li class="red">
                </li>
                <li class="product-price" style="padding-bottom: 20px;"><span class="gray">微购价：</span>
                <span id="sell_price" class="price">¥{$price['cash']}</span></li>
                {if:$goods['store_nums']>0}
                 <li class="clearfix"><label></label><span>库存&nbsp;&nbsp;</span><span id="goods_nums">({$goods['store_nums']})</span></li> 
                {else:}
                    <li class="clearfix"><label><b class="f16">无货</b></label><span>此商品暂时售完</span>  
                {/if}
            </ul>
            {set:$specs_array = unserialize($goods['specs']);}
            {if:count($specs_array)>0}
            <fieldset class="line-title specifications">
                <legend align="center" class="txt">商品规格</legend>
            </fieldset>
            {else:}
            <fieldset class="line-title">
            </fieldset>
            {/if}
            <div class="spec-info">
                <div class="spec-close"></div>
                {list:items=unserialize($goods['specs']) item=$spec}
                <dl class="spec-item clearfix">
                    <dt>{$spec['name']}</dt>
                    <dd>
                        <ul class="spec-values clearfix" spec_id="{$spec['id']}">
                            {list:items=$spec['value'] item=$value}
                            <li data-value="{$spec['id']}:{$value['id']}">{if:$value['img']==''}<span>{$value['name']}</span>{else:}
                                <img src="{echo:Common::thumb($value['img'],100)}"  width="36" height="36">
                                <label>{$value['name']}</label>{/if}<i></i></li>
                            {/list}
                        </ul>
                    </dd>
                </dl>
                {/list}
                <dl class="spec-item clearfix" style="height:40px;line-height: 40px;">
                    <dt style="font-size: 16px;">购买量</dt>
                    <dd class="buy-num" >
                        <div style="width: 45px;height: 40px;float: left;">
                            <input style="display: block;width: 40px; height: 35px; border: 1px solid #c8c7cc;text-align: center; font-size: 18px;line-height: 35px;overflow: hidden;" id="buy-num" name="buy_num" value="1"  maxlength=5 readonly="readonly"> 
                        </div>
                        <div style="width: 20px;height: 35px;float: left;">
                            <a href="javascript:;" class="disable">&blacktriangle;</a>                 
                            <a href="javascript:;" class="disable">&dtrif;</a>
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="vm">库存：<b id="store_nums" class="red">{$goods['store_nums']}</b></span></dd>
                </dl>
                <dl id="spec-msg" class="spec-item clearfix" style="display: none;">
                    <dt></dt>
                    <dd ><p class="msg"><i class="iconfont icon-alert-16"></i><span >请选择您要购买的商品规格</span></p>
                    </dd>
                </dl>
                <dl class="spec-item clearfix">
                    <dd class="product-btns">
                        <a href="javascript:;" id="buy-now" class="btn btn-warning"><i class="icon-basket-32 ie6png"></i><span>立即购买</span></a>&nbsp;&nbsp;
                    </dd>
                </dl>
                <dl>
                    <dd><a style="margin: 0 10px;">保障</a>
                        <a style="margin: 0 10px;"><i class="iconfont icon-gou" style="color:#66A55B;padding:0 5px;"></i>正品保障</a>
                        <a style="margin: 0 10px;"><i class="iconfont icon-gou" style="color:#66A55B;padding:0 5px;"></i>假一赔三</a>
                        <a style="margin: 0 10px;"><i class="iconfont icon-gou" style="color:#66A55B;padding:0 5px;"></i>按时发货</a></dd>
                </dl>
                <dl>
                    <dd style="padding-top: 20px;"><a style="margin: 0 10px;vertical-align: top">支付</a>
                        <a style="">
                        <img src="{url:@static/images/zhifubao.png}" style='height:20px;margin-left:13px;' title="支付宝支付">
                       <img src="{url:@static/images/weixin.png}" style='height:20px;margin-left:2px;' title="微信支付">
                       <img src="{url:@static/images/yinlian.png}" style='height:20px;' title="银联支付">
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <!--S 商品详情-->
    <div class="clearfix">
        <div class="sub-right">
            <div class="goods-detail clearfix">
                <div class="content">
                    <div class="tab clearfix" initdisabled='1'>
                        <div id="tab_select">
                        <ul class="tab-head" id="maintab">
                            <li class="current" rel="detail-list">商品详情<i></i></li>
                            <li rel="comment-list">商品评价<i></i></li>
                            <li rel="consult-list">商品咨询<i></i></li>
                            <li rel="protection-list">售后服务<i></i></li>
                        </ul>
                        </div>
                        <div class="tab-body" id="maintabbody" style="min-height: 200px;">
                            <!--S 商品详情-->
                            <div class=" clearfix" id='detail-list' style="">
                                <div class="">
                                    <ul class="attr-list ">
                                        <li>商品名称：{$goods['name']}</li>
                                        <li>商品编号：{$goods['pro_no']}</li>
                                        {if:$goods['weight']!=0&&$goods['weight']!=""}<li>商品重量：{$goods['weight']}g</li>{/if}
                                        <li>上架时间：{$goods['create_time']}</li>
                                        {list:items=$goods_attrs}
                                        <li>{$item['name']}：{$item['vname']}</li>
                                        {/list}
                                    </ul>
                                </div>
                                <div class="description  clearfix" >
                                    {$goods['content']}
                                </div>
                                <div class="warmprompt">
                                    <p>网站所售产品均为厂商正品，如有任何问题可与我们客服人员联系，我们会在第一时间跟您沟通处理。我们将争取以更具竞争力的价格、更优质的服务来满足您最大的需求。开箱验货；请根据本页面开箱验货标准进行验收。v如存在包装破损等影响签收的因素，请您可以拒收全部商品（包括赠品）；为了保护您的权益，建议您尽量不要委托他人代为签收；如由他人代为签收商品而没有在配送人员在场的情况下验货，则视为您所订购商品的包装无任何问题。</p>
                                    <h2>温馨提示</h2>
                                    <p>由于部分商品包装更换较为频繁，因此您收到的货品有可能与图片不完全一致，请您以收到的商品实物为准，同时我们会尽量做到及时更新，由此给您带来不便多多谅解，谢谢！</p>
                                </div>
                                <!--S ajax获取的商品评价-->
                                <div id="productcomment"></div>

                            </div>
                            <!--E 商品详情-->
                            <!--S 商品评价-->
                            <div class="comment-list" id="comment-list"  style="display:none;">
                                <div class="comment-top clearfix">
                                    <ul>
                                        <li>
                                            <div class="tc comment-score"><span class="tc circle ">{$comment['a']['percent']}<i style="font-size: 18px;">%</i></span>- 好评度 -</div>
                                            <div class="mt10 score ie6png"><i style="width:{$comment['a']['percent']}%"></i></div>
                                        </li>
                                        <li class="comment-grade">
                                            <div>
                                                <h1>共有({$comment['total']})人参考评价</h1>
                                                <dl class="comment-percent">
                                                    <dt>很好</dt>
                                                    <dd class="bar"><i style="width:{$comment['a']['percent']}%"></i></dd>
                                                    <dd class="percent">{$comment['a']['percent']}%</dd>
                                                    <dt>较好</dt>
                                                    <dd class="bar"><i style="width:{$comment['b']['percent']}%"></i></dd>
                                                    <dd class="percent">{$comment['b']['percent']}%</dd>
                                                    <dt>一般</dt>
                                                    <dd class="bar"><i style="width:{$comment['c']['percent']}%"></i></dd>
                                                    <dd class="percent">{$comment['c']['percent']}%</dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li class="comment-action" style="padding-top: 0;">
                                            <div style="background: #F5F5F5;height: 160px;">
                                                {set:$uid = isset($user['id'])?$user['id']:0;}
                                                {query:name=review where=goods_id eq $id and user_id eq $uid and status eq 0 limit=1 /}
                                                {if:$items}
                                                {list:}
                                                <a href="{url:/index/review/id/$item[id]}" class="btn btn-main">我要评论</a>
                                                {/list}
                                                {else:}
                                                <a href="javascript:;" class="btn btn-gray  disabled">我要评论</a>
                                                {/if}
                                                <p class="mt10">仅对购买过该商品的用户开放！</p>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment tab" id="comment">
                                    <ul class="tab-head">
                                        <li>全部({$comment['total']})<i></i></li>
                                        <li>很好({$comment['a']['num']})<i></i></li>
                                        <li>较好({$comment['b']['num']})<i></i></li>
                                        <li>一般({$comment['c']['num']})<i></i></li>
                                    </ul>
                                    <div class="tab-body">
                                        <div id="comment-all" class="js-template">
                                            <div class="page-content">
                                                <div class="comment-item">
                                                    <div class="consult-q">
                                                        <div class="head">
                                                            <img src="{avatar}" width="80" height="80" />
                                                            <strong>{uname}</strong>
                                                            <i class="arrow"><b></b></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="top" >
                                                                <span class="score "><i style="width:{point}%"></i></span>
                                                                <span class="spanpadding">评分</span>
                                                                <span class="rating rating{star}">
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                </span>
                                                                <span class='fr'>{comment_time|今天}</span>
                                                            </p>
                                                            <p><span class="spanpadding">评论</span>{content|默认评论}</p>
                                                            <p><span class="spanpadding">规格</span><span class="speclist">{speclist}</span>
                                                                <!--<span class="goodbtn fr" ><i class="iconfont icon-zan"></i>赞（0）</span>-->
                                                            </p>
                                                            <p class="photos" id="allphotos{id}">
                                                                <span class="spanpadding"></span>
                                                                {photos}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                      
                                            <div class="page-nav"></div>
                                        </div>

                                        <div id="comment-a" class="js-template">
                                            <div class="page-content">
                                                <div class="comment-item">
                                                    <div class="consult-q">
                                                        <div class="head">
                                                            <img src="{avatar}" width="80" height="80" />
                                                            <strong>{uname}</strong>
                                                            <i class="arrow"><b></b></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="top" >
                                                                <span class="score "><i style="width:{point}%"></i></span>
                                                                <span class="spanpadding">评分</span>
                                                                <span class="rating rating{star}">
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                </span>
                                                                <span class='fr'>{comment_time|今天}</span>
                                                            </p>
                                                            <p><span class="spanpadding">评论</span>{content|默认评论}</p>
                                                            <p><span class="spanpadding">规格</span><span class="speclist">{speclist}</span>
                                                                <!--<span class="goodbtn fr" ><i class="iconfont icon-zan"></i>赞（0）</span>-->
                                                            </p>
                                                            <p class="photos" id="aphotos{id}">
                                                                <span class="spanpadding"></span>
                                                                {photos}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="page-nav"></div>
                                        </div>

                                        <div id="comment-b" class="js-template">
                                            <div class="page-content">
                                                <div class="comment-item">
                                                    <div class="consult-q">
                                                        <div class="head">
                                                            <img src="{avatar}" width="80" height="80" />
                                                            <strong>{uname}</strong>
                                                            <i class="arrow"><b></b></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="top" >
                                                                <span class="score "><i style="width:{point}%"></i></span>
                                                                <span class="spanpadding">评分</span>
                                                                <span class="rating rating{star}">
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                </span>
                                                                <span class='fr'>{comment_time|今天}</span>
                                                            </p>
                                                            <p><span class="spanpadding">评论</span>{content|默认评论}</p>
                                                            <p><span class="spanpadding">规格</span><span class="speclist">{speclist}</span>
                                                                <!--<span class="goodbtn fr" ><i class="iconfont icon-zan"></i>赞（0）</span>-->
                                                            </p>
                                                            <p class="photos" id="bphotos{id}">
                                                                <span class="spanpadding"></span>
                                                                {photos}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="page-nav"></div>
                                        </div>

                                        <div id="comment-c" class="js-template">
                                            <div class="page-content">
                                                <div class="comment-item">
                                                    <div class="consult-q">
                                                        <div class="head">
                                                            <img src="{avatar}" width="80" height="80" />
                                                            <strong>{uname}</strong>
                                                            <i class="arrow"><b></b></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="top" >
                                                                <span class="score "><i style="width:{point}%"></i></span>
                                                                <span class="spanpadding">评分</span>
                                                                <span class="rating rating{star}">
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                    <span>☆</span>
                                                                </span>
                                                                <span class='fr'>{comment_time|今天}</span>
                                                            </p>
                                                            <p><span class="spanpadding">评论</span>{content|默认评论}</p>
                                                            <p><span class="spanpadding">规格</span><span class="speclist">{speclist}</span>
                                                                <!--<span class="goodbtn fr" ><i class="iconfont icon-zan"></i>赞（0）</span>-->
                                                            </p>
                                                            <p class="photos" id="cphotos{id}">
                                                                <span class="spanpadding"></span>
                                                                {photos}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="page-nav"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--E 商品评价-->
                            <!--S 商品咨询-->
                            <div class="consult clearfix" id='consult-list'  style="display:none;">
                                <form>
                                    <div>
                                        <div class="txt-panel mb5">
                                            <textarea name="content" id="consult-content"  class="p5 "></textarea>
                                        </div>
                                        <div class="consult-footer"><span class="fl"><input type="text" class="input" name="verifyCode" id="verifyCode" style="width: 80px;" ><img id="captcha_img"  src="{url:/simple/captcha/h/40/w/120}"><label><a href="javascript:void(0)" class="red" onclick="document.getElementById('captcha_img').src = '{url:/simple/captcha/h/40/w/120/random/}' + Math.random()" id="change-img">换一张</a></label></span>
                                            <span class="fr">
                                                <input type="submit" id="consult" value="咨询" class="btn btn-main"> <input type="reset" value="取消" class="btn btn-gray">
                                            </span>
                                        </div>
                                    </div>
                                </form>
                                <div id="goods-consult" class="js-template">
                                    <div  class="page-content" id="page-content">
                                        <div class="consult-item">
                                            <div class="consult-q">
                                                <div class="head">
                                                    <img src="{avatar}" style="width:80px;height:80px;">
                                                    <strong>{uname|网友}</strong>
                                                    <i class="arrow"><b></b></i>
                                                </div>
                                                <div class="consult-content">{question}
                                                    <p class="tr">{ask_time}</p>
                                                </div>
                                            </div>
                                            <div class="consult-a {content||hidden}" >
                                                <div class="head">
                                                    <img src="{url:#images/no-img.png}" width="80" height="80">
                                                    <strong>商城客服</strong>
                                                    <i class="arrow"><b></b></i>
                                                </div>
                                                <div class="consult-content">{content}
                                                    <p class="tl">{reply_time|今天}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-nav"></div>
                                </div>
                            </div>
                            <!--E 商品咨询-->
                            <!--S 售后保障-->
                            <div class="clearfix" id='protection-list' style="display:none;">
                                {if:$goods['sale_protection']}
                                <div class="mb20">
                                    {$goods['sale_protection']}
                                </div>
                                {/if}
                                <div >
                                    {$sale_protection}
                                </div>
                            </div>
                            <!--E 售后保障-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--E 商品详情-->
</div>
<script type="text/javascript" src='{url:#js/product.js}'></script>
<script type="text/javascript">
        var PRODUCT = {
                id:{$id},
                goods_id:{$goods['id']},
                skuMap:{echo:JSON::encode($skumap)},
                siteurl:"{url:@}",
                goods_nums:{$goods['store_nums']},
                currency_unit:"¥",
                weibuy:1,
                weiBuyUrl : "{url:/simple/order_info/type/weibuy/id/$id/pid/}",
                addGoodsCartUrl: "{url:/index/goods_add}",
                cart_add_url:"{url:/index/cart_add}",
                notify_url:"{url:/index/notify}",
                get_ask_url:'{url:/index/get_ask}',
                get_review_url:'{url:/index/get_review}',
                goods_consult_url:"{url:/index/goods_consult}",
        };
        function showImg(element){
            var flag = $(element).parent().data('bind');
            if(flag==undefined){
                layer.photos({
                    photos: '#'+$(element).parent().attr('id')
                    ,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                    ,closeBtn:2
                    ,shadeClose:false
                    ,shade:false
                    ,scrollbar:true
                    ,end:function(){
                        layer.closeAll();
                        lock_ = false;
                    }
                });
                $(element).parent().data('bind','1');
            }
        }
                                            
</script>
<!--E 产品展示-->
