@import "untils", "mixin";

#app {
  padding: 0;
}

img.title, img.cell {
  @include sizeFitImg()
}

.banner {
  background: #f1f2f6;
  .swiper-container {
    margin: 0 30px;
  }
}

#chaung {
  margin: 0 12px 56px;
  .swiper-slide {
    position: relative;
    transform: skewX(-10deg);
    box-shadow: 0 0 1px #a3a3a3;
    overflow: hidden;
    background: #f1f2f6;
    img {
      display: block;
      transform: skewX(10deg);
      @include size(190px, auto)
    }
  }
}

#dong {
  img {
    display: block;
    @include size(210px, auto)
  }
}

#yunying {
  img {
    display: block;
    @include size(210px, auto)
  }
}

#hehuoren {
  img {
    display: block;
    @include size(172px, auto)
  }
}
