  <section style="background-color: rgb(255, 255, 255); font-size: 14px; box-sizing: border-box;">
   <section  style="box-sizing: border-box; font-size: 14px;">
    <section class="" style="margin-top: 10px; margin-bottom: 10px; box-sizing: border-box; font-size: 14px;">
     <section class="" style="width: 100%; height: 5px; background: white -moz-linear-gradient(left center , red, rgba(255, 247, 234, 0)) repeat scroll 0% 0%; box-sizing: border-box; font-size: 14px;"></section>
    </section>
   </section>
   <section  style="box-sizing: border-box; font-size: 14px;">
    <section class="" style="margin: 0px 0%; box-sizing: border-box; font-size: 14px;">
     <section class="" style="display: inline-block; width: 100%; vertical-align: top; box-sizing: border-box; font-size: 14px;">
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 9.8px; transform: translate3d(0px, 0px, 0px); box-sizing: border-box;">
        <section class="" style="display: inline-block; padding-right: 0.2em; padding-top: 0.5em; box-sizing: border-box; font-size: 9.8px;">
         <section style="display: inline-block; vertical-align: top; width: 3em; height: 3em; border-width: 1px; border-style: solid; border-color: red; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding: 3px; border-radius: 100%; box-sizing: border-box; font-size: 9.8px;">
          <section class="" style="width: 100%; height: 100%; border-radius: 100%; background-color: red; text-align: center; color: rgb(255, 255, 255); font-size: 13.7167px; line-height: 1.4; box-sizing: border-box;">
           <section style="box-sizing: border-box; font-size: 13.7167px;">
            1
           </section>
          </section>
         </section>
         <section style="display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 100%; margin-left: -0.5em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
         <section style="display: inline-block; vertical-align: top; width: 3px; height: 3px; border-radius: 100%; margin-top: -0.22em; margin-left: 0.1em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
        </section>
       </section>
      </section>
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 14px; box-sizing: border-box;">
        <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 16px; border-width: 0px; box-sizing: border-box; font-size: 14px;">
         <section  style="box-sizing: border-box; font-size: 14px;">
          <section class="" style="box-sizing: border-box; font-size: 14px;">
           <section class="" style="display: inline-block; width: 100%; vertical-align: top; border-left: 2px dashed rgb(160, 160, 160); border-bottom-left-radius: 0px; padding: 0px 0px 0px 10px; box-sizing: border-box; font-size: 14px;">
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: -30px 0% 10px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 15px; box-sizing: border-box; font-size: 14px;">
               <section  style="box-sizing: border-box; font-size: 14px;">
                <section class="" style="margin: 0px 0%; transform: translate3d(0px, 0px, 0px); text-align: center; box-sizing: border-box; font-size: 14px;">
                 <section class="" style="text-align: left; font-size: 14px; color: red; line-height: 2; box-sizing: border-box;">
                  <section style="box-sizing: border-box; font-size: 14px;">
                   <strong style="box-sizing: border-box; font-size: 14px;">什么是专区</strong>
                  </section>
                 </section>
                </section>
               </section>
              </section>
             </section>
            </section>
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: 0px 0% 20px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="font-size: 12px; box-sizing: border-box;">
               <section style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">
                专区是面向圆梦用户的共赢销售代理，入驻后可以通过推广会员和销售商城提供的商品，获得推广奖金和销售分成，并享受超值服务。
               </section>
              </section>
             </section>
            </section>
           </section>
          </section>
         </section>
        </section>
       </section>
      </section>
     </section>
    </section>
   </section>
   <section  style="box-sizing: border-box; font-size: 14px;">
    <section class="" style="margin: 0px 0%; box-sizing: border-box; font-size: 14px;">
     <section class="" style="display: inline-block; width: 100%; vertical-align: top; box-sizing: border-box; font-size: 14px;">
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 9.8px; transform: translate3d(0px, 0px, 0px); box-sizing: border-box;">
        <section class="" style="display: inline-block; padding-right: 0.2em; padding-top: 0.5em; box-sizing: border-box; font-size: 9.8px;">
         <section style="display: inline-block; vertical-align: top; width: 3em; height: 3em; border-width: 1px; border-style: solid; border-color: red; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding: 3px; border-radius: 100%; box-sizing: border-box; font-size: 9.8px;">
          <section class="" style="width: 100%; height: 100%; border-radius: 100%; background-color: red; text-align: center; color: rgb(255, 255, 255); font-size: 15.6833px; line-height: 1.4; box-sizing: border-box;">
           <section style="box-sizing: border-box; font-size: 15.6833px;">
            2
            <br style="box-sizing: border-box; font-size: 15.6833px;" />
           </section>
          </section>
         </section>
         <section style="display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 100%; margin-left: -0.5em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
         <section style="display: inline-block; vertical-align: top; width: 3px; height: 3px; border-radius: 100%; margin-top: -0.22em; margin-left: 0.1em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
        </section>
       </section>
      </section>
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 14px; box-sizing: border-box;">
        <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 16px; border-width: 0px; box-sizing: border-box; font-size: 14px;">
         <section  style="box-sizing: border-box; font-size: 14px;">
          <section class="" style="box-sizing: border-box; font-size: 14px;">
           <section class="" style="display: inline-block; width: 100%; vertical-align: top; border-left: 2px dashed rgb(160, 160, 160); border-bottom-left-radius: 0px; padding: 0px 0px 0px 10px; box-sizing: border-box; font-size: 14px;">
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: -30px 0% 10px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 15px; box-sizing: border-box; font-size: 14px;">
               <section  style="box-sizing: border-box; font-size: 14px;">
                <section class="" style="margin: 0px 0%; transform: translate3d(0px, 0px, 0px); text-align: center; box-sizing: border-box; font-size: 14px;">
                 <section class="" style="text-align: justify; font-size: 14px; color: red; line-height: 2; box-sizing: border-box;">
                  <section style="box-sizing: border-box; font-size: 14px;">
                   <strong style="box-sizing: border-box; font-size: 14px;">入驻条件</strong>
                  </section>
                 </section>
                </section>
               </section>
              </section>
             </section>
            </section>
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: 0px 0% 20px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="font-size: 12.25px; box-sizing: border-box;">
               <section style="font-size: 12px; letter-spacing: 2px; box-sizing: border-box;">
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>社区有影响力的人士
                 <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>投资180000元
               </section>
              </section>
             </section>
            </section>
           </section>
          </section>
         </section>
        </section>
       </section>
      </section>
     </section>
    </section>
   </section>
   <section  style="box-sizing: border-box; font-size: 14px;">
    <section class="" style="margin: 0px 0%; box-sizing: border-box; font-size: 14px;">
     <section class="" style="display: inline-block; width: 100%; vertical-align: top; box-sizing: border-box; font-size: 14px;">
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 9.8px; transform: translate3d(0px, 0px, 0px); box-sizing: border-box;">
        <section class="" style="display: inline-block; padding-right: 0.2em; padding-top: 0.5em; box-sizing: border-box; font-size: 9.8px;">
         <section style="display: inline-block; vertical-align: top; width: 3em; height: 3em; border-width: 1px; border-style: solid; border-color: red; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding: 3px; border-radius: 100%; box-sizing: border-box; font-size: 9.8px;">
          <section class="" style="width: 100%; height: 100%; border-radius: 100%; background-color: red; text-align: center; color: rgb(255, 255, 255); font-size: 15.6833px; line-height: 1.4; box-sizing: border-box;">
           <section style="box-sizing: border-box; font-size: 15.6833px;">
            3
            <br style="box-sizing: border-box; font-size: 15.6833px;" />
           </section>
          </section>
         </section>
         <section style="display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 100%; margin-left: -0.5em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
         <section style="display: inline-block; vertical-align: top; width: 3px; height: 3px; border-radius: 100%; margin-top: -0.22em; margin-left: 0.1em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
        </section>
       </section>
      </section>
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 14px; box-sizing: border-box;">
        <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 16px; border-width: 0px; box-sizing: border-box; font-size: 14px;">
         <section  style="box-sizing: border-box; font-size: 14px;">
          <section class="" style="box-sizing: border-box; font-size: 14px;">
           <section class="" style="display: inline-block; width: 100%; vertical-align: top; border-left: 2px dashed rgb(160, 160, 160); border-bottom-left-radius: 0px; padding: 0px 0px 0px 10px; box-sizing: border-box; font-size: 14px;">
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: -30px 0% 10px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 15px; box-sizing: border-box; font-size: 14px;">
               <section  style="box-sizing: border-box; font-size: 14px;">
                <section class="" style="margin: 0px 0%; transform: translate3d(0px, 0px, 0px); text-align: center; box-sizing: border-box; font-size: 14px;">
                 <section class="" style="text-align: justify; font-size: 14px; color: red; line-height: 2; box-sizing: border-box;">
                  <section style="box-sizing: border-box; font-size: 14px;">
                   <strong style="box-sizing: border-box; font-size: 14px;">经营权益</strong>
                  </section>
                 </section>
                </section>
               </section>
              </section>
             </section>
            </section>
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: 0px 0% 20px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="font-size: 12.25px; box-sizing: border-box;">
               <section style="font-size: 12px; letter-spacing: 2px; box-sizing: border-box;">
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>拥有公司合法的经营授权合同
                 <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>获赠商城18万等值积分
                <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>获得至高推广权限
                <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>享有旗下推广的所有会员产品公司免费特配服务
                <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>可获得旗下推广的经销商体系和所有会员的消费分成
               </section>
              </section>
             </section>
            </section>
           </section>
          </section>
         </section>
        </section>
       </section>
      </section>
     </section>
    </section>
   </section>
 <section  style="box-sizing: border-box; font-size: 14px;">
    <section class="" style="margin: 0px 0%; box-sizing: border-box; font-size: 14px;">
     <section class="" style="display: inline-block; width: 100%; vertical-align: top; box-sizing: border-box; font-size: 14px;">
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 9.8px; transform: translate3d(0px, 0px, 0px); box-sizing: border-box;">
        <section class="" style="display: inline-block; padding-right: 0.2em; padding-top: 0.5em; box-sizing: border-box; font-size: 9.8px;">
         <section style="display: inline-block; vertical-align: top; width: 3em; height: 3em; border-width: 1px; border-style: solid; border-color: red; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding: 3px; border-radius: 100%; box-sizing: border-box; font-size: 9.8px;">
          <section class="" style="width: 100%; height: 100%; border-radius: 100%; background-color: red; text-align: center; color: rgb(255, 255, 255); font-size: 15.6833px; line-height: 1.4; box-sizing: border-box;">
           <section style="font-size: 16px; box-sizing: border-box;">
            4
            <br style="box-sizing: border-box; font-size: 16px;" />
           </section>
          </section>
         </section>
         <section style="display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 100%; margin-left: -0.5em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
         <section style="display: inline-block; vertical-align: top; width: 3px; height: 3px; border-radius: 100%; margin-top: -0.22em; margin-left: 0.1em; background-color: red; box-sizing: border-box; font-size: 9.8px;"></section>
        </section>
       </section>
      </section>
      <section  style="box-sizing: border-box; font-size: 14px;">
       <section class="" style="margin: 0px 0%; font-size: 14px; box-sizing: border-box;">
        <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 16px; border-width: 0px; box-sizing: border-box; font-size: 14px;">
         <section  style="box-sizing: border-box; font-size: 14px;">
          <section class="" style="box-sizing: border-box; font-size: 14px;">
           <section class="" style="display: inline-block; width: 100%; vertical-align: top; border-left: 2px dashed rgb(160, 160, 160); border-bottom-left-radius: 0px; padding: 0px 0px 0px 10px; box-sizing: border-box; font-size: 14px;">
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: -30px 0% 10px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="display: inline-block; width: 100%; vertical-align: top; padding: 0px 0px 0px 15px; box-sizing: border-box; font-size: 14px;">
               <section  style="box-sizing: border-box; font-size: 14px;">
                <section class="" style="margin: 0px 0%; transform: translate3d(0px, 0px, 0px); text-align: center; box-sizing: border-box; font-size: 14px;">
                 <section class="" style="text-align: justify; font-size: 14px; color: red; line-height: 2; box-sizing: border-box;">
                  <section style="box-sizing: border-box; font-size: 14px;">
                   <strong style="box-sizing: border-box; font-size: 14px;">如何入驻<br style="box-sizing: border-box; font-size: 14px;" /></strong>
                  </section>
                 </section>
                </section>
               </section>
              </section>
             </section>
            </section>
            <section  style="box-sizing: border-box; font-size: 14px;">
             <section class="" style="margin: 0px 0% 20px; box-sizing: border-box; font-size: 14px;">
              <section class="" style="font-size: 12.25px; box-sizing: border-box;">
               <section style="font-size: 12px; letter-spacing: 2px; box-sizing: border-box;">
                   通过申请入口（<a href='{url:/ucenter/apply_for_district}' style="color:red;">点我点我</a>）,填写相关信息，提交申请（线下交费），后台审核入驻条件通过后，立即成为圆梦商城经销商。
               </section>
               <section style="font-size: 12px; box-sizing: border-box;">
                <br style="box-sizing: border-box; font-size: 12px;" />
               </section>
               <section style="font-size: 12px; letter-spacing: 2px; box-sizing: border-box;">
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>成功即可收到通知并享所有经营权限
                <br style="box-sizing: border-box; font-size: 12px; letter-spacing: 2px;" />
                <span style="color: red; box-sizing: border-box; font-size: 12px; letter-spacing: 2px;">◆</span>经销商旗下推广满？？个经销商，将获得区域经理享有公司超级权限，敬请期待！
               </section>
              </section>
             </section>
            </section>
           </section>
          </section>
         </section>
        </section>
       </section>
      </section>
     </section>
    </section>
   </section>
  <section class="" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word ! important;">
   <section class="" style="margin: 10px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word ! important; text-align: center;">
    <section class="" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word ! important; width: 652px; border-bottom: 5px solid rgb(187, 187, 187);">
     <section class="" style="margin: 0px 0px -5px; padding: 5px; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word ! important; display: inline-block; vertical-align: bottom; border-bottom: 5px solid red; font-size: 16px; line-height: 2;">
      <p style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word ! important; clear: both; min-height: 1em; white-space: pre-wrap;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box ! important; overflow-wrap: break-word ! important; color: rgb(136, 136, 136); font-size: 12px; letter-spacing: 2px;">热忱欢迎您的加入</span></p>
     </section>
    </section>
   </section>
  </section>
  <p><br /></p>
  <p><br /></p> 
  </section>