{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<!--S 产品展示-->
<!--S 产品展示-->
<div class="weui_panel weui_panel_access product-list">
    <div class="weui_panel_bd">
        
        {if:isset($newarr)}
         {list:items=$newarr}                  
            <a {if:isset($item['order_num'])} href="{url:/index/flashbuy/id/$item[id]}" {else:} href="{url:/index/pointflash/id/$item[gid]}" {/if} class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="{echo:Common::thumb($item['img'],100,100)}" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{$item['name']}</h4>
                    {if:isset($item['order_num'])}
                    <p class="weui_media_desc" style="color:red;">{$currency_symbol}{$item['price']}</p>
                    {else:}
                    {set:$set = current(unserialize($item['price_set']));}
                    <p class="weui_media_desc" style="color:red;">{$currency_symbol}{$set['cash']}+{$set['point']}积分</p>
                    {/if}
                    {if:isset($item['order_num'])}
                    <p class="weui_media_desc">{$item['order_num']}人已购买</p>
                    {else:}
                    <p class="weui_media_desc">{$item['order_count']}人已购买</p>
                    {/if}
                </div>
            </a>        
         {/list}
        {/if}
    </div>
</div>

<div class=" plr20 pb20 tc page-nav">{$html}</div>

<!--E 产品展示-->
<!--E 产品展示-->