
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<!--S 产品展示-->
<div class="weui_panel weui_panel_access product-list">
    <div class="weui_panel_bd">
        
            {query:name=groupbuy as gb fields=gb.*,go.sell_price,go.img,go.name join=left join goods as go on gb.goods_id eq go.id  order=is_end , goods_num desc where=gb.is_end eq 1 limit=12 page=1 id=$groupbuy}                  
            <a href="{url:/index/groupbuy/id/$item[id]}" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="{echo:Common::thumb($item['img'],100,100)}" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{$item['name']}</h4>
                    
                    <p class="weui_media_desc" style="color:red;">{$currency_symbol}{$item['price']}<span style="color: white;background-color:red; ">{$item['min_num']}人团</span></p>      
                    
                    <p class="weui_media_desc" style="text-decoration:line-through;">{$currency_symbol}{$item['sell_price']}</p>
                    
                    <p class="weui_media_desc" style="display: block;width:40px;border-radius: 8px;background-color: #4e90ff;color: white;">团购</p>
                    
                </div>
            </a>        
         {/query}
    </div>
</div>

<div class=" plr20 pb20 tc page-nav">{echo:$groupbuy->pageBar(5);}</div>
<!--E 产品展示-->