<link type="text/css" rel="stylesheet" href="{url:#css/product.css}" />
<script type="text/javascript" charset="UTF-8" src="{url:#js/common.js}"></script>
<script type="text/javascript" src="{url:#js/city-picker.js}" charset="utf-8"></script>
<script src="{url:#js/swiper.min.js}"></script>
<div class="swiper-container" id="swiper-product">
    <div class="swiper-wrapper">
        {list:items=unserialize($goods['imgs']) item=$img }
        <div class="swiper-slide"><a class="small-img" href="javascript:;"><img src="{echo:Common::thumb($img,367,367)}"  source="{url:@$img}"></a></div>
        {/list}
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="bg-white">
    <div class="product-title" style="margin-bottom:0;padding-bottom:10px;">
        {$goods['name']}
        <div class="red">{$goods['subtitle']}</div>
    </div>
</div>
<div class="bg-white weui_cells" style="margin-top:0;">
    <div class="weui-row weui-no-gutter product-groupbuy-price">
        <div class="weui-col-50"><em>团购价</em> <span class="red">{$currency_symbol}{$goods['price']}</span></div>
        <div class="weui-col-50"><em>原价</em> <del class="del">{$currency_symbol}{$goods['sell_price']}</del></div>
        <div class="weui-col-50"><em>折扣</em> <span class="del">{echo:sprintf("%0.2f",$goods['price']*10/$goods['sell_price'])}</span></div>
        <div class="weui-col-50"><em>节省</em> <span class="del">{echo:$goods['sell_price']-$goods['price']}</span></div>
    </div>
    <div class="info line-1" style="margin:0 10px">
        {if:$goods['is_end']==1 }
        <p><i class="iconfont icon-home"></i>很遗憾，来晚了一步，团购已结束！</p>

        <p><span class="f18"><i class="iconfont icon-my1"></i> 共有<b class="red">{$goods['order_num']}</b></span>人购买</p>
        {/if}
        {if:time()>strtotime($goods['start_time'])}
            <p><span class="red f16"><i class="iconfont icon-my1"></i> <b>{$goods['order_num']}</b></span>人已购买</p>
            {if:$groupbuy_join_list!=null}
            <p><span class="f18">以下小伙伴正在发起拼团</span></p>
            {list:$items=$groupbuy_join_list}
            <div>
               <div style="width: 90%;margin-left: 5%;height: 60px;margin-top: 20px;background-color: #e8f5fe;border-radius: 8px;">
                    <div style="width: 50%;padding-left: 5%;float: left;">
                       <span style="display: inline-block;width:60px;height: 60px;"><img src="{echo:Common::thumb($item['users']['avatar'],60,60)}" width="60" height="60" style="border-radius: 60px;"></span><span style="margin-left: 10px;">{$item['users']['nickname']}</span>
                    </div>
                    <div style="width: 30%;float: left;height: 60px;margin-top: 10px;">
                       <span style="">还差{$item['need_num']}人成团</span><br/>
                       {if:time()>strtotime($item['end_time'])}
                       <span class="count" id="qiangtimer1-{$item['join_id']}" data-remainseconds="{echo:(strtotime($item['end_time'])-time())*1000}">剩余<span class="hour-node">00</span>:<span class="minute-node">00</span>:<span class="second-node">00</span></span>
                       {else:}
                       <span>已结束</span>
                       {/if}
                    </div>  
                    <div style="width: 20%;float: left;background-color:#4e90ff; height: 60px;line-height: 60px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                       <span><a href="" style="display: block;width:80px;height:60px;line-height: 60px;color: white;text-align: center;">{if:time()>strtotime($item['end_time'])}去参团{else:}已结束{/if}</a></span>
                    </div>
               </div>
            </div>
            <script type="text/javascript">
               if ( $("#qiangtimer1-{$item['join_id']}").data("remainseconds")> 0) {
                    $("#qiangtimer1-{$item['join_id']}").countdown({remainseconds: $("#qiangtimer1-{$item['join_id']}").data("remainseconds"), format: '剩余<span class="hour-node">{h}</span>:<span class="minute-node">{m}</span>:<span class="second-node">{s}</span>', callback: function () {
                            
                    }});
                }
            </script>
            {/list}
            {/if}
            {if:$goods['order_num']>=$goods['min_num']}
            <p><i class="iconfont icon-favourite"></i>团购成功，可继续购买!</p>
            {else:}
            <p><i class="iconfont icon-favourite"></i>团购数量有限，下单要快哟!</p>
            {/if}
            <span class="f14"> <i class="iconfont icon-clock"></i> 剩余时间：</span><strong class="f14"><span id="countdown1"  style="color:#666; "></span></strong>

            <script type="text/javascript">
                $("#countdown1").countdown({remainseconds:"{echo:(strtotime($goods['end_time'])-time())*1000}", callback:function(){
                $.post("{url:/ajax/groupbuy_end}", {id:{$id}}, function(){
                location.reload();
                });
                }});
            </script>
        {else:}
        <p><i class="iconfont icon-remind"></i> 团购还没开始，请耐心等待...</p>
        <span class="f14"> <i class="iconfont icon-clock"></i> 距开始：</span><strong class="f14"><span id="countdown2"  style="color:#666; "></span></strong>
        <script type="text/javascript">
            $("#countdown2").countdown({remainseconds:"{echo:(strtotime($goods['start_time'])-time())*1000}", callback:function(){
            location.reload();
            }});
        </script>
        {/if}
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="name" class="weui_label">送至</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" id="start" type="text" value="湖北 武汉 武昌区">
            </div>
        </div>
        <a class="weui_cell open-popup" data-target="#selectid" href="javascript:;">
            <div class="weui_cell_hd"><label for="date" class="weui_label">规格</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p id="attr-text">选择</p>
            </div>
        </a>
    </div>

    <div class="weui_tab" style="margin-top:10px;border-top: 1px solid #E5E5E5;">
        <div class="weui_navbar" id="product-navbar">
            <a class="weui_navbar_item weui_bar_item_on" href="#product-detail">
                商品详情
            </a>
            <a class="weui_navbar_item" href="#product-attr">
                商品参数
            </a>
            <a class="weui_navbar_item" href="#product-protection">
                售后保障
            </a>
        </div>
        <div class="weui_tab_bd content-padded">
            <div id="product-detail" class="weui_tab_bd_item weui_tab_bd_item_active">
                <!--S 商品详情-->
                <div class="clearfix" >
                    {$goods['content']}
                </div>
                <!--E 商品详情-->
            </div>
            <div id="product-attr" class="weui_tab_bd_item">
                <ul class="attr-list ">
                    <li><div class="attr-name">商品名称：</div><div class="attr-value">{$goods['name']}</div></li>
                    <li><div class="attr-name">商品编号：</div><div class="attr-value">{$goods['pro_no']}</div></li>
                    <li><div class="attr-name">商品重量：</div><div class="attr-value">{$goods['weight']}g</div></li>
                    <li><div class="attr-name">上架时间：</div><div class="attr-value">{$goods['create_time']}</div></li>
                    {list:items=$goods_attrs}
                    <li><div class="attr-name">{$item['name']}：</div><div class="attr-value">{$item['vname']}</div></li>
                    {/list}
                </ul>
            </div>

            <div id="product-protection" class="weui_tab_bd_item">
                <!--S 售后保障-->
                <div class="clearfix">
                    {if:$goods['sale_protection']}
                    <div class="mb20">
                        {$goods['sale_protection']}
                    </div>
                    {/if}
                    <div>
                        {$sale_protection}
                    </div>
                </div>
                <!--E 售后保障-->
            </div>
        </div>
    </div>
</div>
<div id="selectid" class="weui-popup-container popup-bottom fourth-cover">

    <div class="weui-popup-modal">
        <div class="toolbar">       
            <div class="toolbar-inner">          
                <a href="javascript:;" class="picker-button close-popup"><i class="iconfont icon-close"></i></a>           
                <div class="cover-head">
                    <div class="img-box lazybox">
                        <img id="proImg" src="{url:@$goods[img]}" />
                    </div>
                    <div class="product">
                        <div class="price">
                            <i>{$currency_symbol}</i><em>{$goods['sell_price']}</em>
                        </div>
                        <div class="remainnums hidden">库存:<em id="store_nums" class="red">{$goods['store_nums']}</em></div>
                        <div class="choice">选择:<em id="choiceattr"></em></div>
                    </div>
                </div>
            </div>          
        </div>
        <div class="modal-content">
            <div class="weui_cells">
                {list:items=unserialize($goods['specs']) item=$spec}
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary spec-values">
                        <div class="attr-name">{$spec['name']}：</div>
                        <div class="attr-item">
                            {list:items=$spec['value'] item=$value}
                            {if:$value['img']==''||true}
                            <a href='javascript:;' data-value="{$spec['id']}:{$value['id']}"><span>{$value['name']}</span></a>
                            {else:}
                            <a href='javascript:;' class='withimg' data-value="{$spec['id']}:{$value['id']}"><img src="{echo:Common::thumb($value['img'],100)}"  width="32" height="32"><label>{$value['name']}</label></a>
                            {/if}
                            {/list}
                        </div>
                    </div>
                </div>
                {/list}
                <input id="buy-num" name="buy_num" value="1"  type="hidden"  maxlength=5>
            </div>
        </div>
    </div>
</div>
<div class="btn-bar ">
    <div class="weui-row weui-no-gutter">
        <div class="weui-col-20" style="text-align: center;">
            <a href="{url:/simple/cart}" id="view-cart">
                <div class="product-cart">
                    <span class="cart-num tip">{echo:count($cart)}</span>
                    <i class="iconfont icon-cart"></i>
                </div>
            </a>
        </div>
        <div class="weui-col-80">
            {if:$goods['is_end']==1}
            <a href="javascript:;" class="btn btn-gray"><i class="iconfont icon-next"></i>团购已结束</a>
            {elseif:time()< strtotime($goods['start_time'])}
            <a href="javascript:;" class="btn btn-warning"><i class="iconfont icon-next"></i>等待开始...</a>
            {else:}
            <a href="javascript:;" class="btn btn-red buy-now" data-type="groupbuy">立即团购 <i class="iconfont icon-next"></i></a>
            {/if}
        </div>
    </div>
</div>
<div class="message-lay"> </div>
<div class="message-box">
    <div class="tips">商品已添加到购物车！</div>
    <div class="btns">
        <input type="button" value="再逛会 " class="btn_in" id="btn_continue">
        <input type="button" value="去结算 " class="btn_in" id="btn_check">
    </div>
</div>

<script>
    var Product = {
    skuMap : {echo:JSON::encode($skumap)},
            cartUrl : "{url:/simple/cart}",
            attentionUrl : "{url:/index/attention}",
            addCartUrl : "{url:/index/cart_add}",
            addGoodsCartUrl : "{url:/index/goods_add}",
            goodsOrderUrl : "{url:/simple/order/cart_type/goods}",
            directUrl : "{url:/simple/order_info/type/direct}",
            groupBuyUrl : "{url:/simple/order_info/type/groupbuy/id/$id/pid/}",
            id : "{$id}",
            currency : "{$currency_symbol}",
    };</script>
<script type="text/javascript" src="{url:#js/product.js}" charset="utf-8"></script>