<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}?v=20170719" />
<style>
    .weui_dialog_visible{
        top:10%;
    }
</style>
<div style="visibility:visible;width:100%;background: url(/static/images/invite_bg.jpg);background-size:100%100%;position: relative;">
    <div style="width: 100%;height: 32px;color:#fff;text-align: center;line-height: 32px;font-size:22px;font-family: 'Microsoft YaHei';position: absolute;top:46px;">收款方</div>
    <div style="width: 100%;height: 32px;color:#fff;text-align: center;line-height: 32px;font-size:30px;font-family: 'Microsoft YaHei';position: absolute;top:80px;">{$real_name}</div>
    <div class="invite_main" style="position: absolute;top: 160px;left: 130px;">
        <div class="invite_qr1" style="width: 190px;height: 214px;">
           <img src="{$avatar}" style="position: absolute;top: 80px;left: 80px;border-radius: 5px;" width="40" height="40">
           <img src="/districtadmin/buildinvitepay?uid={$uid|1}" width="190" height="214" />
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.invite_bg').css('background-color','#fff');
        $(".invite_main").height($(".invite_main").width() / 0.6344);
        $(".invite_bg").css("visibility", "visible");
        $(".invite_bg").height($(document).height() - 98);
    });
</script>