
<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
<style>
    .weui_dialog_visible{
        top:10%;
    }
</style>
<div class="invite_bg" style="visibility:visible;">
    <div class="invite_main">
        <div class="invite_avatar"><img src="{echo:Url::urlFormat('@'.$user['avatar'])}" /></div>
        <h3 class="invite_name">{$user['real_name']|$user['nickname']}</h3>
        <div class="invite_qr"><img src="/user/buildinvite?uid={$user['id']|0}" /></div>
    </div>
</div>
<script>
    $(function () {
        $(".invite_bg").removeClass("invite_bg1");
        if (Math.random() * 1000 < 500) {
            $(".invite_bg").addClass("invite_bg1");
        }
        $(".invite_main").height($(".invite_main").width() / 0.6344);
        $(".invite_bg").css("visibility", "visible");
        $(".invite_bg").height($(document).height() - 98);
    });
</script>