
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<!--S 产品展示-->
{query:name=pointwei_sale as ps fields=ps.*,go.name,go.img,go.sell_price join=left join goods as go on ps.goods_id eq go.id where=go.is_online eq 0 and ps.status eq 1 and go.store_nums gt 0 order=ps.listorder asc limit=12 page=1 pagesize=5 id=$pointbuy}
<div class=" bg-white m_20 mt20">
        <div class="img tc box-header mb20"><a href="{url:/index/pointwei/id/$item[id]}"><img src="{echo:Common::thumb($item['img'],367,367)}" width="100%" height="376"></a></div>
        <div class="p20 ">
            <ul class="list">
                <li class=" item plr20"><a href="{url:/index/pointwei/id/$item[id]}">{$item['name']}</a></li>
                
                <li class="clearfix"><span class="price fl">购价：<b class="red">{$currency_symbol}{$item['sell_price']}</b></span></li>
                <li class="tr"><a href="{url:/index/pointwei/id/$item[id]}" class="btn btn-mini">马上购买</a></li>
            </ul>
        </div>
</div>
{/query} 
<div class=" plr20 pb20 tc page-nav">{echo:$pointbuy->pageBar(4);}</div>
<!--E 产品展示-->