{echo:JS::import("form")}
<script src="{url:#js/swiper.min.js}"></script>
<div class="swiper-container" id="swiper-banner">
    <div class="swiper-wrapper">
        {query:name=ad where=number eq 's5p0hsa8-fkj3-fs32-u3fq-r7dmgqkc'}
        {set:$ads = unserialize($item['content'])}
        {list:items=$ads item=$ad}
        <div class="swiper-slide"><a href="{$ad['url']}"><img src="{url:@$ad[path]}"></a></div>
        {/list}
        {/query}
    </div>
    <div class="swiper-pagination"></div>
</div>
<script>
    $("#swiper-banner").swiper({autoplay: 3000, pagination: '.swiper-pagination', loop: true});
</script>
<style type="text/css">
    .weui-col-25{
        text-align: center;
    }
    .weui-col-25 a{
        display: block;
        clear: both;
        color: #999;
        line-height: 25px;
    }
    .weui-col-25 i{
        display: block;
        clear: both;
        color: #999;
        line-height: 25px;
    }
    .layui-m-layercont{
        padding-bottom: 5px;
    }
</style>
<div class="weui_panel" id="huabi-score">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-orange"></i>
                            <i class="iconfont icon-qiandai icon-stack-1x icon-inverse"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的钱袋<i class="fa fa-question-circle" style="float:right;"></i></p>
                    </div>
                </a>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui-row">
                            <div class="weui-col-25">
                                <a href="javascript:void(0);"><i>{echo:sprintf("%01.2f",$order['todayamount'])}</i>今日消费</a>
                                <!-- <a href="javascript:void(0);"><i>{$order['todayamount']}</i>今日消费</a> -->
                            </div>
                            <div class="weui-col-25">
                                <a href="{url:/ucenter/balance_log}"><i>{$customer['balance']}</i>可用余额</a>
                            </div>
                            <div class="weui-col-25">
                                <a href="{url:/ucenter/balance_log}"><i>{$customer['offline_balance']}</i>商家余额</a>
                            </div>
                            <div class="weui-col-25">
                                <a href="{url:/ucenter/pointcoin_log}"><i>{$customer['point_coin']}</i>剩余积分</a>
                            </div>
                        </div>
                        <!-- <div class="weui-row">
                            <div class="" style="width: 100%;">
                                <a href="javascript:void(0);" style="color: #999;height: 25px;line-height: 25px;margin-left: 10px;"><i>分红点数：{$customer['financial_coin']}</i><i  style="margin-left: 5%;">(5000分红点折合一个分红股)</i></a>
                            </div>
                            <div class="">
                                <a href="{url:/ucenter/pointcoin_log}" style="color: #999;height: 25px;line-height: 25px;margin-left: 10px;"><i>分红股：{$customer['financial_stock']}</i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui_panel" id="huabi-list">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell" href="{url:/ucenter/recharge_center}">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-slateblue"></i>
                            <i class="iconfont icon-jifenjilu icon-stack-1x icon-inverse"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>商家联盟</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
                <a class="weui_cell" href="{url:/ucenter/balance_log}">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-slateblue" ></i>
                            <i class="ymicon icon-record icon-stack-1x icon-inverse" style="line-height: 1.7em;font-size: 1.2em;"></i>
                            
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>余额记录</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
                <a class="weui_cell exchange" href="{url:/ucenter/balance_withdraw}">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-slateblue"></i>
                                <i class="ymicon icon-card icon-stack-1x icon-inverse" style="line-height: 1.6em;font-size: 1.2em;"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>余额提现</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
                
                <a class="weui_cell exchange" href="{url:/ucenter/offline_balance_withdraw}">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-slateblue"></i>
                                <i class="ymicon icon-card icon-stack-1x icon-inverse" style="line-height: 1.6em;font-size: 1.2em;"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>商家提现</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
                {if:$show_code==1}
                <a class="weui_cell exchange" href="{url:/index/invitepay/user_id/$id}">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-slateblue"></i>
                                <i class="ymicon icon-card icon-stack-1x icon-inverse" style="line-height: 1.6em;font-size: 1.2em;"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>收款二维码</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
                {/if}
            </div>
        </div>
    </div>
</div>
{if:isset($show_message)&&$show_message==true}
<div style="position:fixed;bottom:70px;right:10px;z-index:99;" onclick="showMessage();"> 
    <span class="fa-stack fa-3x ">
        <i class="fa fa-circle fa-stack-2x" style="color:rgba(4, 4, 4, 0.16);"></i>
        <i class="fa fa-gift fa-stack-1x black" style="color:#f33604;"></i>
    </span>
</div>
{/if}
{set:$curtab='asset';}
<script>
    $(".fa-question-circle").click(function(){
       layer.open({
            content: '<p style="text-align:justify;text-justify:inter-ideograph">分红点数是用于商城分红的凭证，分红点数是5000：1股分红。余额和积分是您在商城的可用资产，可以用于商城的购买活动，此处的消费统计只针对余额支付的订单。</p>'
            ,skin: 'footer'
        })
    });
   function notify(msg){
       layer.open({
        content: msg
        ,skin: 'msg'
        ,time: 4 //2秒后自动关闭
       });
   }
   {if:isset($show_message)&&$show_message==true}
   function showMessage(){
       layer.open({
        content: '您获得了充值奖励<br>【{$present}】<br>快来领取吧！<br>&nbsp;'
        ,btn: ['马上领取', '忽略']
        ,yes: function(index){
          location.href="{url:/ucenter/accept_present}";
        }
      });
   }
   {/if}
</script>