<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
<style>
    .weui_media_box .weui_media_desc {
        line-height:25px;
        color:#666;
    }
    .weui_media_box .weui_media_desc b {
        margin-right:5px;
        font-weight:normal;
        color:#888;
    }
</style>
{query:name=balance_log where=user_id eq $user[id] order=id desc page=1 id=$obj}
<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">{$item['time']}</div>
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <p class="weui_media_desc"><b>{echo:$item['amount']>0?'增加':'消耗'}金点:</b><span class="{echo:$item['amount']>0?'green':'red'}">{$item['amount']}</span></p>
            <p class="weui_media_desc"><b>剩余金点:</b>{$item['amount_log']}</p>
            <p class="weui_media_desc"><b>备注与说明:</b>{$item['note']}</p>
        </div>
    </div>
</div>
{/query}
<div class="page-nav tc">{echo:$obj->pagebar(4)}</div>

{set:$curtab='asset';}