<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}"/>
{echo:JS::import('form');}
{echo:JS::import('date');}
<div class="ma20 bg-white p20">
    <form action="" method="post" id="form">
        <dl>
            <dd>
                <input class="input" type="text" pattern="required" name="name" maxlen="5" value=""
                       placeholder="姓名" alt="姓名不能为空">
            </dd>
            <!-- <dd>
                <input class="input" type="text" pattern="required" name="phone" maxlength="11" value=""
                       placeholder="手机号码">
            </dd> -->
            <dd>
                <input class="input" type="text" pattern="required" name="idcard" maxlength="20" value=""
                       placeholder="身份证号码">
            </dd>
            <dd>
                <input class="input" type="text" pattern="required" name="cardNo" maxlen="19" value=""
                       placeholder="银行卡号" alt="银行卡号不能为空">
            </dd>
            <div class="weui-cell">
            <div class="weui-cell__hd" style="width:50%"><label class="weui-label">开户所在地</label></div>
            <div class="weui-cell__bd">
                    <input class="weui-input" name="address" placeholder="选择省市" />
                    <input type="hidden" name="province" />
                    <input type="hidden" name="city" />
            </div>
            </div>
            <dd>
                <input class="btn" type="button" id="apply-submit" value="保存">
            </dd>
        </dl>
    </form>
</div>
<script type="text/javascript" src="{url:#js/city-picker.js}" charset="utf-8"></script>
<script>
$(function(){
        $("input[name=address]").cityPicker({
        title: "开户行所在地"
        ,showDistrict: false});
    
        $("input[name=address]").change(function(){
           var val = $(this).val();
           var address = val.split(" ");
           $("input[name=province]").val(address[0]);
           $("input[name=city]").val(address[1]);
        });
});

    function notification(msg) {
        layer.open({
            content: msg
            , skin: 'msg'
            , time: 4
        });
    }

    $('#apply-submit').on('click', function () {
        var name = $("input[name='name']").val();
        var phone = $("input[name='phone']").val();
        var cardNo = $("input[name='cardNo']").val();
        var idcard = $("input[name='idcard']").val();
        var province = $("input[name='province']").val();
        var city = $("input[name='city']").val();
        $.ajax({
            url: '/ucenter/bindbancard_do',
            type: 'post',
            data: {'name': name, 'phone': phone, 'cardNo': cardNo,'idcard':idcard,'province':province,'city':city},
            beforeSend: function () {
                var flag = true;
                if ($("input[name='name']").val() == '' || $("input[name='cardNo']").val() == '' || $("input[name='city']").val() == '') {
                    flag = false;
                    notification("请完善绑卡信息");
                    return false;
                }
            },
            success: function (result) {
                // console.log(result);
               var ret = JSON.parse(result);
               if (ret.status == 'success') {
                   $.toast("绑定成功", 'success');
                   window.location.href = '/ucenter/index';
               } else {
                   notification(ret.msg);
               }
            }
        }, 'json');
    });
</script>