<link type="text/css" rel="stylesheet" href="{url:#css/weui.css}" />
<script type="text/javascript" src="{url:#js/city-picker.js}" charset="utf-8"></script>
<script type="text/javascript" src="{url:#js/spark-md5.js}" charset="utf-8"></script>
<script type="text/javascript" src="{url:#js/crypto-js.js}" charset="utf-8"></script>
<style>
    .weui_panel_hd::after{
        border:none;
    }
    .weui-form-preview::before{
        border: none;
    }
    .weui-form-preview::after{
        border: none;
    }
    .weui-form-preview__value{
        padding-left: 50px;
    }
    .time{
        margin: 0 auto;
        height: 1px;
    }
    .gold_coin{
        height:70px;
        text-align: center;
    }
    .gold_coin .amount1{
        font-size: 20px;
        font-weight: 900;
    }
    .gold_coin .amount2{
        font-size: 15px;
         font-weight: 700;
    }
</style>
<div class="withdraw-list"> 
<div class="ma20  p20 ">
    <p class="gold_coin"><span class="amount1">{echo:substr($goldcoin,0,1)}</span><span class="amount2">{echo:substr($goldcoin,1)}<span><br><span style="font-size:10px;color:gray;font-weight:200;">当前余额</span></p>
    <a href="javascript:;" class="weui-btn weui-btn_primary" id="apply">提现到银行卡</a>
    <!-- <a href="javascript:;" class="weui-btn weui-btn_primary" id="applys">提现到可用余额</a> -->
</div>

    <div class="weui_panel_hd withdraw-head">提现记录</div>
    {set:$status=array("-1"=>"<span class='red'>申请被拒</span>","0"=>"<span class='green'>正在处理中</span>","1"=>"<span class='green'>已转账</span>","2"=>"<span class='red'>提现失败</span>","3"=>"<span class='red'>余额退回</span>")}
     {query:name=balance_withdraw where=user_id eq $user[id] and type eq 1 order=id desc page=1 id=$withdraw}
    <div class="ma20 bg-white p20 ">
    <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提现金额</label>
                    <em class="weui-form-preview__value">¥{$item['amount']}</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提现单号</label>
                    <span class="weui-form-preview__value">{$item['withdraw_no']}</span>
                </div>
                {if:$item['card_no']}
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提现卡号</label>
                    <span class="weui-form-preview__value">{$item['card_no']}</span>
                </div>
                {/if}
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提现进度</label>
                    <span class="weui-form-preview__value">{$status[$item['status']]}</span>
                </div>
                {if:$item['note']}
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">备注说明</label>
                    <span class="weui-form-preview__value">{$item['note']}</span>
                </div>
                {/if}
            </div>
    </div>
           <div class="weui-loadmore weui-loadmore_line page_end time">
            <span class="weui-loadmore__tips" >{$item['apply_date']}</span>
    </div>
    </div>
   
     {/query}
     {if:count($items)==0}
     <div class="weui-loadmore weui-loadmore_line page_end">
            <span class="weui-loadmore__tips" style="background-color:#fbf9fe;">暂无更多数据</span>
     </div>
     {/if}
    <div class="page-nav p20 tc">{echo:$withdraw->pagebar(4)}</div>
</div>
<div class="apply_form"  style="display: none;font-size:15px;">    
<div class="ma20 bg-white p20 ">
            {if:$need_check==-1 || $need_check==2}
              <form id="shop_check_form" action="{url:/ucenter/shop_check_do}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="picType" value="" />
                    <input type="hidden" name="token" value="{$yin_token}">
                    <input type="hidden" name="superUsercode" value="yuanmeng">
                    <input type="hidden" name="positive_idcard_url" value="">
                    <input type="hidden" name="native_idcard_url" value="">
                    <input type="hidden" name="positive_bankcard_url" value="">
                    <input type="hidden" name="native_bankcard_url" value="">
                    <input type="hidden" name="business_licence_url" value="">
                    <input type="hidden" name="shop_photo_url" value="">
                    <input type="hidden" name="hand_idcard_url" value="">
                {if:$need_check==-1}    
                <div class="weui_panel_hd">请先完善商家认证信息(图片最大不超过8MB)</div>
                {elseif:$need_check==2}
                <div class="weui_panel_hd" style="color: red;">审核未通过，请重新提交(图片最大不超过8MB)</br>原因：{$reason}</div>
                {/if}
                <div class="weui-cell">
                   <select id="shop_type" name="shop_type" class="input">
                        <option value="0">请选择商家类型</option>
                        <option value="1">个体商户</option>
                        <option value="2">小微商户</option>
                        <option value="3">企业商户</option>     
                    </select>
                </div>
                <div class="weui-cell">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">身份证正面照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="positive_idcard" value="" >
                   </div> 
                </div>
                <div class="weui-cell" style="display: none;" id="positive_idcard_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                <div class="weui-cell">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">身份证反面照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="native_idcard" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="native_idcard_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                <div class="weui-cell" id="hand_idcard">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">本人手持身份证照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="hand_idcard" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="hand_idcard_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                <div class="weui-cell">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">结算银行卡正面照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="positive_bankcard" value="" >
                   </div> 
                </div>
                <div class="weui-cell" style="display: none;" id="positive_bankcard_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                <div class="weui-cell">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">结算银行卡反面照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="native_bankcard" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="native_bankcard_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                
                <div class="weui-cell" style="display: none;" id="business_licence">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">营业执照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="business_licence" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="business_licence_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                <!-- <div class="weui-cell" style="display: none;" id="account_picture">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">开户许可证照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="account_picture" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="account_picture_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div> -->
                <div class="weui-cell" style="display: none;" id="shop_photo">
                   <div class="weui-cell__hd" style="width:40%"><label class="weui-label">门店照</label></div>
                   <div class="weui-cell__bd">
                        <input class="input" type="file" name="shop_photo" value="" >
                   </div>
                </div>
                <div class="weui-cell" style="display: none;" id="shop_photo_preview">
                   <div class="weui-cell__bd"  >
                        <img src='' width="200" height="100" alt="" >
                   </div> 
                </div>
                
                <div class="weui-cell">
                    <div class="weui-cell__hd" style="width:40%"><label class="weui-label">结算银行卡号</label></div>
                    <div class="weui-cell__bd">
                        <input class="input" type="text"  name="account_card" maxlen="19" value="" placeholder="银行卡号" alt="银行卡号不能为空">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd" style="width:40%"><label class="weui-label">银行卡开户信息</label></div>
                    <div class="weui-cell__bd">
                        <input class="input" type="text"  name="bank_name" value="" placeholder="**银行" alt="银行卡号不能为空">
                    </div>
                </div>
                <div class="m20">
                    <!-- <a class="weui-btn weui-btn_primary" href="javascript:;" id="shop_check_do">提交</a> -->
                    <input class="weui-btn weui-btn_primary" type="submit" value="提交">
                </div>
              </form>
            {elseif:$need_check==0}
               <div class="weui_panel_hd">已提交资料，请先等待系统审核</div>   
            {elseif:$need_check==1 and $card_num>0}
            <div class="weui_panel_hd">提现信息</div>
            <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">提现金额</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="amount" placeholder="  提现金额不小于{$min_withdraw_amount}的整数">
                </div>
            </div>
            <div class="weui-cell">
               <select id="card_id" name="card_id" class="input">
                    <option value="0" selected="selected">请选择银行卡</option>
                    {query:name=bankcard where=user_id eq $user[id] order=id desc page=1 id=$list}
                    <option value="{$item['id']}" selected="selected">{$item['bank_name']}&nbsp;&nbsp;&nbsp;尾号{echo: substr($item['cardno'],-4)}</option>
                    {/query}      
                </select>
            </div>
            {else:}
            <div class="weui_panel_hd">尚未绑定银行卡</div>
            <div class="m20"><a class="weui-btn weui-btn_primary" href="javascript:;" id="bind_bankcard">添加银行卡</a></div>
            {/if}
             <!-- <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">开户名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="open_name" placeholder="  开户名">
                </div>
             </div>
            <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">银行名称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="open_bank" placeholder="  名称，如'工商银行'">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">银行卡号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="card_no" placeholder="  卡号"/>
                </div>
            </div>
             <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">开户行所在地</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="address" placeholder="选择省市" />
                    <input type="hidden" name="province" />
                    <input type="hidden" name="city" />
                </div>
            </div> -->
</div>
    <div class="ma20 bg-white p20 ">
        <a class="weui-btn weui-btn_primary" id="apply-submit" {if:$need_check!=1} style="display: none;" {/if}>提交申请</a>
    <a href="javascript:changeShow();" class="weui-btn weui-btn_default">返回</a>
    </div>
</div>
<div class="apply_forms"  style="display: none;font-size:15px;">    
<div class="ma20 bg-white p20 ">
            <div class="weui_panel_hd">提现信息</div>
            <div class="weui-cell">
                <div class="weui-cell__hd" style="width:40%"><label class="weui-label">提现金额</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" class="amounts" name="amounts" placeholder="  提现金额不小于{$min_withdraw_amount}的整数">
                </div>
            </div>
</div>
    <div class="ma20 bg-white p20 ">
        <a class="weui-btn weui-btn_primary" id="apply-submits">提交申请</a>
    <a href="javascript:changeShow();" class="weui-btn weui-btn_default">返回</a>
    </div>
</div>
{set:$curtab='asset';}
<script>

    function notification(msg){
           layer.open({
                    content: msg
                    ,skin: 'msg'
                    ,time: 4 
                });
    }
    function changeShow(){
       $(".withdraw-list").show();
        $(".apply_form").hide(); 
    }
    $("#apply").click(function(){
        $(".withdraw-list").hide();
        $(".apply_form").slideDown();
    });
    $("#applys").click(function(){
        $(".withdraw-list").hide();
        $(".apply_forms").slideDown();
    });
    $("#bind_bankcard").click(function () {
        var e = {$realname_verified};
        if (e==1) {
            window.location.href = '/ucenter/bind_bankcard?jump=3';
        } else {
            $.toast('请先实名认证', 'loading');
            // notification("请先通过实名认证");
            window.location.href = '/ucenter/set_realname';
        }
    });
    $("#shop_check_form").submit(function () {
            if(!$("input[name=positive_idcard]").val()){
              $.toast("请上传身份证正面照", "text");
                return false;
            }else{
              var file1 = $("input[name='positive_idcard']").get(0).files[0];
              if(file1.size>8000*1024){
                $.toast("身份证正面照大小超过8MB", "text");
                return false;
              };
            }
            if(!$("input[name=native_idcard]").val()){
              $.toast("请上传身份证反面照", "text");
                return false;
            }else{
              var file2 = $("input[name='native_idcard']").get(0).files[0];
              if(file2.size>8000*1024){
                $.toast("身份证反面照大小超过8MB", "text");
                return false;
              };
            }
            if(!$("input[name=positive_bankcard]").val()){
              $.toast("请上传银行卡正面照", "text");
                return false;
            }else{
              var file1 = $("input[name='positive_bankcard']").get(0).files[0];
              if(file1.size>8000*1024){
                $.toast("银行卡正面照大小超过8MB", "text");
                return false;
              };
            }
            if(!$("input[name=native_bankcard]").val()){
              $.toast("请上传银行卡反面照", "text");
                return false;
            }else{
              var file1 = $("input[name='native_bankcard']").get(0).files[0];
              if(file1.size>8000*1024){
                $.toast("银行卡反面照大小超过8MB", "text");
                return false;
              };
            }
            // if (!$("input[name=hand_idcard]").val()) {
            //       $.toast("请上传手持身份证照", "text");
            //       return false;
            //   }else{
            //     var file5 = $("input[name='hand_idcard']").get(0).files[0];
            //     if(file5.size>8000*1024){
            //       $.toast("手持身份证照大小超过8MB", "text");
            //       return false;
            //     };
            //   } 
            if(!$("input[name=account_card]").val()){
              $.toast("请输入结算银行卡号", "text");
                return false;
            }
            if ($("#shop_type option:selected").val()==0) {
                $.toast("请选择商家类型", "text");
                return false;
            }else if($("#shop_type option:selected").val()==1){
              if (!$("input[name=business_licence]").val()) {
                  $.toast("请上传营业执照", "text");
                  return false;
              }else{
                var file3 = $("input[name='business_licence']").get(0).files[0];
                if(file3.size>8000*1024){
                  $.toast("营业执照大小超过8MB", "text");
                  return false;
                };
              }
              if (!$("input[name=positive_bankcard]").val() || !$("input[name=native_bankcard]").val()) {
                  $.toast("请上传结算银行卡照", "text");
                  return false;
              }
              if (!$("input[name=shop_photo]").val()) {
                  $.toast("请上传门店照", "text");
                  return false;
              }else{
                var file4 = $("input[name='shop_photo']").get(0).files[0];
                if(file4.size>8000*1024){
                  $.toast("门店照大小超过8MB", "text");
                  return false;
                };
              }
            }else if($("#shop_type option:selected").val()==3){
              if (!$("input[name=business_licence]").val()) {
                  $.toast("请上传营业执照", "text");
                  return false;
              }else{
                var file3 = $("input[name='business_licence']").get(0).files[0];
                if(file3.size>8000*1024){
                  $.toast("营业执照大小超过8MB", "text");
                  return false;
                };
              }
              // if (!$("input[name=account_picture]").val()) {
              //     $.toast("请上传开户许可证照", "text");
              //     return false;
              // }
              if (!$("input[name=shop_photo]").val()) {
                  $.toast("请上传门店照", "text");
                  return false;
              }else{
                var file4 = $("input[name='shop_photo']").get(0).files[0];
                if(file4.size>8000*1024){
                  $.toast("门店照大小超过8MB", "text");
                  return false;
                };
              }
            }
            if(!$("input[name=bank_name]").val()){
              $.toast("请完善银行信息", "text");
                return false;
            } 
        });
    $("#shop_type").change(function(){
        var shop_type = $("#shop_type option:selected").val();
        if(shop_type==1){
            $("#business_licence").show();
            // $("#account_picture").show();
            $("#shop_photo").show();
            $("#hand_idcard").show();
            $("#hand_idcard_preview").show();
        }else if(shop_type==2){
          // $("#hand_idcard").show();
          $("#business_licence").hide();
          // $("#account_picture").hide();
          $("#shop_photo").hide();
          $("#hand_idcard").hide();
          $("#business_licence_preview").hide();
          // $("#account_picture_preview").hide();
          $("#shop_photo_preview").hide();
          $("#hand_idcard_preview").hide();
        }
    });
      
    $("input[name='positive_idcard']").change(function(){
      $("#positive_idcard_preview").show();
      var file = $("input[name='positive_idcard']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      
      upyun_upload('positive_idcard',file);
      // var user_id = "{$user_id}";
      // if(user_id==42608){
      //   yinsheng_ajax_upload(user_id,file);
      // }
      
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#positive_idcard_preview img").get(0).src = e.target.result;
      }
    });
    $("input[name='native_idcard']").change(function(){
      $("#native_idcard_preview").show();
      var file = $("input[name='native_idcard']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('native_idcard',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#native_idcard_preview img").get(0).src = e.target.result;
      } 
    });
    $("input[name='positive_bankcard']").change(function(){
      $("#positive_bankcard_preview").show();
      var file = $("input[name='positive_bankcard']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('positive_bankcard',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#positive_bankcard_preview img").get(0).src = e.target.result;
      } 
    });
    $("input[name='native_bankcard']").change(function(){
      $("#native_bankcard_preview").show();
      var file = $("input[name='native_bankcard']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('native_bankcard',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#native_bankcard_preview img").get(0).src = e.target.result;
      } 
    });
    $("input[name='business_licence']").change(function(){
      $("#business_licence_preview").show();
      var file = $("input[name='business_licence']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('business_licence',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#business_licence_preview img").get(0).src = e.target.result;
      } 
    });
    // $("input[name='account_picture']").change(function(){
    //   $("#account_picture_preview").show();
    //   var file = $("input[name='account_picture']").get(0).files[0];
    //   var reader = new FileReader(); 
    //   reader.readAsDataURL(file);
    //   reader.onload=function(e){
    //     $("#account_picture_preview img").get(0).src = e.target.result;
    //   } 
    // });
    $("input[name='shop_photo']").change(function(){
      $("#shop_photo_preview").show();
      var file = $("input[name='shop_photo']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('shop_photo',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#shop_photo_preview img").get(0).src = e.target.result;
      } 
    });
    $("input[name='hand_idcard']").change(function(){
      $("#hand_idcard_preview").show();
      var file = $("input[name='hand_idcard']").get(0).files[0];
      if(file.size>8000*1024){
        $.toast("图片最大不超过8MB", "text");
        return false;
      };
      upyun_upload('hand_idcard',file);
      var reader = new FileReader(); 
      reader.readAsDataURL(file);
      reader.onload=function(e){
        $("#hand_idcard_preview img").get(0).src = e.target.result;
      } 
    });
    $("#apply-submit").click(function(){
         //询问框
            layer.open({
              content: '您确定信息无误吗，<br>错误的信息可能导致转账失败'
              ,btn: ['确定', '我再看看']
              ,yes: function(index){
                     var flag = true;
                    // $("input:not('.amounts')").each(function(){
                    //     if($(this).val()==""||$(this).val()==undefined){
                    //           flag=false;
                    //           $(this).focus();
                    //           notification("请完善提现信息");
                    //           return false;
                    //      }
                    // });
                    if($("input[name='amount']").val()=='' || $("input[name='open_name']").val()=='' || $("input[name='open_bank']").val()=='' || $("input[name='province']").val()=='' || $("input[name='city']").val()=='' || $("input[name='card_no']").val()==''){
                      flag=false;
                      notification("请完善提现信息");
                      return false;
                    } 
                    if(flag==false){
                          return false;
                     }
                    var amount = $("input[name='amount']").val();
                    var id = $("#card_id option:selected").val();
                    // var name = $("input[name='open_name']").val();
                    // var bank = $("input[name='open_bank']").val();
                    // var province = $("input[name='province']").val();
                    // var city = $("input[name='city']").val();
                    // var card_no = $("input[name='card_no']").val();
                    layer.open({
                     type: 2
                    ,content: '正在提交中'
                    ,shadeClose: false
                     });
                    setTimeout(function(){
                      $.post("{url:/ucenter/offline_balance_withdraw}", {amount: amount, id:id}, function (result) {
                      layer.closeAll();
                      if(result.status=='success'){
                            $.toast("申请已提交",'success',function(){
                              window.location.reload();
                           });
                         }else{
                            notification(result.msg);
                     }
                     },'json');
                 },1000);
              }
            });
    });
    $("#apply-submits").click(function(){
        if($("input[name='amounts']").val()==''){
            $("input[name='amounts']").focus();
            notification("请完善提现信息");
            return false;
        }
        var amount = $("input[name='amounts']").val();
        
        layer.open({
                     type: 2
                    ,content: '正在处理中'
                    ,shadeClose: false
                     });
        setTimeout(function(){
                      $.post("{url:/ucenter/offline_balance_convert}", {amount: amount}, function (result) {
                      layer.closeAll();
                      if(result.status=='success'){
                            $.toast("已成功转入余额",'success',function(){
                              window.location.reload();
                           });
                         }else{
                            notification(result.msg);
                     }
                     },'json');
                 },1000);
    });
    $(function(){
        $("input[name=address]").cityPicker({
        title: "开户行所在地"
        ,showDistrict: false});
    
        $("input[name=address]").change(function(){
           var val = $(this).val();
           var address = val.split(" ");
           $("input[name=province]").val(address[0]);
           $("input[name=city]").val(address[1]);
        });
    });
function upyun_upload(type,file) {
    var config = {
        api: 'http://v1.api.upyun.com/',
        bucket: 'ymlypt',
          // 空间的表单 API
        form_api_secret: "{$secret}"
      };
    var form_api_secret = "REGXLUpFH4GQcVa/ehZLS6QinhI=";
    var user_id = "{$user_id}"; 
    if(!file) {
          console.log('no file is selected');
          return;
      }
      // 计算 policy 和 signature 所需的参数
      // 详情见： http://docs.upyun.com/api/form_api/#表单API接口简介
      var time = new Date().getTime();
      var save_as = "/data/uploads/shop_check/"+type+"/" +time+ ".jpg";
      var options = {
          bucket: config.bucket,
          expiration: Math.floor(new Date().getTime() / 1000) + 86400,
          'save-key': save_as
        };
      var policy = window.btoa(JSON.stringify(options));
          
      var signature = CryptoJS.MD5(policy + '&' + form_api_secret);
      var data = new FormData();
          data.append('policy', policy);
          data.append('signature', signature);
          data.append('file', file);
      var request = new XMLHttpRequest();
          request.open('POST', config.api + options.bucket);
      request.onload = function(e) {
              // console.log(request.response);
      };
          request.send(data);
      var path = "https://ymlypt.b0.upaiyun.com"+save_as;
          // console.log(path);
      if(type=='positive_idcard'){
        $("input[name='positive_idcard_url']").val(path);
      }
      if(type=='native_idcard'){
        $("input[name='native_idcard_url']").val(path);
      }
      if(type=='positive_bankcard'){
        $("input[name='positive_bankcard_url']").val(path);
      }
      if(type=='native_bankcard'){
        $("input[name='native_bankcard_url']").val(path);
      }
      if(type=='business_licence'){
        $("input[name='business_licence_url']").val(path);
      }
      if(type=='shop_photo'){
        $("input[name='shop_photo_url']").val(path);
      }
      if(type=='hand_idcard'){
        $("input[name='hand_idcard_url']").val(path);
      }
      return true;
}
function yinsheng_ajax_upload(user_id,file){
  var yinsheng_token = "{$yin_token}";
  var data = new FormData();
      data.append('picType', '00');
      data.append('picFile', file);
      data.append('token', yinsheng_token);
      data.append('superUsercode', 'yuanmeng');
  var request = new XMLHttpRequest();
      request.open('POST', 'https://register.ysepay.com:2443/register_gateway/gateway.do',true);
      // request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");
      request.setRequestHeader("Access-Control-Allow-Origin", "*");
      request.withCredentials = true;
  request.onload = function(e) {
          console.log(request.response);
  };
      request.send(data);
  // $.ajax({
  //           url: 'https://register.ysepay.com:2443/register_gateway/gateway.do',
  //           type: 'post',
  //           data: {'picType': '00', 'picFile': file,'token':yinsheng_token,'superUsercode':'yuanmeng'},
  //           processData : false,
  //           contentType : false,
  //           dataType: "jsonp",
  //           crossDomain: true, 
  //           success: function (result) {
  //              console.log(result);
  //           },
  //           error: function (res){
  //             console.log(res);
  //           }
  //       }, 'json');
}
</script>