<style type="text/css">
.bg-content{
	width:100%;
	height:300px;
	/*background-color: #f2764a;*/
  /*background:url(/themes/mobile/images/anzhuo.jpg) no-repeat center;*/
	padding-left: 20px;
  padding-right: 20px; 
}
.bg-content1{
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
.line-text{
  width:100%;
  height: 50px;
  /*margin-top: 10px;*/
  border-bottom: 1px solid #ccc;
}
.line-text p{
   line-height: 50px;
   font-size: 16px;
   color:#494949;
   font-family: "Microsoft YaHei";
   font-weight: 800;
}
</style>
{if:$pay_status==1}
  {if:$order['user_id']==42608}
  <div class="bg-content" style="height: 800px;">
     <div style="width:80%;text-align: center;padding-top:10px;background: url(/themes/mobile/images/kuang.png) no-repeat center">
        <div style="position: relative;top: 10px;">  
           <p style="color:#f3be1e;"><img src="/themes/mobile/images/success.png" width="30" height="30">成功支付<b style="color: #d4737f;">{$order['order_amount']}</b>元</p>
           <p style="left: 10%;color: #999;">收款方：{$shopname}</p>
           <p style="left: 10%;color: #999;">收款时间：{$order['pay_time']}</p> 
           <p style="left: 10%;color: #999;">订单号{$order['order_no']}</p> 
        </div>
     </div>
     
     <!-- <div><p class="black" style="font-size:20px;text-align: center;color:#fff;margin-top: 10px;">{$currency_symbol}{$order['order_amount']}</p></div> -->
     <div style="position: relative;left: 20%;top:60%;width: 60%;">
      <a href=""><img src="/themes/mobile/images/anniu.png" width="280" height="40"></a>
    </div>
  </div>
  
  <script type="text/javascript">
    $(function () {
       var color_list = {0:'url(/themes/mobile/images/anzhuo1.jpg)',1:'url(/themes/mobile/images/anzhuo2.jpg)',2:'url(/themes/mobile/images/anzhuo3.jpg)'};
       var index = parseInt(2*Math.random());
        $('.bg-content').css('background-image',color_list[index]);
        $('.bg-content').css('background-size',"cover");
        $('.bg-content').css('background-repeat',"no-repeat");
    });  
  </script>
  {else:}
  <div class="bg-content">
     <div style="padding-top:10px; ">
        <p style="font-size:20px;text-align: center;color:#fff;">支付成功</p>
     </div>
     <div style="text-align: center;">
        <img src="/themes/mobile/images/cat.png" width="150" height="150">
     </div>
     <div>
        <p style="font-size:24px;text-align: center;color:#fff;margin-top: 10px;">欧耶,支付成功了</p>
     </div>
     <div><p class="black" style="font-size:20px;text-align: center;color:#fff;margin-top: 10px;">{$currency_symbol}{$order['order_amount']}</p></div>
  </div>
  <div class="bg-content1">
    <div class="line-text">
        <p style="float: left;">收款方</p>
        <p style="float: right;">{$shopname}</p>
    </div>
    <div class="line-text">
        <p style="float: left;">收款时间</p>
        <p style="float: right;">{$order['pay_time']}</p>
    </div>
    <div class="line-text">
        <p style="float: left;">订单号</p>
        <p style="float: right;">{$order['order_no']}</p>
    </div>
  </div>
  {/if}
{else:}
<style>
    .weui-select-modal{
        min-height: 250px;
    }
</style>
<link type="text/css" rel="stylesheet" href="{url:#css/weui.css}" />
<form action="{url:/payment/dopays}" method="post" id="payform">
    <input type="hidden" name="order_id" value="{$order['id']}">
    <input type="hidden" name="payment_id" value="{$order['payment']}">
    <input type="hidden" name="seller_id" value="{$order['shop_ids']}">
    <input type="hidden" name="order_amount"  value="{$order['order_amount']}">
    <input type="hidden" name="order_no"  value="{$order['order_no']}">
    <div class="mt10">
        <div class="weui_cells weui_cells_access">
            <a href="{url:/ucenter/order_detail/id/}{$order['id']}" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>订单号</p>
                </div>
                <div class="weui_cell_ft">
                    {$order['order_no']}
                </div>
            </a>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>订单金额</p>
                </div>
                <div class="weui_cell_hd">
                    {$currency_symbol}{$order['order_amount']}
                </div>
            </div>
            <div class="weui_cell ">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>支付方式</p>
                </div>
                <div class="weui_cell_ft">
                    <input class="weui_input" id="paytype" name='paytype' type="text" value="{$paytype['payname']}" data-values="{$paytype['payment']}" style='text-align: right;display:inline-block;width:auto;' />
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>

    <div class="ma20 clearfix">
        <p class="tc"><input class="weui_btn weui_btn_primary" type="button" id="submitForm" value="立即支付"></p>
    </div>
</form>
<script type="text/javascript" charset="UTF-8" src="/themes/_default/js/jquery.iframe-post-form.js"></script>
<script type="text/javascript" src="/themes/mobile/js/jquery.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/jquery.weui.min.js"></script>
{widget:name=tabbar action=item cart=$cart current=ucenter}
{set:$paydict = array();}
{list:items=$paytypelist}
{set:$paydict[]=array('title'=>$item['pay_name'], 'value'=>$item['id']);}
{/list}
<script type="text/javascript">
    $(function () {
        $("#submitForm").click(function(){
             $("#payform").submit();
        });
        $("#paytype").select({
            title: "选择支付方式",
            items: {echo: json_encode($paydict); },
            onChange: function () {
                    var payment_id = $("#paytype").attr("data-values");
                    var payname = $("#paytype").val();
                    $("input[name='payment_id']").val($("#paytype").attr("data-values"));
                }
            });
        
      });  
</script>
{/if}