
<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
{echo:JS::import('form');}
{echo:JS::import('date');}
<div class="ma20 p20 bg-white">
	<form id="info-form" class="login-form" action="{url:/ucenter/password_save}" method="post">
		<dl>
			<dd ><input class="input"  type="password" pattern="required" name="oldpassword" placeholder="旧密码" alt="原账户密码"></dd>
			<dd ><input class="input"  type="password" pattern="required" name="password" bind="repassword" minlen="6" maxlen="20" value="" placeholder="新密码" alt="密码长度6-20个字符"></dd>
			<dd ><input  class="input" type="password" pattern="required" name="repassword" bind="password" minlen="6" maxlen="20" value="" placeholder="确认密码" alt="密码长度6-20个字符"> </dd>
		</dl>
		{token:}
		<div class="tc mt20"><input type="submit" class="btn" value="修改密码" ></div>
	</form>
</div>
