
<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
{echo:JS::import('form');}
{echo:JS::import('date');}
<div class="ma20 bg-white p20">
    <form  action="{url:/ucenter/promoter_save}" method="post">
        <input name="areas" type="hidden" class="input"  value="" alt="请选择完整地区信息！">
        <dl>
            <!--<dd class="input gray">{$gname|'默认分组'}</dd>-->
            <dd class="input gray">商家名称: {$promoter_info['real_name']}</dd>
            <dd><input class="input" type="text" name="shop_name" maxlen="20" value="{$promoter_info['shop_name']}"  placeholder="店铺名"></dd>
            <dd>
                   <div class="select">
                       <div class="option">选择商家类型</div>
                       <select name="classify_id" id="classify_id">
                            {query:name=promoter_type fields=id,name order=id desc}
                            <option value="{$item['id']}">{$item['name']}</option>
                            {/query}
                        </select>
                   </div>
            </dd>
            <!-- {if:$promoter_info['picture']!=''}
            <dd><img src='{echo:Url::urlFormat("@".$promoter_info['picture'])}' alt=""></dd>
            {/if}
            <dd><input class="input" type="file" name="picture" value="" >上传图片</dd> -->
            <dd id="areas" class="h-box" >
                <div class="flex_1">
                    <div class="select">
                        <div class="option"></div>
                        <input  id="areas_hidden" type="text" class="input" style="visibility:hidden;width:0;" value="{$province},{$city},{$county}" alt="请选择完整地区信息！">
                        <select id="province" name="province" >
                            <option value="{$promoter_info['province_id']}">省份/直辖市</option>
                        </select>
                    </div>
                </div>
                <div class="flex_1">
                    <div class="select">
                        <div class="option"></div>
                        <select id="city" name="city"><option value="{$promoter_info['city_id']}">市</option></select>
                    </div>
                </div>
            </dd>
            <dd>
              <div class="flex_1">
                <div class="select">
                    <div class="option"></div>
                    <select id="county" name="county"><option value="{$promoter_info['region_id']}">县/区</option></select>
                </div>
              </div>
             
              <!-- <div class="flex_1">
                <div class="select">
                    <div class="option"></div>
                    <select id="street" name="street"><option value="{$promoter_info['tourist_id']}">街道</option></select>
                </div>
              </div> -->  
            </dd>
            <dd ><textarea class="textarea" name="road" pattern="required" minlen="5" maxlen="120" placeholder="店铺所在路名或街道地址，门牌号。" alt="路名或街道地址，门牌号，5-120字" >{$promoter_info['road']}</textarea></dd>
            <dd ><textarea class="textarea" name="info" minlen="5" maxlen="120" placeholder="店铺简单描述信息" alt="">{$promoter_info['info']}</textarea></dd>
            <dd>
                <input class="btn" type="submit" value="保存">
            </dd>
        </dl>
    </form>
</div>
<script type="text/javascript">
    $(function(){
    var classify_id = $("#classify_id").text();
    console.log(classify_id);
    // $("#classify_id").parent().find(".option").text();  
    var selected = [{$province|0},{$city|0},{$county|0}];
    $("#areas").Linkage({ url:"{url:/ajax/area_data}",selected:selected,initRunCallBack:true,callback:function(data){
        
        var text = new Array();
        var value = new Array();
        for (i in data[0]){
            if (data[0][i] != 0){
                text.push(data[1][i]);
                value.push(data[0][i]);
            }
        }
        
        $("#province").parent().find(".option").text(data[1][0]);
        $("#city").parent().find(".option").text(data[1][1]);
        $("#county").parent().find(".option").text(data[1][2]);
        // $("#street").parent().find(".option").text(data[1][3]);
        $("#areas_hidden").val(value.join(','));
        var address = data[1][0]+data[1][1]+data[1][2];
    
        $("input[name='areas']").val(address);
        FireEvent(document.getElementById("areas_hidden"), "change");
    }});
    {if:isset($invalid)}
        autoValidate.showMsg({id:$("input[name='{$invalid['name']}']").get(0), error:true, msg:'{$invalid['msg']}'});
    {/if}
        });
</script> 