<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
<link type="text/css" rel="stylesheet" href="{url:#css/weui.css}" />
<script src="{url:#js/swiper.min.js}"></script>
<style type="text/css">
    .weui-col-20{
        text-align: center;
        height:60px;
        border: 3px dotted rgba(125, 125, 125, 0.64);
        padding-top: 9px; 
        border-radius: 7px;
    }
    .weui-col-20 i{
        display: block;
        width: 15px;
        height: 14px;
         right: -1px;
        bottom: -1px;
        position: absolute;
    }
    .weui-col-20 p{
        font-size: 13px;
        color:gray;
    }
    .weui-select{
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        background-color: transparent;
        font-size: inherit;
        height: 25px;
        line-height: 25px;
        position: relative;
        z-index: 1;
        padding-left: 15px;
    }
    .weui-select-modal{
        min-height: 250px;
    }
    .package-selected{
        border: 3px solid #e9630a;
        position: relative;
    }
    .package-selected i{
        
        background: url({url:#images/righbt.png}) no-repeat 0 0;
       
    }
    .package-selected p{
         font-weight: 300;
         color: red;
    }
    .layui-m-layercont{
       padding:0px;   
    }
    .layui-m-layerbtn{
        height: 43px;
        line-height: 43px;
    }
    .swiper-slide{
        width:60px;
        height:60px;
    }
</style>
<div class="weui_panel" id="huabi-score">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell">
                    <div class="weui_cell_hd">
                        <span class="icon-stack icon-lg">
                            <i class="iconfont icon-square icon-stack-2x icon-color-orange"></i>
                            <i class="fa fa-cutlery icon-stack-1x icon-inverse" style="line-height: 1.5em;font-size: 1.2em;"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>充值套餐</p>
                    </div>
                </a>
               <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui-row recharge-package">
                            <input type="hidden" name="package" value="0">
                            <div class="weui-col-20 {if:!isset($package)}package-selected{/if}" data-value="0" data-amount="">
                                <p style='line-height:40px;'>自定义</p>
                                <i></i>
                            </div>
                            <div class="weui-col-20" data-value="1" data-amount="{$package_set[1]['money']}" data-point="{$package_set[1]['point']}" data-financial="{$package_set[1]['financial_coin']}">
                               <p style='line-height:40px;'>套餐一</p>
                                <i></i>
                            </div>
                            <div class="weui-col-20" data-value="2" data-amount="{$package_set[2]['money']}" data-point="{$package_set[2]['point']}" data-financial="{$package_set[2]['financial_coin']}">
                               <p style='line-height:40px;'>套餐二</p>
                                <i></i>
                            </div>
                            <div class="weui-col-20" data-value="3" data-amount="{$package_set[3]['money']}" data-point="{$package_set[3]['point']}" data-financial="{$package_set[3]['financial_coin']}">
                                <p style='line-height:40px;'>套餐三</p>
                                <i></i>
                            </div>
                            <div class="weui-col-20" data-value="4" data-amount="{$package_set[4]['money']}" data-point="{$package_set[4]['point']}" data-financial="{$package_set[4]['financial_coin']}">
                               <p>代理商<br>套餐</p>
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-form-preview" id='package_info' style='display: none;'>
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">套餐金额</label>
                    <em class="weui-form-preview__value" id="package_money"></em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">另赠送积分</label>
                    <span class="weui-form-preview__value" id="package_point"></span>
                </div>
                <!-- <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">赠分红点数</label>
                    <span class="weui-form-preview__value" id="package_financial_coin"></span>
                </div> -->
            </div>
</div>
<div class="weui_cells weui_cells_access" id='gift_select_4' style='display:none;'>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><b>套餐礼品</b></p>
                </div>
            </div>
                <a class="weui_cell open-popup" id="gift_select_open_popup" data-target="#select_gift_package_4" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary" id="current_select_4_gift">
                </div>
                <div class="weui_cell_ft"></div>
                 </a>
 </div>
<div class="weui_cells weui_cells_access" id='address_select' style='display:none;'>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><b>收货地址</b></p>
                </div>
                <div class="weui_cell_bd"><a href="{url:/ucenter/address_other}?url={echo:urlencode(Url::pathinfo())}">使用新地址</a></div>
            </div>
            {set:$addressone=reset($address)}
            {if:$addressone}
            {set:$item=$addressone}
            <a class="weui_cell open-popup" data-target="#selectaddress" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary" id='currentaddress'>
                    <p>{$item['accept_name']} {$item['mobile']}</p>
                    <p style="color:#999;">{$parse_area[$item['province']]} {$parse_area[$item['city']]} {$parse_area[$item['county']]} {$item['addr']}</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            {else:}
            <a class="weui_cell" href="{url:/ucenter/address_other}?url={echo:urlencode(Url::pathinfo())}">
                暂未添加地址,点击添加新地址
            </a>
            {/if}
 </div>
<form id="recharge-form" action="{url:/payment/dopay}" method="post">
    <input id="address_id" type="hidden" name="address_id" value="{echo:$addressone?$addressone['id']:0}" />
    <input id="gift" type="hidden" name="gift" value="" />
    <input type="hidden" name="package" value="0" />
    <input type="hidden" name="payment_id" value="{echo:$paytypeone ? $paytypeone['id']: 0}" />
    <div class="weui_cells weui_cells_access" id="recharge-dialog">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><b>充值金额</b></p>
            </div>
            <div class="weui_cell_bd">
                 <input type="text" name="recharge" class="weui_input" placeholder="请输入充值金额" style="text-align:right;">
            </div>
        </div>
        <div class="weui_cell ">
            <div class="weui_cell_bd weui_cell_primary">
                <p><b>支付方式</b></p>
            </div>
            <div class="weui_cell_ft">
                {if:$paytypeone}
                <input class="weui_input" id="paytype" name='paytype' type="text" value="{$paytypeone['pay_name']}" data-values="{$paytypeone['id']}" style='text-align: right;display:inline-block;width:auto;' />
                {/if}
            </div>
        </div>
    </div>
    <div class="content-padded weui-row"><div class="weui-col-100"><input type="submit" value="立即充值" class="weui_btn weui_btn_primary weui_btn_block" /></div></div>
</form>
<div id="selectaddress" class="weui-popup-container popup-bottom">
    <div class="weui-popup-modal">
        <div class="toolbar">          
            <div class="toolbar-inner">          
                <a href="javascript:;" class="picker-button close-popup">完成</a>          
                <h1 class="title"></h1>          
            </div>          
        </div>
        <div class="modal-content">
            <div class="weui_cells weui_cells_radio">
                {set:$address_default=0;}
                {list:items=$address}
                <label class="weui_cell weui_check_label" for="x{$item['id']}">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{$item['accept_name']} {$item['mobile']}</p>
                        <p style="color:#999">{$parse_area[$item['province']]} {$parse_area[$item['city']]} {$item['addr']} </p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="select_address_id" value="{$item['id']}" id="x{$item['id']}" {if:$item['is_default']==1}{set:$address_default=$item['id']}checked="checked"{/if} />
                               <span class="weui_icon_checked"></span>
                    </div>
                </label>
                {/list}
            </div>
        </div>
    </div>
</div>

<div id="select_gift_package_4" class="weui-popup-container popup-bottom">
    <div class="weui-popup-modal" >
        <div class="toolbar">          
            <div class="toolbar-inner">          
                <a href="javascript:;" class="picker-button close-popup">完成</a>          
                <h1 class="title"></h1>          
            </div>          
        </div>
        <div class="modal-content" style="max-height:400px;">
            <div class="weui_cells weui_cells_radio">
                {list:$items=$select4}
                <label class="weui_cell weui_check_label" for="s1{$item['id']}">
                    <div class="weui_cell_bd weui_cell_primary">
                         <p style="overflow: hidden;text-overflow: ellipsis;width:300px;height:50px;line-height: 25px;font-size:14px;"><img src="{url:@$item[img]}" style="height:50px;width:50px;border-radius:25px;">&nbsp;&nbsp;{$item['name']}</p> 
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="select_gift_4_id" id="s1{$item['id']}" value="{$item['id']}" {if:$key==0}checked="checked"{/if}/>
                               <span class="weui_icon_checked"></span>
                    </div>
                </label>
                {/list}
            </div>
        </div>
    </div>
</div>
{set:$paydict = array();}
{list:items=$paytypelist}
{set:$paydict[]=array('title'=>$item['pay_name'], 'value'=>$item['id']);}
{/query}
<script type="text/javascript">
    $(function () {
        $("#recharge-form").submit(function () {
            if (!$("input[name=recharge]").val()) {
                $.toast("请输入充值金额", "text");
                return false;
            }
            if (!$("input[name=payment_id]").val()) {
                $.toast("请选择充值方式", "text");
                return false;
            }
            if($("input[name='package']").val()==4){
                if($("#address_id").val()==""||$("#address_id").val()=="0"){
                    $.toast("请选择地址信息", "text");
                    return false;
                }
            }
        });
        $("#paytype").select({
            title: "选择支付方式",
            items: {echo: json_encode($paydict); },
            onChange: function () {
                $("input[name='payment_id']").val($("#paytype").attr("data-values"));
            }
        });
    });
   
    $(".recharge-package div").click(function(){
        $(this).addClass("package-selected").siblings().removeClass("package-selected");
        $("input[name='package']").val($(this).data('value'));
        $("input[name='package']").val($(this).data('value'));
        $("input[name='recharge']").val($(this).data('amount'));
        $("#package_money").html("¥"+$(this).data('amount'));
        $("#package_point").html($(this).data('point'));
        $("#package_financial_coin").html($(this).data('financial'));

        if($(this).data('value')==0){
            $("input[name='recharge']").removeAttr("readonly");
            $("#address_select").hide();
            $("#gift_select_4").hide();
            $("#package_info").hide();
        }else{
            $("#package_info").show();
            $("input[name='recharge']").attr("readonly","readonly");  
            if($(this).data('value')==4){
                $("#address_select").show();
                $("#gift_select_4").show();
            }else{
                $("#address_select").hide();
                $("#gift_select_4").hide();
            }
        }
    });
    
    
    $("input[name='select_address_id']").on("click", function () {
        $("#address_id").val($(this).val());
        $("#currentaddress").html($(this).closest(".weui_cell").find(".weui_cell_bd").html());
        $(".address-list li").removeClass("selected");
        $("input[name='address_id']").removeAttr("checked");
        $("input[name='address_id']", this).attr("checked", "checked");
        $(this).addClass("selected");
        $("a.default").hide();
        $("a.default", this).show();
        $(".close-popup").trigger("click");
    });
    
    
    $("input[name='select_gift_4_id']").on("click", function () {
        $("#gift").val($(this).val());
        $("#current_select_4_gift").html($(this).closest(".weui_cell").find(".weui_cell_bd").html());
        $(".close-popup").trigger("click");
    });
    
    $("input[name='select_address_id']:checked").trigger("click");
    $("input[name='select_gift_4_id']:checked").trigger("click"); 
    
    {if:isset($package)&&isset($pid)}
    $("#package{$package}").trigger('click');
    $("#s{$package}{$pid}").trigger('click');
    {/if}
</script>

{set:$curtab='asset';}