<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}"/>
{echo:JS::import('form');}
{echo:JS::import('date');}
<div class="ma20 bg-white p20">
    <form action="" method="post" id="form">
        <dl>
            <dd>
                <input class="input" type="text" pattern="required" name="name" maxlen="5" value=""
                       placeholder="姓名" alt="姓名不能为空">
            </dd>
            <dd>
                <select id="identityType" name="identityType" class="input">
                    <option value="1" selected="selected">身份证</option>
                    <option value="2">护照</option>
                    <option value="3">军官证</option>
                    <option value="4">回乡证</option>
                    <option value="5">台胞证</option>
                    <option value="6">警官证</option>
                    <option value="6">警官证</option>
                    <option value="7">士兵证</option>
                    <option value="99">其它证件</option>
                </select>
            </dd>
            <dd>
                <input class="input" type="text" pattern="required" name="identityNo" maxlen="20" value=""
                       placeholder="证件号码" alt="证件号码不能为空">
            </dd>
            <dd>
                <input class="btn" type="button" id="apply-submit" value="保存">
            </dd>
        </dl>
    </form>
</div>
<script>
    function notification(msg) {
        layer.open({
            content: msg
            , skin: 'msg'
            , time: 4
        });
    }
    $('#apply-submit').on('click', function () {
        var name = $("input[name='name']").val();
        var identityType = $("#identityType option:selected").val();
        var identityNo = $("input[name='identityNo']").val();
        $.ajax({
            url: '/ucenter/realNameVerify',
            type: 'post',
            data: {'name':name,'identityType':identityType,'identityNo':identityNo},
            beforeSend: function () {
                var flag = true;
                if ($("input[name='name']").val() == '' || $("input[name='identityNo']").val() == '') {
                    flag = false;
                    notification("请完善身份认证信息");
                    return false;
                }
            },
            success: function (result) {
                console.log(JSON.stringify(result.msg));
                if (result.status == 'success') {
                    $.toast("实名认证已提交", 'success', function () {
                        notification(result.msg);
                    });
                } else {
                    notification(result.msg);
                }
            }
        }, 'json');
    });
</script>