{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$status=array("0"=>"<span class='green icon-busy'>未处理</span>","1"=>"<span class='gray icon-coin'>已转账</span>","-1"=>"<span class='red icon-remove'>已作废</span>");}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a class="icon-delicious" href="{url:/districtadmin/apply_withdraw}"> 查看全部</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:65px">操作</th>
        <th style="width:120px">申请提现单号</th>
        <th style="width:80px">申请者角色</th>
        <th style="width:80px">申请者名称</th>
        <th style="width:100px;text-align: center;">申请提现金额 </th>
        <th style="width:100px">提现方式</th>
        <th style="width:140px">银行</th>
        <th style="width:140px">开户名</th>
        <th style="width:160px">账号</th>
        <th style="width:140px;">申请时间</th>
        <th style="width:140px;">处理时间</th>
        <th style="width:90px">状态</th>
    </tr>
    {set:$role=array("1"=>'普通用户','2'=>'推广员','3'=>'小区商户');}
    {query:name=district_withdraw as dw fields=dw.* where=$where id=$obj page=1 order=dw.id desc}
     <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min">
                <div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                        <ul>
                            {if:$item['status']==0}
                            <li>{if:$item['withdraw_type']==1}<a class="icon-coin" href="javascript:;" onclick="pass({$item['id']})"> 金点转账{elseif:$item['withdraw_type']==2}<a class="icon-paypal" href="javascript:;" onclick="pass({$item['id']})"> 允许，并人工转账{/if}</a></li>
                            <li><a class="icon-remove" href="javascript:;" onclick="cancel({$item['id']})"> 作废该请求</a></li>
                            {else:}
                            <li><a class="icon-question" href="javascript:;"> 暂无可选操作</a></li>
                            {/if}
                        </ul>
                   </div>
                </div> 
            </td>
            <td style="width:120px">{$item['withdraw_no']}</td>
            <td style="width:80px">{$role[$item['role_type']]}</td>
            <td style="width:80px">
            {if:in_array($item['role_type'],array("1","2"))}
                {set:$user_id=$item['role_id'];}
                {query:name=customer as c join=left join user as u on c.user_id eq u.id fields=c.real_name,u.nickname where=c.user_id eq $user_id item=$customer}
                    {echo:$customer['real_name']==""?$customer['nickname']:$customer['real_name']}
                {/query}
            {else:}
                {set:$district_id=$item['role_id'];}
                 {query:name=district_shop as ds where=id eq $district_id fields=ds.name item=$shop}
                     {$shop['name']}
                 {/query}
            {/if}
            </td>
            <td style="width:100px;text-align: center;">{$item['withdraw_amount']}</td>
            <td style="width:100px">{if:$item['withdraw_type']==1}账户余额{elseif:$item['withdraw_type']==2}银行卡{/if}</td>
            {if:$item['withdraw_type']==1}
            <td style="width:140px">-----------</td>
            <td style="width:140px">-----------</td>
            <td style="width:140px">-----------</td>
            {else:$item['withdraw_type']==2}
            {set:$cardinfo = unserialize($item['card_info']);}
            <td style="width:140px">{$cardinfo['bank_name']|"???"}</td>
            <td style="width:140px">{$cardinfo['card_number']|"???"}</td>
            <td style="width:140px">{$cardinfo['bank_account_name']|"???"}</td>
            {/if}
            <td style="width:140px">{$item['apply_time']}</td>
            <td style="width:140px">{$item['admin_handle_time']|"-------"}</td>
            <td style="width:120px">{$status[$item['status']]}</td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
function cancel(id){
     layer.prompt({title: '请输入作废理由', formType: 2}, function(text, index){
     layer.close(index);
     var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
     $.post("{url:/districtadmin/updateWithdrawStatus}",{id:id,status:-1,reason:text},function(data){
            layer.close(index);
            if(data.status=='success'){
            layer.msg('您拒绝了提现申请，理由是：'+text, {icon: 6},function(){
                tools_reload();
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
   });
}
function pass(id){
    layer.confirm('您确定要进行此操作吗？', {
        btn: ['确定','取消'] //按钮
      }, function(index){
        layer.close(index);
        var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
        $.post("{url:/districtadmin/updateWithdrawStatus}",{id:id,status:1},function(data){
             layer.close(index);
            if(data.status=='success'){
            layer.msg('操作成功', {icon: 6},function(){
                tools_reload();
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
      }, function(){
          layer.msg("您取消了操作"); 
        });
}
$("#condition").on("click",function(){
    layer.msg("暂未完成，请等待");
   return false;
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/commission/commission_withdraw}',method:'get'});},data:{'c.withdraw_no':{name:'申请单号'},'c.name':{name:'用户名'},'c.status':{name:'状态',values:{0:'未处理',1:'已转账',2:'已作废'}},'c.withdraw_amount':{name:'提现金额'},'c.bank':{name:'开户银行'}}});
})
</script>
