{echo:JS::import('form');}
{echo:JS::import('editor');}
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
<div id="obj_form" class="form2 tab">
    <h1 class="page_title">商户合约</h1>
    <!-- <form action="{url:/districtadmin/shop_check_dos}" method="post" > -->
        <input type="hidden" name="id" value="{$contract['id']}">
        <input type="hidden" name="status" value="1">
        <dl class="lineD">
            <dt>合约：</dt>
            <dd>
                <img src="{$contract['url4']}" width="1080" height="4574">      
            </dd>
        </dl>
    <!-- </form> -->
</div>
<script type="text/javascript">

</script>