<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}?v=20170719" />
<style>
    .weui_dialog_visible{
        top:10%;
    }
    .invite_bg{
        height: 700px !important;
    }
</style>
<div class="invite_bg" style="visibility:visible;width:500px;background: url(/static/images/invite_bg.jpg);background-size:100%100%;position: relative;">
    <div style="width: 240px;height: 32px;color:#fff;text-align: center;line-height: 32px;font-size:22px;font-family: 'Microsoft YaHei';position: absolute;top:46px;left: 124px;">收款方</div>
    <div style="width: 240px;height: 32px;color:#fff;text-align: center;line-height: 32px;font-size:30px;font-family: 'Microsoft YaHei';position: absolute;top:80px;left: 124px;">{$real_name}</div>
    <div class="invite_main" style="position: absolute;top: 160px;left: 130px;">
        <div class="invite_qr1" style="width: 240px;height: 242px;">
           <img src="{$avatar}" style="position: absolute;top: 90px;left: 100px;" width="40" height="40">
           <img src="/districtadmin/buildinvitepay?uid={$uid|1}" width="240" height="242" />
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.invite_bg').css('background-color','#fff');
        $(".invite_main").height($(".invite_main").width() / 0.6344);
        $(".invite_bg").css("visibility", "visible");
        $(".invite_bg").height($(document).height() - 98);
    });
</script>