{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<div style="padding:10px;margin-bottom: 40px;">
<form action="" method="post" >
<div class="tools_bar clearfix" >
    <input type="hidden" name="hirer_id" value="{$hirer_id}">
    <span class="fr"><input type="text"  value="{$s_content}" name="s_content" /><a href='javascript:;' onclick="tools_submit({action:'{url:/districtadmin/radio_customer_select}'})" class="fr icon-search" style="" ></a></span>
    <span class="fr">赠送积分<input name="pointcoin" value="" type="text" class="small" />赠送分红点<input type="text" name="financialcoin" value="" class="small">
    <select name="ds_shop" id="ds_shop">
       <option value="">选择经销商</option>
       {query:name=district_shop as ds join=left join customer as c on ds.owner_id eq c.user_id fields=ds.*,c.real_name order=ds.id desc}
       <option value="{$item['id']}">{$item['real_name']}</option>
       {/query}
    </select>
    <select name="s_type"><option value="0">用户ID</option><option value="1">用户手机号</option><option value="2">用户姓名</option></select></span>
</div>
<table class="default" >
  <colgroup>
    <col width="60"/>
    <col width="60"/>
    <col width="100"/>
    <col width="100"/>
  </colgroup>
    <tr>
        <th>选择</th>
        <th>用户ID</th>
        <th>真实姓名</th>
        <th>联系电话</th>
    </tr>
    </table>
<div style="overflow: auto; height: 300px;">
<table class="default" style="border-top: 0">
  <colgroup>
    <col width="60"/>
    <col width="60"/>
    <col width="100"/>
    <col width="100"/>
  </colgroup>
    {if:$where=="1=1"}
      {set:$page_size = 10;}
    {else:}
      {set:$page_size = 100;} 
    {/if}
    {query:name=customer id=$obj where=$where page=1 pagesize=$page_size order=user_id desc }
        <tr><td><input type="radio" name="user_id" value="{$item['user_id']}"></td><td>{$item['user_id']}</td><td>{$item['real_name']}</td><td>{$item['mobile']}</td></tr>
    {/query}
</table>
</div>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
</div>
<div class="alone_footer tc"><button class="btn" onclick="selected()">确定</button></div>
<script type="text/javascript">
    function selected(){
        if($("input[name='user_id']:checked").size()>0){
            var user_id = $("input[name='user_id']:checked").val();
            var hirer_id=$('#ds_shop').val();
            var pointcoin=$("input[name='pointcoin']").val();
            var financialcoin=$("input[name='financialcoin']").val();
            if(user_id==undefined){
                alert("您还没有选择用户");
            }else{
                
                 window.parent.callback(hirer_id,user_id,pointcoin,financialcoin);
            }
        }else{
            alert("您还没有选择用户");
        }
    }
    var form =  new Form();
    form.setValue('s_type','{$s_type}');
    form.setValue('s_content','{$s_content}');
</script>