{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$role=array("1"=>'普通用户','2'=>'推广员','3'=>'小区商户');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
   <!-- <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/order/order_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>!-->
    <a class="icon-delicious" href="{url:/districtadmin/record_income}"> 查看全部</a>
<!--    <a class="icon-eye-blocked" href="{url:/order/order_list/status/2}"> 未审核</a>
    <a class="icon-cogs" href="{url:/order/order_list/status/3}"> 执行中</a>-->

    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:65px">操作</th>
        <th>所属角色</th>
        <th>角色名称</th>
        <th>收益类型</th>
        <th>可用收益</th>
        <th>锁定收益</th>
        <th>已结算收益</th>
    </tr>
    {query:name=promote_income_log as pil  where=$where id=$obj page=1 order= id desc}
    <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min">
                <div class="operat hidden">
                    <a  class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                     <ul>
                       {if:$item['type']==10}
                       <li><a class="icon-eye" href="{url:/districtadmin/apply_join}?condition=and--da.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {elseif:in_array($item['type'],array("1","2","3","4","5","6","12","13"))}
                       <li><a class="icon-eye" href="{url:/districtadmin/record_sale}?condition=and--psl.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {elseif:$item['type']==11}
                       <li><a class="icon-eye" href="{url:/districtadmin/apply_withdraw}?condition=and--dw.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {else:}
                       <li><a class="icon-eye" href="javascript:;"> 暂无可选操作</a></li>
                       {/if}
                       <li><a class="icon-eye" href="{url:/customer/customer_list}?condition=and--user_id--eq--{$item['user_id']}"> 查看用户信息</a></li>
                     </ul>
                   </div>
                </div>
            </td>
            <td>{$role[$item['role_type']]}</td>
            {if:in_array($item['role_type'],array("1","2"))}
                {set:$user_id=$item['role_id'];}
                {query:name=customer as c join=left join user as u on c.user_id eq u.id fields=c.real_name,u.nickname where=c.user_id eq $user_id item=$customer}
                    <td>{echo:$customer['real_name']==""?$customer['nickname']:$customer['real_name']}</td>
                {/query}
            {else:}
                {set:$district_id=$item['role_id'];}
                 {query:name=district_shop as ds where=id eq $district_id fields=ds.name item=$shop}
                     <td>{$shop['name']}</td>
                 {/query}
            {/if}
            <td>{$item['note']}</td>
            <td>{echo:$item['valid_income_change']>=0?"+".$item['valid_income_change']:$item['valid_income_change']}</td>
            <td>{echo:$item['frezze_income_change']>=0?"+".$item['frezze_income_change']:$item['frezze_income_change']}</td>
            <td>{echo:$item['settled_income_change']>=0?"+".$item['settled_income_change']:$item['settled_income_change']}</td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
$("table img").mouseenter(function (){
    var content = $(this).parent().parent().next().text();
     layer.tips(content, $(this), {
     tips: 1,
     time: 20000
    });
});
$("table img").mouseout(function(){
   layer.closeAll('tips'); //关闭所有的tips层   
});

function view(id){
        art.dialog.open("{url:/order/order_view/id/}"+id,{id:'view_dialog',title:'查看订单',resize:false,width:900,height:450});
}
$("#condition").on("click",function(){
   layer.msg("暂未完成，请等待");
   return false;
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/commission/commission_list_order}',method:'get'});},data:{'o.order_no':{name:'订单编号'},'o.order_amount':{'name':'订单金额'},'c.status':{name:'佣金状态',values:{0:'时间锁定中',1:'已可用', 2:'已提现', 3:'已撤销'}},'u1.name':{name:'购买者用户名'},'u2.name':{name:'佣金收益者用户名'},'c.commission_get':{'name':'单笔佣金金额'},'c.commission_amount':{'name':'订单佣金总额'},'c.commission_level':{name:'佣金等级',values:{1:'1',2:'2',3:'3'}}}});
})
</script>