{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$role=array("1"=>'普通用户','2'=>'推广员','3'=>'专区商户');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
   <!-- <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/order/order_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>!-->
    <a class="icon-delicious" href="{url:/districtadmin/record_income}"> 查看全部</a>
<!--    <a class="icon-eye-blocked" href="{url:/order/order_list/status/2}"> 未审核</a>
    <a class="icon-cogs" href="{url:/order/order_list/status/3}"> 执行中</a>-->

    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:65px">操作</th>
        <th>所属角色</th>
        <th>角色名称</th>
        <th>收益类型</th>
        <th>可用收益</th>
        <th>锁定收益</th>
        <th>已结算收益</th>
    </tr>
    {list:$items=$list['data']}
    <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min">
                <div class="operat hidden">
                    <a  class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                     <ul>
                       {if:$item['type']==10}
                       <li><a class="icon-eye" href="{url:/districtadmin/apply_join}?condition=and--da.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {elseif:in_array($item['type'],array("1","2","3","4","5","6","12","13"))}
                       <li><a class="icon-eye" href="{url:/districtadmin/record_sale}?condition=and--psl.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {elseif:$item['type']==11}
                       <li><a class="icon-eye" href="{url:/districtadmin/apply_withdraw}?condition=and--dw.id--eq--{$item['record_id']}"> 查看来源</a></li>
                       {else:}
                       <li><a class="icon-eye" href="javascript:;"> 暂无可选操作</a></li>
                       {/if}
                       <li><a class="icon-eye" href="{url:/customer/customer_list}?condition=and--user_id--eq--{$item['user_id']}"> 查看用户信息</a></li>
                     </ul>
                   </div>
                </div>
            </td>
            <td>{$role[$item['role_type']]}</td>
            
            <td>{echo:$item['real_name']==""?($item['nickname']==""?$item['shopname']:$item['nickname']):$item['real_name']}</td>
            <td>{$item['note']}</td>
            <td>{echo:$item['valid_income_change']>=0?"+".$item['valid_income_change']:$item['valid_income_change']}</td>
            <td>{echo:$item['frezze_income_change']>=0?"+".$item['frezze_income_change']:$item['frezze_income_change']}</td>
            <td>{echo:$item['settled_income_change']>=0?"+".$item['settled_income_change']:$item['settled_income_change']}</td>
        </tr>
    {/list}
</table>
</form>
<div class="page_nav">
{$list['html']}
</div>
<script type="text/javascript">
$("table img").mouseenter(function (){
    var content = $(this).parent().parent().next().text();
     layer.tips(content, $(this), {
     tips: 1,
     time: 20000
    });
});
$("table img").mouseout(function(){
   layer.closeAll('tips'); //关闭所有的tips层   
});

function view(id){
        art.dialog.open("{url:/order/order_view/id/}"+id,{id:'view_dialog',title:'查看订单',resize:false,width:900,height:450});
}

$("#condition").on("click",function(){
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/districtadmin/record_income}',method:'post'});},data:{role_type:{name:'所属角色'},real_name:{name:'角色名称'},note:{name:'收益类型'},valid_income_change:{name:'可用收益'},frezze_income_change:{name:'锁定收益'},settled_income_change:{name:'已结算收益'}}
 });
})

</script>