{echo:JS::import('form');}
{echo:JS::import('editor');}
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
<div id="obj_form" class="form2 tab">
    <h1 class="page_title">商家认证详情</h1>
    <form action="{url:/districtadmin/shop_check_dos}" method="post" >
        <input type="hidden" name="id" value="{$shop_check['id']}">
        <input type="hidden" name="status" value="1">
        {if:$shop_check['shop_name']!=null}
        <dl class="lineD">
            <dt>店铺名：</dt>
            <dd>
                <input type="text" value="{$shop_check['shop_name']}" style="width: 200px;height: 30px;">  
            </dd>
        </dl>
        {/if}
        {if:$shop_check['legal_person']!=null}
        <dl class="lineD">
            <dt>法人：</dt>
            <dd>
                <input type="text" value="{$shop_check['legal_person']}" style="width: 200px;height: 30px;">  
            </dd>
        </dl>
        {/if}
        <dl class="lineD">
            <dt>身份证正面照：</dt>
            <dd>
                {set:$positive_idcard = $shop_check['positive_idcard']}
                <img src="{url:@$positive_idcard}" width="300" height="180">      
            </dd>
        </dl>
        <dl class="lineD">
            <dt>身份证反面照：</dt>
            <dd>
                {set:$native_idcard = $shop_check['native_idcard']}
                <img src="{url:@$native_idcard}" width="300" height="180">
            </dd>
        </dl>
        {if:$shop_check['hand_idcard']!=null}
        <dl class="lineD">
            <dt>手持身份证照：</dt>
            <dd> 
                {set:$hand_idcard = $shop_check['hand_idcard']}
                <img src="{url:@$hand_idcard}" width="300" height="180">
            </dd>
        </dl>
        {/if}
        {if:$shop_check['address']!=null}
        <dl class="lineD">
            <dt>地址:</dt>
            <dd>
                <input type="text" value="{$shop_check['province']}{$shop_check['city']}{$shop_check['county']}{$shop_check['address']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['found_date']!=null}
        <dl class="lineD">
            <dt>成立时间</dt>
            <dd>
                <input type="text" value="{$shop_check['found_date']}" style="width: 200px;height: 30px;">  
            </dd>
        </dl>
        {/if}
        {if:$shop_check['account_card']!=null}
        <dl class="lineD">
            <dt>结算银行卡号:</dt>
            <dd>
                <input type="text" value="{$shop_check['account_card']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['bank_type']!=null}
        <dl class="lineD">
            <dt>银行类型:</dt>
            <dd>
                <input type="text" value="{$shop_check['bank_type']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        <dl class="lineD">
            <dt>银行:</dt>
            <dd>
                <input type="text" id="bank_name" name="bank_name" value="{$shop_check['bank_name']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        <!-- <dl class="lineD">
            <dt>手动选择银行:</dt>
            <dd>
                <select name="choose_bank" id="choose_bank">
                        <option value="0">选择支行</option>
                        
                </select>
            </dd>
        </dl>
        <dl class="lineD">
           <dt>搜索</dt>
           <dd>
               <span class="fr">
                <input type="text" value="" name="s_content"/>
                        <a href='javascript:;'
                           onclick="search_submit()"
                           class="fr icon-search" style=""></a>
                </span>
           </dd>
        </dl> -->
        {if:$shop_check['positive_bankcard']!=null}
        <dl class="lineD">
            <dt>银行卡正面照：</dt>
            <dd>
                {set:$positive_bankcard = $shop_check['positive_bankcard']}
                <img src="{url:@$positive_bankcard}" width="300" height="180">
            </dd>
        </dl>
        {/if}
        {if:$shop_check['native_bankcard']!=null}
        <dl class="lineD">
            <dt>银行卡反面照：</dt>
            <dd>
                {set:$native_bankcard = $shop_check['native_bankcard']}
                <img src="{url:@$native_bankcard}" width="300" height="180">
            </dd>
        </dl>
        <dl class="lineD">
            <dt>银行卡所属地:</dt>
            <dd>
                <input type="text" value="{$shop_check['bank_province']}{$shop_check['bank_city']}{$shop_check['bank_area']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['business_licence']!=null}
        <dl class="lineD">
            <dt>营业执照：</dt>
            <dd>
                {set:$business_licence = $shop_check['business_licence']}
                <img src="{url:@$business_licence}" width="300" height="180">     
            </dd>
        </dl>
        {/if}
        {if:$shop_check['business_number']!=null}
        <dl class="lineD">
            <dt>营业执照登记号：</dt>
            <dd>
                <input type="text" value="{$shop_check['business_number']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['business_addr']!=null}
        <dl class="lineD">
            <dt>营业执照登记地址：</dt>
            <dd>
                <input type="text" value="{$shop_check['business_addr']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['account_picture']!=null}
        <dl class="lineD">
            <dt>开户许可证：</dt>
            <dd>
                {set:$account_picture = $shop_check['account_picture']}
                <img src="{url:@$account_picture}" width="300" height="180">    
            </dd>
        </dl>
        {/if}
        {if:$shop_check['shop_photo']!=null}
        <dl class="lineD">
            <dt>门店照：</dt>
            <dd>
                {set:$shop_photo = $shop_check['shop_photo']}
                <img src="{url:@$shop_photo}" width="300" height="180">
            </dd>
        </dl>
        {/if}
        {if:$shop_check['status']==2}
        <dl class="lineD">
            <dt>未通过原因：</dt>
            <dd>
                <textarea type="text" cols="20" rows="5">{$shop_check['reason']}</textarea>       
            </dd>
        </dl>
        {/if}
        <div style="text-align:left;margin-left:13%;"><input type="submit" value="通过认证" class="button">&nbsp;&nbsp;&nbsp;<a class="button" href="javascript:;" onclick="cancel({$shop_check['id']})"> 拒绝认证</a></div>
    </form>
</div>
<script type="text/javascript">
function cancel(id){
     layer.prompt({title: '请输入作废理由', formType: 2}, function(text, index){
     layer.close(index);
     var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
     $.post("{url:/districtadmin/shop_check_do}",{id:id,status:2,reason:text},function(data){
            layer.close(index);
            if(data.status=='success'){
            layer.msg('您拒绝了认证申请，理由是：'+text, {icon: 6},function(){
                window.location='{url:/districtadmin/shop_check}';
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
   });
}
function search_submit()
{
    var name = $('#s_content').val();
    $.post("{url:/districtadmin/get_bank_type}",{name:name},function(data){
            data = JSON.stringify(res);
                var jsonarray= $.parseJSON(data);
                var html = '';
                // layer.close(index);
                if (jsonarray.length) {
                    $.each(jsonarray, function (i, item) {
                        html += "<option value="+item.id+">"+item.longname+"</option>";  
                    });
                    $('#choose_bank').html();
                    $('#choose_bank').append(html);
                    $('#bank_name').val(item.longname);
                }
        },'json');
}
</script>