{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{set:$status=array("0"=>"<span class='green icon-busy'>未处理</span>","1"=>"<span class='gray icon-coin'>已审核</span>","2"=>"<span class='red icon-remove'>未通过</span>");}
{set:$type = array("0"=>"未知","1"=>"实体商家","2"=>"个人微商");}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a class="icon-delicious" href="{url:/districtadmin/shop_check}"> 查看全部</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:50px">选择</th>
        <th style="width:65px">操作</th>
        <th style="width:80px">用户名</th>
        <th style="width:80px">申请者</th>
        <th style="width:120px">店铺名</th>
        <th style="width:80px">商家类型</th> 
        
        <th style="width:140px">申请时间</th>
        <th style="width:140px">处理时间</th>
        
        <th style="width:120px">状态</th>
    </tr>
    {query:name=shop_check as sc join=left join user as u on sc.user_id eq u.id left join district_promoter as dp on sc.user_id eq dp.user_id fields=sc.*,u.nickname,u.name,dp.shop_name where=$where id=$obj page=1 order= id desc}
        <tr><td style="width:50px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
            <td style="width:65px" class="btn_min">
                <div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                        <ul>
                            <li><a class="icon-question" href="{url:/districtadmin/shop_check_detail/id/$item[id]}"> 查看</a></li>
                            {if:$item['status']==0}
                            <li><a class="icon-key" href="javascript:;" onclick="pass({$item['id']})"> 通过认证</a></li>
                            <li><a class="icon-remove" href="javascript:;" onclick="cancel({$item['id']})"> 作废该请求</a></li>
                            <!--<li><a class="icon-credit" href="javascript:;" onclick="check_pay({$item['id']})"> 支付查询</a></li>-->
                            {else:}
                            <li><a class="icon-question" href="javascript:;"> 暂无可选操作</a></li>
                            {/if}
                        </ul>
                   </div>
                </div> 
            </td>
            <td style="width:80px">{$item['name']}</td>
            <td style="width:80px">{$item['nickname']}</td>
            
            <td style="width:120px">{$item['shop_name']}</td>
            <td style="width:80px">{$type[$item['type']]}</td>
            
            <td style="width:140px">{$item['create_date']}</td>
            <td style="width:140px">{$item['check_date']|"-------"}</td>
            
            <td style="width:120px">{$status[$item['status']]}</td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
function cancel(id){
     layer.prompt({title: '请输入作废理由', formType: 2}, function(text, index){
     layer.close(index);
     var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
     $.post("{url:/districtadmin/shop_check_do}",{id:id,status:2,reason:text},function(data){
            layer.close(index);
            if(data.status=='success'){
            layer.msg('您拒绝了认证申请，理由是：'+text, {icon: 6},function(){
                tools_reload();
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
   });
}
function pass(id){
    layer.confirm('您确定要通过吗？', {
        btn: ['确定','取消'] //按钮
      }, function(index){
        layer.close(index);
        var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
        $.post("{url:/districtadmin/shop_check_do}",{id:id,status:1},function(data){
             layer.close(index);
            if(data.status=='success'){
            layer.msg('操作成功', {icon: 6},function(){
                tools_reload();
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
      }, function(){
          layer.msg("您取消了操作"); 
        });
}
$("#condition").on("click",function(){
   
  $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/districtadmin/shop_check}',method:'get'});},data:{'u.nickname':{name:'  申请者'},'u.name':{name:'用户名'},'dp.shop_name':{name:'店铺名'},'sc.status':{name:'状态',values:{0:'未处理',1:'已通过',2:'已作废'}}}});
})
</script>
