<script type="text/javascript" src="{url:@static/js/layer/layer.js}"></script>
<script src="{url:@static/js/echarts.common.min.js}"></script>
<div> 
<div>
    <h1 class="page_title">所属下级及销售情况</h1>
        
        <dl class="lineD">
            <dt>经销商数量：</dt>
            <dd>
                <label>{$info['shop_num']}</label>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>经销商销售总量：</dt>
            <dd>
                <label>{$info['shop_amount']}</label>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>代理商数量：</dt>
            <dd>
                <label>{$info['promoter_num']}</label>
            </dd>
        </dl>
        <dl class="lineD">
            <dt>代理商销售总量：</dt>
            <dd>
                <label>{$info['promoter_amount']}</label>
            </dd>
        </dl>
</div>