{echo:JS::import('form');}
{echo:JS::import('editor');}
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
<div id="obj_form" class="form2 tab">
    <h1 class="page_title">商家认证详情</h1>
    <form action="{url:/districtadmin/shop_check_dos}" method="post" >
        <input type="hidden" name="id" value="{$shop_check['id']}">
        <input type="hidden" name="status" value="1">
        <dl class="lineD">
            <dt>身份证正面照：</dt>
            <dd>
                <img src="{$shop_check['positive_idcard']}" width="300" height="180">      
            </dd>
        </dl>
        <dl class="lineD">
            <dt>身份证反面照：</dt>
            <dd>
                <img src="{$shop_check['native_idcard']}" width="300" height="180"> 
            </dd>
        </dl>
        <dl class="lineD">
            <dt>结算银行卡号:</dt>
            <dd>
                <input type="text" value="{$shop_check['account_card']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        <dl class="lineD">
            <dt>银行信息:</dt>
            <dd>
                <input type="text" value="{$shop_check['bank_name']}" style="width: 200px;height: 30px;"> 
            </dd>
        </dl>
        {if:$shop_check['positive_bankcard']!=null}
        <dl class="lineD">
            <dt>银行卡正面照：</dt>
            <dd>
                <img src="{$shop_check['positive_bankcard']}" width="300" height="180"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['native_bankcard']!=null}
        <dl class="lineD">
            <dt>银行卡反面照：</dt>
            <dd>
                <img src="{$shop_check['native_bankcard']}" width="300" height="180"> 
            </dd>
        </dl>
        {/if}
        {if:$shop_check['type']==1}
        <dl class="lineD">
            <dt>营业执照：</dt>
            <dd>
                <img src="{$shop_check['business_licence']}" width="300" height="180">      
            </dd>
        </dl>
        
        <dl class="lineD">
            <dt>门店照：</dt>
            <dd>
                <img src="{$shop_check['shop_photo']}" width="300" height="180"> 
            </dd>
        </dl>
        {else:}
        <dl class="lineD">
            <dt>手持身份证照：</dt>
            <dd>
                <img src="{$shop_check['hand_idcard']}" width="300" height="180"> 
                
            </dd>
        </dl>
        {/if}
        {if:$shop_check['status']==2}
        <dl class="lineD">
            <dt>未通过原因：</dt>
            <dd>
                <textarea type="text" cols="20" rows="5">{$shop_check['reason']}</textarea>       
            </dd>
        </dl>
        {/if}
        <div style="text-align:left;margin-left:13%;"><input type="submit" value="通过认证" class="button">&nbsp;&nbsp;&nbsp;<a class="button" href="javascript:;" onclick="cancel({$shop_check['id']})"> 拒绝认证</a></div>
    </form>
</div>
<script type="text/javascript">
function cancel(id){
     layer.prompt({title: '请输入作废理由', formType: 2}, function(text, index){
     layer.close(index);
     var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
     $.post("{url:/districtadmin/shop_check_do}",{id:id,status:2,reason:text},function(data){
            layer.close(index);
            if(data.status=='success'){
            layer.msg('您拒绝了认证申请，理由是：'+text, {icon: 6},function(){
                window.location='{url:/districtadmin/shop_check}';
            }); 
          }else{
            layer.msg(data.msg, {icon: 5}); 
          }
        },'json');
   });
}
</script>