@charset "UTF-8";

@import "base";

$cell-w: 620px;
$cell-h: 344px;
$cell-margin: (640px - $cell-w) / 2;
$cell-detail-h: 100px;

.way {
  display: flex;
  flex-direction: column;
  padding: $cell-margin 0;
  .cell {
    width: $cell-w;
    height: $cell-h;
    background-color: #e5e5e5;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    & + .cell {
      margin-top: $cell-margin;
    }
    .cell-bg {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .detail {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      height: $cell-detail-h;
      margin-top: $cell-h - $cell-detail-h;
      background-color: rgba(0, 0, 0, .6);
      overflow: hidden;
      color: #fff;
      padding: 0 16px;
      h2 {
        position: absolute;
        margin: 0;
        font-size: 30px;
        top: 6px;
        font-weight: bold;
      }
      span.time {
        position: absolute;
        font-size: 20px;
        top: 44px;
      }
      span.address {
        position: absolute;
        font-size: 20px;
        top: 70px;
      }
      span.price {
        position: absolute;
        display: block;
        //width: 100px;
        //height: 44px;
        top: calc(50% - 24px);
        right: 22px;
        font-size: 28px;
        color: #ff811a;
        border: 2px solid #828282;
        border-radius: 6px;
        padding: 8px;
        letter-spacing: 1px;
        &::before {
          content: '$';
          margin-right: 2px;
        }
      }
    }
  }
}