@charset "UTF-8";

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  width: 640px;
  min-height: 100vh;
  box-shadow: 0 0 16px #eee;
  overflow: hidden;
  font-size: 24px;
}

img.size-fit {
  display: block;
  width: 100%;
  height: auto;
}