{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/customer/withdraw_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
    <a class="icon-delicious" href="{url:/customer/withdraw_list}"> 全部记录</a>
    <a class="icon-eye" href="javascript:balanceQuery();"> 查询代付备用金</a>
    <a class="icon-file-excel" href="javascript:;" onclick="export_excel_dialog()"> 导出Excel</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:30px">选择</th>
        <th style="width:70px">操作</th>
        <th style="width:180px">提现单号</th>
        <th style="width:100px">用户</th>
        <th style="width:100px">用户昵称</th>
        <th style="width:100px">提现金额</th>
        <th style="width:100px">实际转账</th>
        <th style="width:100px">开户名</th>
        <th style="width:200px">开户行</th>
        <th style="width:180px">银行卡号</th>
        <th style="width:180px">申请时间</th>
        <th style="width:80px">类型</th>
        <th style="width:60px">状态</th>    
    </tr>
    {set:$status=array("-1"=>"<span class='red'>申请被拒</span>","0"=>"<span class='green'>待处理</span>","1"=>"已转账","2"=>"<span class='red'>提现失败</span>","3"=>"<span class='red'>已废弃</span>","4"=>"<span class='red'>代付中</span>")}
    {set:$type=array("0"=>"可用余额提现","1"=>"商家余额提现")}
    {query:name=balance_withdraw as wd fields=wd.*,us.nickname,us.name as uname join= left join user as us on wd.user_id eq us.id where= $where id=$obj page=1 order=wd.id desc }
        <tr><td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
        <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                {if:$item['status']==0}
                <li><a class="icon-pencil" href="javascript:withdrawAction({$item['id']});"> 审批</a></li>
                <li><a class="icon-eye" href="javascript:queryPayStatus({$item['id']});"> 查询代付状态</a></li>
                {elseif:$item['status']==1}
                <li><a class="icon-eye" href="javascript:queryPayStatus({$item['id']});"> 查询代付状态</a></li>
                {elseif:$item['status']==2}
                <li><a class="icon-pencil" href="javascript:reWithdrawAction({$item['id']});"> 再次审批</a></li>
                <li><a class="icon-credit" href="javascript:balanceBack({$item['id']});"> 余额退回</a></li>
                <li><a class="icon-eye" href="javascript:queryPayStatus({$item['id']});"> 查询代付状态</a></li>
                {elseif:$item['status']==3}
                <li><a class="icon-eye" href="javascript:queryPayStatus({$item['id']});"> 查询代付状态</a></li>
                {elseif:$item['status']==4}
                <li><a class="icon-eye" href="javascript:queryPayStatus({$item['id']});"> 查询代付状态</a></li>
                <li><a class="icon-credit" href="javascript:balanceBack({$item['id']});"> 余额退回</a></li>
                {/if}
            </ul></div></div> </td>
        <td >{$item['withdraw_no']}</td>
        <td>{$item['uname']}</td>
        <td>{$item['nickname']}</td>
        <td>{$item['amount']}</td>
        <td>{$item['real_amount']|" "}</td>
        <td >{$item['open_name']}</td>
        <td >{$item['open_bank']}（{$item['province']},{$item['city']}）</td>
        <td >{$item['card_no']}</td>
        <td >{$item['apply_date']}</td>
        <td style="width:80px">{$type[$item['type']]}</td>
        <td style="width:60px">{$status[$item['status']]}</td>
        </tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<div id="excel_box" style="display: none;width:600px;">
    <h1 class="page_title">Excel导出</h1>
    <div class="form2">
        <form  id="export_form" action="{url:/customer/withdraw_export_excel}" method="post" >
           <dl class="lineD">
          <dt>筛选条件：</dt>
          <dd><input type="hidden"  id="condition_input_excel" name="condition" value="{$condition}"><label></label> <label><a href="javascript:;" onclick="Condition('#condition_input_excel')"  class="button" > 高级筛选</a></label>
          </dd>
          </dl>
        <dl class="lineD">
          <dt>导出字段：</dt>
          <dd>
            <label><input type="checkbox" name="fields[]" value="withdraw_no" checked="checked"> 提现单号</label>
            <label><input type="checkbox" name="fields[]" value="amount"> 金额</label>
            <label><input type="checkbox" name="fields[]" value="open_name"> 开户名</label>
            <label><input type="checkbox" name="fields[]" value="open_bank"> 开户行</label>
            <label><input type="checkbox" name="fields[]" value="card_no"> 银行卡号</label>
            <label><input type="checkbox" name="fields[]" value="apply_date"> 时间</label>
          </dd>
          </dl>
        <div class="tc mt10"><a href="javascript:;" onclick="export_excel()" class="button">导出</a></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var refresh=false;
    var form =  new Form();
    $("#condition").on("click",function(){
        $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/customer/withdraw_list}',method:'get'});},data:{'wd.withdraw_no':{name:'单号'},'us.name':{name:'用户名'},'wd.open_name':{name:'开户名'},'wd.open_bank':{name:'开户行'},'wd.card_no':{name:'银行卡号'},'wd.amount':{name:'提现金额'},'wd.status':{name:'状态',values:{'-1':'拒绝',0:'待处理',1:'已转账'}}
        }});
    });
    
    function withdrawAction(id)
    {
        layer.open({
            type: 2,
            title:"审核提现请求",
            area: ['700px', '400px'],
            fixed: false, //不固定
            maxmin: false,
            content: '{url:/customer/withdraw_view/id/}'+id,
            end:function(){
                if(refresh){
                    window.location.reload();
                }
            }
          });
    }

    function reWithdrawAction(id)
    {
        layer.open({
            type: 2,
            title:"再次审核提现请求",
            area: ['700px', '400px'],
            fixed: false, //不固定
            maxmin: false,
            content: '{url:/customer/re_withdraw_view/id/}'+id,
            end:function(){
                if(refresh){
                    window.location.reload();
                }
            }
          });
    }

    function close_dialog()
    {
        art.dialog({id:"withdraw-dialog"}).close();
        tools_reload();
    }
    
    function queryPayStatus(id){
        var load = layer.load();
        $.post("{url:/customer/withdraw_query}",{id:id},function(result){
            layer.close(load);
            if(result.status){
                layer.confirm("代付状态："+result.msg, {
                    btn: ['我知道啦'] //按钮
                    ,title:"代付状态查询"
                  }, function(){
                      layer.closeAll();
                  });
            }else{
                layer.msg(result.msg);
            }
        },'json');
    }
    function balanceBack(id){
       var load =layer.load();
       $.post("{url:/customer/withdraw_back}",{id:id},function(res){
           layer.close(load);
           layer.msg("操作成功");
           window.location.reload();
           // if(res.status){
           //       layer.msg("操作成功",{icon:6},function(){
           //            window.location.reload();
           //       });
           // }else{
           //  layer.msg("退回失败");
           // }
       })
    }
    function balanceQuery(){
        var load =layer.load();
        $.post("{url:/customer/df_balance_query}",{},function(result){
            layer.close(load);
            if(result.status){
                layer.confirm("剩余备用金："+result.balance+"分<br>若备用金不足，请前往银联代付后台充值", {
                    btn: ['我知道啦'] //按钮
                    ,title:"备用金查询"
                  }, function(){
                      layer.closeAll();
                  });
            }else{
                layer.msg(result.msg);
            }
        },'json');
    }
    function export_excel_dialog(){
        art.dialog({id:'export_excel_dialog',title:'Excel导出',lock:true,opacity:0.1,width:600,height:200,content:document.getElementById("excel_box")});
    }
    function export_excel() {
      $("#export_form").submit();
    }
    function Condition(id){
        $("body").Condition({input:id,data:{'wd.withdraw_no':{name:'单号'},'us.name':{name:'用户名'},'wd.open_name':{name:'开户名'},'wd.open_bank':{name:'开户行'},'wd.card_no':{name:'银行卡号'},'wd.amount':{name:'提现金额'},'wd.status':{name:'状态',values:{'-1':'拒绝',0:'待处理',1:'已转账'}}
        }});
    }
</script>
