{echo:JS::import('form');}
{echo:JS::import('editor');}
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}

<h1 class="page_title">商品编辑</h1>
<form action="" class=" " method="post" callback="check_tab_location" >
  {if:isset($id)}
  <input type="hidden" name="id" value="{$id}">
  {/if}
  {set:$pid = isset($category_id)?Common::getPreviousLevel($category_id):0;}
  {set:$pids = isset($category_id)?Common::getPreviousLevel($pid):0;}
  <input type="hidden" name="category_type" value="">
  <div id="obj_form" class="form2 tab">
    <!-- tab 头 start -->
    <ul class="tab-head">
      <li>类型</li>
    </ul>
    <!-- tab 头 end -->
    <!-- tab body start -->
    <div class="tab-body">
      <!-- 基本信息 start -->
      <div>
        
        <dl class="lineD">
          <dt> <b class="red">*</b>
            分类：
          </dt>
          <dd>
            <select id="category_id" pattern="[1-9]\d*" alt="选择分类，若无分类请先创建。">
              <option value="0">选择分类</option>
              {set:$id=isset($id)?$id:0;}
              {query:name=goods_category where = parent_id eq 0 }
                    <option value="{$item['id']}" {if:$pids==$item['id']}selected='selected'{/if}>{$item['name']}</option>
              {/query}
            </select>
            <label></label>
            <select id="category_ids">
                <option value="0">==二级分类==</option>
                {if:$pid!=$pids}
                {query:name=goods_category where = parent_id eq $pids }
                    <option value="{$item['id']}" {if:$pid==$item['id']}selected='selected'{/if}>{$item['name']}</option>
                {/query}
                {else:}
                {query:name=goods_category where = parent_id eq $pids }
                    <option value="{$item['id']}" {if:isset($category_id) && $category_id==$item['id']}selected='selected'{/if}>{$item['name']}</option>
                {/query}
                {/if}
            </select>
              <select id="category_idss">
                  <option value="0">==三级分类==</option>
                  {if:$pid!=$pids}
                  {query:name=goods_category where = parent_id eq $pid }
                    <option value="{$item['id']}" {if:isset($category_id) && $category_id==$item['id']}selected='selected'{/if}>{$item['name']}</option>
                  {/query}
                  {/if}
              </select>
          </dd>
        </dl>
      </div>  
      </div>  
      </div>
      <div style="text-align:center;margin-top:20px;">
        <a href="/goods/goods_list" class="focus_button"  >提交</a>
      </div>
</form>
<script type="text/javascript">

var category_id;
var category_ids;
var category_idss;
var category_type;
var id;
{if:isset($id)}
id = "{$id}";
{/if}
//选择分类
$("#category_id").on('change',function(){
    category_id = $("#category_id option:selected").val();
    // category_ids = $("#category_ids option:selected").val();
    // category_idss = $("#category_idss option:selected").val();
    $("#category_ids option:not(:first)").remove();//先把二级的菜单的option清空
    $("#category_idss option:not(:first)").remove();//先把二级的菜单的option清空
    if(category_id){
        $.ajax({
         type:'post',
         url:'/goods/category_dropdowns',
         dataType:'json',
         data:{'id':category_id},
         success:function(data){
             // console.log(data);
             var html = '';
            for(var i in data){
                html += '<option value='+data[i].id+'>'+data[i].name+'</option>';
             }
             $("#category_ids").append(html);
            }
    });
    }
    $("input[name='category_type']").val(category_id);
    category_type = $("input[name='category_type']").val();
    console.log(category_id);
    console.log(category_type);
    if(id!=0) {
      $.ajax({
            type:'post',
            url:'/goods/category_ajax',
            dataType:'json',
            data:{'id':id,'category_id':category_type},
            success:function(data){
                console.log('success');
            }
        });
    }
});

//二级分类选择三级分类
$("#category_ids").on('change',function(){
    category_id = $("#category_id option:selected").val();
    category_ids = $("#category_ids option:selected").val();
    // category_idss = $("#category_idss option:selected").val();
    $("#category_idss option:not(:first)").remove();//先把二级的菜单的option清空
    if(category_ids){
        $.ajax({
            type:'post',
            url:'/goods/category_dropdowns',
            dataType:'json',
            data:{'id':category_ids},
            success:function(data){
                var html = '';
                for(var i in data){
                    html += '<option value='+data[i].id+'>'+data[i].name+'</option>';
                }
                $("#category_idss").append(html);
            }
        });
    }
    $("input[name='category_type']").val(category_ids);
    category_type = $("input[name='category_type']").val();
    console.log(category_ids);
    console.log(category_type);
    if(id!=0) {
      $.ajax({
            type:'post',
            url:'/goods/category_ajax',
            dataType:'json',
            data:{'id':id,'category_id':category_type},
            success:function(data){
                console.log('success');
            }
        });
    }
});
$("#category_idss").on('change',function(){
  // var category_id = $("#category_id option:selected").val();
  // var category_ids = $("#category_ids option:selected").val();
  var category_idss = $("#category_idss option:selected").val();
  $("input[name='category_type']").val(category_idss);
  category_type = $("input[name='category_type']").val(); 
  console.log(category_idss);
  console.log(category_type);
  if(id!=0) {
      $.ajax({
            type:'post',
            url:'/goods/category_ajax',
            dataType:'json',
            data:{'id':id,'category_id':category_type},
            success:function(data){
                console.log('success');
            }
        });
    }
});  

</script>
