{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/goods/goods_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
    <a href='{url:/goods/goods_edit}'  class="icon-plus" > 添加</a>
    <!-- <a href='{url:/goods/goods_add}'  class="icon-plus" > 添加</a> -->
    <a href='javascript:;' onclick="tools_submit({action:'{url:/goods/set_online/status/0}'});" class="icon-point-up" > 上架</a>
    <a href='javascript:;' onclick="tools_submit({action:'{url:/goods/set_online/status/1}'});" class="icon-point-down" > 下架</a>
    <a class="icon-delicious" href="{url:/goods/goods_list}"> 全部商品</a>
    <select name="shoplist" id="shoplist">
        <option value="0">选择商家</option>
        {list:items=$shoplist}
            <option value="{$item['id']}">{$item['name']}</option>
        {/list}
    </select>
    <select name="categorylist" id="categorylist">
        <option value="0">选择分类</option>
        {set:$goods_category = Common::treeArray($categorylist)}
        {list:items=$goods_category}
        {if:!isset($path) || strpos($item['path'],$path)===false}
        {set:$num = count(explode(',',$item['path']))-3;}
              <option value="{$item['id']}">{if:$num>0}├{/if}{echo:str_repeat('──',$num)}{$item['name']}</option>
              {/if}
        {/list}
    </select>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:30px;">选择</th>
        <th style="width:70px;">操作</th>
        <th >商品名称</th>
        <th style="width:80px;">产品编号</th>
        <th style="width:100px;">所属商家</th>
        <th style="width:100px;">所属分类</th>
        <th style="width:60px;">零售价</th>
        <th style="width:60px;">成本价</th>
        <th style="width:60px;">市场价</th>
        <th style="width:60px;">排序</th>
        <th style="width:60px;">库存</th>
        <th style="width:60px;">分佣</th>
        <th style="width:60px;">状态</th>
        <th style="width: 60px;">上架审核状态</th>
    </tr>
    {list:$items=$goodslist['data']}
        <tr ><td style="width:30px;"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
        <td style="width:70px" class="btn_min">
            <div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a>
                <div class="menu_select">
                    <ul>
                        <li><a class="icon-point-up" href="{url:/goods/set_online/status/0/id/$item[id]}"> 上架</a></li>
                        <li><a class="icon-point-down" href="{url:/goods/set_online/status/1/id/$item[id]}"> 下架</a></li>
                        <!-- <li><a class="icon-point-down" href="{url:/goods/set_weishang/status/1/id/$item[id]}"> 加入微商专区</a></li>
                        <li><a class="icon-point-down" href="{url:/goods/set_weishang/status/0/id/$item[id]}"> 移出微商专区</a></li> -->
                        <li><a  class="icon-drawer-3" href="javascript:;" onclick="change_status({$item['id']})">上架审核</a></li>
                        <li><a class="icon-pencil" href="{url:/goods/goods_edit/id/$item[id]}"> 编辑</a></li>
                        <li><a class="icon-pencil" href="{url:/goods/goods_edits/id/$item[id]}"> 编辑分类</a></li>
                        <li><a class="icon-remove-2" href="javascript:;" onclick="confirm_action('{url:/goods/goods_del/id/$item[id]}')"> 删除</a></li>
                        {if:$item['is_commission']==0}
                        <li><a class="icon-flag" href="javascript:;" onclick="open_commission({$item['id']})"> 开启佣金</a></li>
                        {else:}
                        <li><a class="icon-hammer" href="javascript:;" onclick="open_commission({$item['id']})"> 佣金调整</a></li>
                        <li><a class="icon-redo" href="javascript:;" onclick="close_commission({$item['id']})"> 关闭佣金</a></li>
                        {/if}
                        <li><a class="icon-plus" href="javascript:;" onclick="layer_open('{url:/goods/add_review/goods_id/$item[id]}')"> 添加评论</a></li>
                    </ul>
                </div>
            </div>
        </td>
        <td><a href="{url:/index/product/id/$item[id]}" target="_blank">{echo:TString::msubstr($item['name'],0,24)}</a></td>
        <td style="width:80px;">{$item['goods_no']}</td>
        <td style="width:80px;"><a href="?condition=and--shop_id--eq--{$item['shop_id']}">{$item['shop_name']}</a></td>
        <td style="width:100px;"><a href="?condition=and--category_id--eq--{$item['category_id']}">{$item['category_name']}</a></td>
        <td style="width:60px;">{$item['sell_price']}</td><td style="width:60px;">{$item['cost_price']}</td>
        <td style="width:60px;">{$item['market_price']}</td><td style="width:60px;">{$item['sort']}</td>
        <td style="width:60px;" {if:$item['store_nums']<=$item['warning_line']}class="red"{/if}><b>{$item['store_nums']}</b></td>
         <td style="width:60px;">{if:$item['is_commission']==0}<a href="?condition=and--is_commission--eq--{$item['is_commission']}"><b class="green">未开启</b></a>{else:}<a href="?condition=and--is_commission--eq--{$item['is_commission']}"><b class="red">已开启</b></a>{/if}</td>
         <td style="width:60px;">{if:$item['is_online']==0}<b class="green">在售</b>{else:}<b class="red">下架</b>{/if}</td>
         <td style="width: 80px;">{if:$item['remark']}<b class="green">已审核</b>{else:}<b class="red">未审核</b>{/if}</td>

        </tr>
    {/list}
</table>
</form>
<div class="page_nav">
{$goodslist['html']}
</div>
{set:$shop="";}
{list:$items=$shoplist}
    {set:$shop.=$item['id'].':'."'".$item['name']."',"}
{/list}
{set:$shop=trim($shop,',');}
{set:$category="";}
{list:$items=$categorylist}
    {set:$category.=$item['id'].':'."'".$item['name']."',"}
{/list}
{set:$category=trim($category,',');}

<div id="status_dialog" style="display: none; position: relative;" class="form2">
    <h3 id="order_title">备注信息：</h3>
    <input type="hidden" name="id" id="goods_id" value="">
    <textarea id="remark" name="remark"></textarea>
    <div class="tc">
        <button class="focus_button" onclick="submit_status()">保存</button>
    </div>
</div>
<script type="text/javascript">
    function layer_open(url){
        layer.open({
            type: 2,
            title:"添加评论",
            area: ['450px', '750px'],
            fixed: false, //不固定
            maxmin: false,
            content: url,
          });
    }
    function open_commission(id){
        art.dialog.open("{url:/goods/open_commission/id/}"+id,{id:'commission',title:'设置佣金',resize:false,width:850,height:500});
    }
    function close_commission(id){
      $.post("{url:/goods/close_commission/gid/}"+id,function(data){
	          if(data.status=="success"){
                        layer.msg(data.msg,{icon:6});
                        setTimeout("window.location.reload()",2000);
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
		},'json');
    }
    $(function(){
        $("#shoplist").on("change",function(){
            location.href="?shop_id="+$(this).val()+"&category_id="+$("#categorylist option:selected").val();
        });
        $("#categorylist").on("change",function(){
            location.href="?shop_id="+$("#shoplist option:selected").val()+"&category_id="+$(this).val();
        }); 
       var form =  new Form();
        form.setValue('s_type','{$s_type}');
        form.setValue('shoplist','{$shop_id}');
        form.setValue('categorylist','{$category_id}');
        $("#condition").on("click",function(){
            $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/goods/goods_list}',method:'get'});},data:{name:{name:'商品名称'},store_nums:{name:'库存'},sell_price:{name:'零售价'},goods_no:{name:'产品编号'},'shop_id':{name:'商品商家',values:{{$shop}}},'category_id':{name:'商品分类',values:{{$category}}},'is_online':{name:'状态',values:{0:'在售',1:'下架'}},'is_commission':{name:'佣金',values:{0:'未开启',1:'已开启'}},
        }});
        });
    });

    function change_status(id){
        $("#goods_id").val(id);
        art.dialog({id:'status_dialog',resize:false,width:500,height:200,padding:'0 5px',content:document.getElementById('status_dialog')});
    }
    function submit_status(){
        var remark= $("#remark").val();
        var id = $("#goods_id").val();
        if(remark != ''){
            $.post('{url:/goods/set_online_status}',{id:id,remark:remark},function(data){
                console.log(data);
                art.dialog({id:'status_dialog'}).close();
                if(data['status']=='success'){
                    art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"成功！</p>");
                }else{
                    art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"失败！</p>");
                }
                setTimeout("tools_reload()",2000);
            },'json');
        }else{
            art.dialog.tips("<p class='warning'>备注信息不能为空!</p>");
        }

    }
</script>
