@charset "UTF-8";

/*主色调*/
$main-color: #f06834;

/*Section统一宽度*/
$section-w: 600px;

#app {
  width: 640px;
  margin: 0 auto;
  box-shadow: 0 0 16px #e5e5e5;
  min-height: 100vh;
  font-size: 24px;
  overflow: hidden;
}

.sizeFitImg {
  display: block;
  width: 100%;
  height: auto;
}

@mixin sizeFitImg($width: 100%) {
  display: block;
  width: $width;
  height: auto;
}

/// mix
@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}

@mixin pin($top:0,$right:$top,$bottom:$top,$left:$top) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin sizeCoverForBackgroundImg($width, $img-width, $img-height) {
  @include size($width, $width * $img-height / $img-width);
}

/// reset

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section, p, div, h1, h2, h3, h4, h5, h6 {
  word-break: break-all;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: #000;
  }
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.hide {
  display: none !important;
}

.no-break {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*清除浮动*/
.clear-fix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

input, button {
  border: none;
  outline: none;
}
