<style type='text/css'>
    .shop{
        text-align: center;
        margin: 5px 5px;
        border-radius: 20px;
        background:-moz-linear-gradient(left, rgb(243, 201, 71), rgba(19, 233, 9, 0.56));/*火狐*/ 
        background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgb(243, 201, 71)), to(rgba(19, 233, 9, 0.56)));/*谷歌*/ 
        background: -webkit-linear-gradient(left, rgb(243, 201, 71), rgba(19, 233, 9, 0.56));   /*Safari5.1 Chrome 10+*/
        background: -o-linear-gradient(left, rgb(243, 201, 71), rgba(19, 233, 9, 0.56));  /*Opera 11.10+*/
    }
    .shop p{
        text-align: center;
        margin:0 auto;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 800;
        color:rgba(3, 3, 3, 0.81);
    }
    .layui-m-layercont{
        padding-top: 10px;
    }
</style>
<div class="ma20 bg-white p20 ">
    <a href="javascript:;" class="weui-btn weui-btn_primary">我要邀请</a>
</div>
<div class="ma20 bg-white p20 ">
<div class="weui-cells__title">我的下级经营商</div>
{set:$i=0;}
{foreach:items=$data key=$k item=$item}
<div class="weui-flex">
       <div class="weui-flex__item"><div class="shop"><p>小区名：{$item['name']}</p><p>联系人：{$item['linkman']}</p><p>推广员数量：{$item['member']}</p></div></div>
</div>
{/foreach}
{if:count($data)==0}
<div class="weui-loadmore weui-loadmore_line page_end">
            <span class="weui-loadmore__tips" style="background-color:#FFF;">暂无数据</span>
</div>
{/if}
</div>
<script>
    $(".weui-btn").click(function(){
         layer.open({
            style: 'background: -webkit-linear-gradient(rgb(9, 154, 238), rgba(255, 228, 9, 0.65)); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(rgb(9, 154, 238), rgba(255, 228, 9, 0.65)); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(rgb(9, 154, 238), rgba(255, 228, 9, 0.65)); /* Firefox 3.6 - 15 */background: linear-gradient(rgb(9, 154, 238), rgba(255, 228, 9, 0.65)); /* 标准的语法 */' //自定风格
            ,content: '<p style="color:white;">申请入驻小区，即可获得商城赠送商品，尊享小区销售提成，更可获得小区升值空间。</p><br><img src="{url:/district/getInviteQrcode/type/shop}" style="width:200px;height:200px;"><p style="color:white;"><i class="fa fa-paw"></i>扫描二维码，马上创建小区</p>'
            ,btn: '完成'
          });
    });
</script>