<link type="text/css" rel="stylesheet" href="{url:#css/ucenter.css}" />
<div class="container clearfix">
    {widget:name=sub_navs action=ucsidebar sidebar=$sidebar act=$actionId}
    <div class="clearfix uc-content">
        <div class="tab">
            <ul class="tab-head">
                <li>待评价商品<i></i></li>
                <li>已评价商品<i></i></li>
            </ul>
            <div class="tab-body">
                <div id="review-n">
                    <table class="simple">
                        <tr>
                            <th class="orderhead" width="55%">订单详情</th> <th class="orderhead" width="100">收货人</th>
                            <th class="orderhead" width="160" style="padding-left: 6%">金额
                            </th><th class="orderhead" width="166" style="text-align: center;">操作</th>
                        </tr>
                    </table>
                    <div class="page-content list-nav">
                        <div class="item">
                            <table class="simple simplelist">
                                <tr>
                                    <th class="orderhead" >{$buy_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   订单号:{$order_no}</th> 
                                    <th class="orderhead" width="100" colspan="4"></th>
                                </tr>
                               
                                <tr class="orderodd {odd-even}">
                                    <td width="50%" class="ordertextleft">
                                        <a href="{url:/index/product/id/}{gid}" target="_blank">
                                            <img  class="weui_media_appmsg_thumb" src="{img}">
                                            <p style='padding-top: 10px;'>
                                                {$name}</p></a>
                                    </td><td>&times;1</td> 
                                    <td>{$accept_name}<i class="iconfont icon-wode"></i></td> <td><p>支付金额{$currency_symbol}{$sell_price}</p></td>
                                    <td width="100px"><p><a href="{url:/ucenter/order_detail/id/}{order_id}" class="blue">订单详情</a></p>
                                        <p><a class="btn btn-mini red" style=" border: 1px solid #DDDDDD;" href="{url:/index/review/id/}{id}" target="_blank" >评价</a></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="page-nav tc"></div>
                </div>
                <div id="review-y">
                    <table class="simple">
                        <tr>
                            <th class="orderhead" width="55%">订单详情</th> <th class="orderhead" width="100">收货人</th> 
                            <th class="orderhead" width="160" style="padding-left: 6%">金额
                            </th><th class="orderhead" width="166" style="text-align: center;">操作</th>
                        </tr>
                    </table>
                    <div class="page-content list-nav">
                        <div class="item">
                            <table class="simple" >
                                <tr>
                                    <th class="orderhead" >{$comment_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   订单号:{$order_no}</th> 
                                    <th class="orderhead" width="100" colspan="4"></th>
                                </tr>
                                <tr class="orderodd {odd-even}">

                                    <td width="50%" class="ordertextleft" ><a href="{url:/index/product/id/}{gid}" target="_blank">
                                            <img  class="weui_media_appmsg_thumb" src="{img}">
                                            <p style='padding-top: 10px;'>{$name}</p></a>
                                        <p style='height: 30px;padding-top: 10px;'> 
                                            <span class="score " style='display: inline-block; height: 30px; width: 200px;background: url(../images/icon.png);'>
                                                <i style="width:{$point}%;background: url(../images/icon.png);background-position: 0 -20px;display: block;height: 20px; margin: 0; overflow: hidden; padding: 0; text-indent: -10000px;"></i></span></p>
                                    </td><td>&times;1</td> 
                                    <td>{$accept_name}<i class="iconfont icon-wode"></i></td> <td><p>支付金额{$currency_symbol}{$sell_price}</p></td><td width="100px"><p><a href="{url:/ucenter/order_detail/id/}{order_id}">订单详情</a></p></td>
                                    <!--                                    <p><a class="btn btn-mini" style=" border: 1px solid #DDDDDD;" href="{url:/index/review/id/}{id}" target="_blank">评价</a></p>-->
                                </tr>
                            </table>
                            <!--                            <div class="layout-2 mt10 line-b " >
                                                            <div ><a href="{url:/index/product/id/}{gid}"><img src="{img}" ></a></div>
                                                            <div style="height:6em"><p  style="overflow;hidden"><a href="{url:/index/product/id/}{gid}">{name}</a></p>
                                                                <p >价格：<b class="red">{$currency_symbol}{sell_price}</b></p></div>
                                                        </div>
                                                        <div class="mt20 mb20">
                                                            <span class="score "><i style="width:{point}%"></i></span>
                                                            <span class="gray fr">{comment_time}</span>
                                                        </div>						-->
                        </div>
                    </div>
                    <div class="page-nav tc"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#review-n").Paging({
            url: '{url:/ucenter/get_review}',
            params: {status: 'n', type: 2}
        });
        $("#review-y").Paging({
            url: '{url:/ucenter/get_review}',
            params: {status: 'y', type: 2}
        });
    });
    
</script>
