<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="{url:#css/weui.min.css}">
        <link rel="stylesheet" href="{url:#css/jquery.weui.min.css}">
        <link rel="stylesheet" href="{url:#css/iconfont.css}">
        <link rel="stylesheet" href="{url:#css/common.css}">
        {echo:JS::import('jquery');}

        <!--<script src="{url:#js/jquery.mobile-1.4.3.min.js}"></script>-->
        <script type="text/javascript" src="{url:#js/jquery.weui.min.js}"></script>
        <script type="text/javascript" src="{url:#js/common.js}"></script>
        {set:$title = isset($seo_title)?$seo_title:(isset($site_title)?$site_title:'fastshop');$title=TString::msubstr($title,0,12);}
        <title>圆梦共享网1</title>
    </head>
    <body>
        <div class="viewport">
            {widget:name=sub_navs action=header}
            <form id="paysubmit" name="paysubmit" action="https://pay.dinpay.com/gateway?input_charset=UTF-8" method="post">
                <input type="hidden" name="sign"          value="{$sign}" />
                <input type="hidden" name="merchant_code" value="{$merchant_code}" />
                <input type="hidden" name="bank_code"     value="{$bank_code}"/>
                <input type="hidden" name="order_no"      value="{$order_no}"/>
                <input type="hidden" name="order_amount" id="order_amount" value="{$order_amount}"/>
                <input type="hidden" name="service_type"  value="{$service_type}"/>
                <input type="hidden" name="input_charset" value="{$input_charset}"/>
                <input type="hidden" name="notify_url"    value="{$notify_url}">
                <input type="hidden" name="interface_version" value="{$interface_version}"/>
                <input type="hidden" name="sign_type"     value="{$sign_type}"/>
                <input type="hidden" name="order_time"    value="{$order_time}"/>
                <input type="hidden" name="product_name"  value="{$product_name}"/>
                <input Type="hidden" Name="client_ip"     value="{$client_ip}"/>
                <input Type="hidden" Name="extend_param"  value="{$extend_param}"/>
                <input Type="hidden" Name="extra_return_param" value="{$extra_return_param}"/>
                <input Type="hidden" Name="pay_type"  value="{$pay_type}"/>
                <input Type="hidden" Name="product_code"  value="{$product_code}"/>
                <input Type="hidden" Name="product_desc"  value="{$product_desc}"/>
                <input Type="hidden" Name="product_num"   value="{$product_num}"/>
                <input Type="hidden" Name="return_url"    value="{$return_url}"/>
                <input Type="hidden" Name="show_url"      value="{$show_url}"/>
                <input Type="hidden" Name="redo_flag"     value="{$redo_flag}"/>
            </form>
            <script type='text/javascript'>
                document.forms['paysubmit'].submit();
            </script>       
        </div>
        {set:$curtab=isset($curtab)?$curtab:Req::args('con');}
        {widget:name=tabbar action=item cart=0 current=ucenter}
    </body>
</html>