<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/find_pwd.css">
    <style type="text/css">
    .main .mobile_phone .invalid-msg{
        position: absolute;
        top: 120px;
    }
    label.valid-msg{
        display: none!important;
    }
    .send_code{
        width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #feec34;
        color: #f06834;
        float: right;
        margin-right: 16%;
        border-radius: 6px;
    }
    
    </style>
    <title>找回密码</title>
</head>
<body>
{echo:JS::import('form');}
{echo:JS::import('dialog?skin=tinysimple');}
{echo:JS::import('dialogtools');}
<div id="app">
    <form class="main" id="loginsubmit" action="{url:/active/find_password}" method="post" style="width: 560px;border-radius: 5px;">
        <div class="main-content">
            <div class="cell" style="border-bottom:1px solid #f06834;"><label style="margin-left: 3%;color: #f06834;">找回密码</label></div>
            <div class="cell">
                <label style="margin-left: 5%;color: #f06834;">验证身份</label>
                
                <div class="input_content mobile_phone" style="position: relative;">
                    <input type="tel" name="mobile" id="mobile" pattern="required" placeholder="请输入注册手机号" maxlength="11" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
            <div class="cell" style="margin-top:10px;">
                <label style="margin-left: 5%;color: #f06834;">验证码：</label>
                
                <div class="input_content pwd">
                    <input type="text" id="code" name="code" pattern="required" placeholder="请输入收到的短信验证码" maxlength="6" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
            
            <button class="send_code">发送验证码</button>
        
            <div class="cell" style="margin-top: 80px;margin-top:10px;">
                <label style="margin-left: 5%;color: #f06834;">重置密码</label>
                
                <div class="input_content mobile_phone" style="position: relative;">
                    <input type="password" name="password" id="password" pattern="required" placeholder="请输入新密码" maxlength="16" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
            <div class="cell" style="margin-top:10px;">
                <label style="margin-left: 5%;color: #f06834;">再次输入</label>
                
                <div class="input_content pwd">
                    <input type="password" id="repassword" name="repassword" pattern="required" placeholder="请确认您的密码" maxlength="16" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
            <button class="weui_btn weui_btn_primary" id="submit" style="margin-left: 25%;">确认提交</button>
        </div>
        
    </form>
</div>
</body>
<!-- <script src="js/main.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function ($) {
        //  点击登录
        $('#submit').click((e) => {
            let mobile = $('#mobile').val();
            let password = $('#password').val();

            if (mobile.length === 0 || password.length === 0) {
                alert('请输入完整内容!');
                return;
            }
            document.forms['loginsubmit'].submit();
            //  执行登录操作以及跳转
            // alert(`手机号:${mobile}\n密码:${password}`);
        })
    })
</script>
{echo:JS::import('form')}
<script type="text/javascript">
    {if:isset($invalid)}
    var form = new Form();
    form.setValue('mobile', '{$mobile}');
    autoValidate.showMsg({id: $("input[name='{$invalid['field']}']").get(0), error: true, msg: "{$invalid['msg']}"});
    $(".invalid-msg").show();
    console.log("{$invalid['msg']}");
    {/if}
    $(".send_code").click(function() {
        var mobile = $("input[name='mobile']").val();
        if(mobile=='') {
            alert('请输入手机号!');
            return;
        }
        $.post("{url:/active/send_code}", {mobile:mobile}, function(result) {
            var data = JSON.parse(result);
        if (data['status'] == 'success') {
        lockSendButton($(".send_code"), 120);
        } else {
        art.dialog.tips("<p class='fail'>" + data['msg'] + "</p>");
        lockSendButton($(".send_code"), data['haveTime']);
        }
        }, 'json');
    });
    function lockSendButton(obj, haveTime){
        var send_sms = obj;
        send_sms.attr("disabled", true);
        send_sms.addClass("btn-disable");
        var i = haveTime;
        send_sms.val(i + '秒后重新获取');
        var timer = setInterval(function() {
        i--;
        send_sms.val(i + '秒后重新获取');
        if (i <= 0) {
        clearInterval(timer);
        send_sms.val('获取验证码');
        send_sms.removeClass("btn-disable");
        send_sms.attr("disabled", false);
        }
        }, 1000);
    }
</script>
</html>