<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/inviteregist.css">
    <link rel="stylesheet" href="{url:#css/weui.min.css}">
    <link rel="stylesheet" href="{url:#css/jquery.weui.min.css}">
    <style type="text/css">
    .layui-m-layermain{
        height: 15% !important;
    }
    .layui-m-layercont{
     text-align: left !important;
     padding: 20px 20px !important;
    }
    .layui-m-layerchild h3{
        height: 50px;
        line-height: 74px;
    }
    .layui-m-layercont p{
    float: right;
    }
    .layui-m-layercont img{
        width: 100% !important;
    }
    </style>
    <title>邀请列表</title>
</head>
<body>
<div id="app">
    <form id="searchfor" name="searchfor" action="{url:/active/inviteregist}" method="post">
        <input type="hidden" name="user_id" value="{$user_id}">
        <div class="search" style="margin-left: 20%;">
            <input type="text" id="keyword" name="keyword" title="">
            <a href="javascript:;" class="go"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/inviteregist/p1.png" alt=""></a>
        </div>
        <div class="list">
            <p class="title">邀请名单</p>
            <div class="list-content" style="margin-bottom: 66px;">
            {if:$list!=null}
                {foreach:items=$list key=$k item=$item}
                <div class="cell">
                    <img src='{echo:Url::urlFormat("@".$item['avatar'])}' alt="" class="avatar">
                    <span class="nickname">{$item['mobile']}</span>
                    <span class="time">{$item['create_time']}</span>
                    <span class="status">注册成功</span>
                </div>
                {/foreach}
                <!--加载更多-->
                <div class="more">加载更多</div>
            {else:}
                <div class="none">暂无</div>    
            {/if}    
            </div>
        </div>
    </form>
    <div class="invite">
        {if:$is_weixin==true}
        <a href="javascript:;" id="shareWechat"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p5.png" alt=""></a>
        {else:}
        <!-- <a href="javascript:;" id="shareWechat"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p5.png" alt=""></a> -->
        <a href="javascript:;" onclick="call('wechatFriend')"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p5.png" alt=""></a>
        {/if}
    </div>
    <div class="weui_msg" style="display: none;">
        <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title" style="color: #f06834;">温馨提示</h2>
            <p class="weui_msg_desc" style="font-size: 26px;color: #f06834;">请点击选择右上角“发送给朋友”或“分享到朋友圈”完成分享</p>
        </div>
    </div>
</div>
</body>
<script src="http://www.ymlypt.com/static/yuanmeng/activity_a/js/main.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function ($) {
        //  搜索
        $('.search > .go').click(e => {
            let keyword = $('#keyword').val();
            if (keyword === '' || keyword.length === 0) {
                alert('请输入搜索内容');
                return;
            }
            // document.forms['searchfor'].submit();
            var index;
            var url = "{url:/active/ajax_inviteregist}";
            var user_id = "{$user_id}";
            var data = {keyword: keyword,user_id:user_id};
            var html = "";
            $.ajax({
            type: 'post',
            dataType: 'json',
            url: url,
            data: data,
            success: function (res) {
                // console.log(res);
                data = JSON.stringify(res);
                var jsonarray= $.parseJSON(data);
                layer.close(index);
                $(".list-content").empty();
                
                $.each(jsonarray, function (i, item) {
                    var img_url = '{echo:Url::urlFormat(@'+item.avatar+')}';
                    console.log(img_url);
                    html += '<div class="cell">';
                    html += '<img src='+img_url+' alt="" class="avatar">';
                    html += '<span class="nickname">'+item.mobile+'</span>';
                    html += '<span class="time">'+item.create_time+'</span>';
                    html += '<span class="status">注册成功</span>'
                    html += '</div>';
                });
                $(".list-content").append(html);   
              },
            });
            // alert(`搜索:${keyword}`);
        });

        // 加载更多
        $('.list > .more').click(e => {
            alert('加载更多');
        })
    })
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/themes/mobile/js/layer_mobile/layer.js"></script>
<script type="text/javascript" src="https://hm.baidu.com/hm.js?d69321757dcfbfbe09dbddd4dca87b28"></script>
<script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d69321757dcfbfbe09dbddd4dca87b28";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
</script>
<script type="text/javascript" src="https://fa-ge.github.io/NativeShare/NativeShare.js"></script>
{if:$is_weixin==true} 
<script>
 wx.config({
   debug:  false,  //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
   appId: '{$signPackage["appId"]}',
   timestamp: '{$signPackage["timestamp"]}',
   nonceStr: '{$signPackage["nonceStr"]}',
   signature: '{$signPackage["signature"]}',
   jsApiList: [  //需要使用的网页服务接口
       // 'checkJsApi',  //判断当前客户端版本是否支持指定JS接口
       'onMenuShareTimeline', //分享给好友
       'onMenuShareAppMessage', //分享到朋友圈
       'onMenuShareQQ',  //分享到QQ
       'onMenuShareWeibo' //分享到微博
   ]
 });
//  wx.checkJsApi({
//     jsApiList: [
//         'getLocation',
//         'onMenuShareTimeline',
//         'onMenuShareAppMessage'
//     ],
//     success: function (res) {
//       alert(JSON.stringify(res));
//     }
// });
$('#shareWechat').on("click",function(){
   layer.open({
            type: 3,
            skin: 'layui-layer-rim', //加上边框
            area: ['100%', '400px'], //宽高
            content: "<img src='/themes/mobile/images/share.jpg'>"
    });
});
    var user_id = {$user_id};
    var imgUrl = "http://www.ymlypt.com/static/yuanmeng1/activity_a/img/recruit/header.jpg";
    // var lineLink = 'http://www.ymlypt.com/active/login/redirect/recruit/inviter/'+user_id;
     var lineLink = 'http://www.ymlypt.com/active/sign_up/inviter/'+user_id;
    var descContent = "共享无形资源，获取跨界收益，振兴传统商业的共享经济平台";
    var shareTitle = '圆梦共享网';
    // alert('share');
    wx.ready(function () {   //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。//如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
        wx.onMenuShareAppMessage({  //例如分享到朋友圈的API  
           title: shareTitle, // 分享标题
           desc: descContent, 
           link: lineLink, // 分享链接
           imgUrl: imgUrl, // 分享图标
           success: function () {
               alert('分享成功');
           },
           cancel: function () {
               // 用户取消分享后执行的回调函数
               alert('取消分享');
           }
        });
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            desc: descContent, 
            link: lineLink, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                alert('分享成功');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('取消分享');
            }
        });
        // WeixinJSBridge.invoke('sendAppMessage',{   
        // //"appid":appId,   
        // "img_url":'http://www.ymlypt.com/static/yuanmeng1/activity_a/img/recruit/header.jpg',   
        // //"img_width":"640",   
        // //"img_height":"640",   
        // "link":'http://www.ymlypt.com/active/login/redirect/recruit/inviter/'+user_id,   
        // "desc":'共享无形资源，获取跨界收益，振兴传统商业的共享经济平台',   
        // "title":'圆梦共享网'   
        // });  
    });
  
wx.error(function (res) {
 alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
});
</script>
{else:}
<script type="text/javascript">
        var nativeShare = new NativeShare();
        var user_id = {$user_id};
        var shareData = {
            title: '圆梦共享网',
            desc: '共享无形资源，获取跨界收益，振兴传统商业的共享经济平台',
            // 如果是微信该link的域名必须要在微信后台配置的安全域名之内的。
            link: 'http://www.ymlypt.com/active/login/redirect/recruit/inviter/'+user_id,
            icon: 'http://www.ymlypt.com/static/yuanmeng1/activity_a/img/recruit/header.jpg',
            // 不要过于依赖以下两个回调，很多浏览器是不支持的
            success: function() {
                alert('success');
            },
            fail: function() {
                alert('cancel');
            }
        }
        nativeShare.setShareData(shareData);

        function call(command) {
            try {
                nativeShare.call(command);
            } catch (err) {
                // 如果不支持，你可以在这里做降级处理
                alert(err.message);
            }
        }

        function setTitle(title) {
            nativeShare.setShareData({
                title: title,
            })
        }
</script>
{/if}
<script type="text/javascript">     
        // var appid = '{$signPackage["appId"]}';
          
        // function shareFriend() {
        //     WeixinJSBridge.invoke('sendAppMessage',{
        //         "appid": appid,
        //         "img_url": imgUrl,
        //         "img_width": "200",
        //         "img_height": "200",
        //         "link": lineLink,
        //         "desc": descContent,
        //         "title": shareTitle
        //     }, function(res) {
        //         alert(res);
        //     })
        // }

        // function shareTimeline() {
        //     WeixinJSBridge.invoke('shareTimeline',{
        //         "img_url": imgUrl,
        //         "img_width": "200",
        //         "img_height": "200",
        //         "link": lineLink,
        //         "desc": descContent,
        //         "title": shareTitle
        //     }, function(res) {
        //            //_report('timeline', res.err_msg);
        //     });
        // }
        
        // // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        // document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //     alert(666);
        //     // 发送给好友
        //     WeixinJSBridge.on('menu:share:appmessage', function(argv){
        //         shareFriend();
        //     });
        //     // 分享到朋友圈
        //     // WeixinJSBridge.on('menu:share:timeline', function(argv){
        //     //     shareTimeline();
        //     // });
        //     // // 分享到微博
        //     // WeixinJSBridge.on('menu:share:weibo', function(argv){
        //     //     shareWeibo();
        //     // });
        // }, false);

</script>
</html>