<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/login.css">
    <style type="text/css">
    .main .mobile_phone .invalid-msg{
        position: absolute;
        top: 120px;
    }
    label.valid-msg{
        display: none!important;
    }
    
    </style>
    <title>登录</title>
</head>
<body>
<div id="app">
    <form class="main" id="loginsubmit" action="{url:/active/login_act}" method="post">
        <input type="hidden" value="{$redirectURL}" name="redirect">
        <input type="hidden" value="{$inviter}" name="inviter">
        <div class="main-content">
            <div class="cell">
                <label style="margin-left: 3%;">账号</label>
                <div class="line"></div>
                <div class="input_content mobile_phone" style="position: relative;">
                    <input type="tel" name="account" id="account" pattern="required" placeholder="请输入手机号" maxlength="11" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
            <div class="cell">
                <label style="margin-left: 3%;">密码</label>
                <div class="line"></div>
                <div class="input_content pwd">
                    <input type="password" id="password" name="password" pattern="required" placeholder="请输入密码" maxlength="20" required>
                    <!-- <label class="valid-msg" style="display: block;"></label> -->
                </div>
            </div>
        </div>
        <a class="find" href="javascript:alert('找回密码');">找回密码</a>
        <button class="weui_btn weui_btn_primary" id="submit">登录</button>
        <a class="register" href="/simple/register?back=active&inviter={$inviter}">注册</a>
    </form>
</div>
</body>
<!-- <script src="js/main.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function ($) {
        //  点击登录
        $('#submit').click((e) => {
            let mobile = $('#account').val();
            let password = $('#password').val();

            if (mobile.length === 0 || password.length === 0) {
                alert('请输入完整内容!');
                return;
            }
            document.forms['loginsubmit'].submit();
            //  执行登录操作以及跳转
            // alert(`手机号:${mobile}\n密码:${password}`);
        })
    })
</script>
{echo:JS::import('form')}
<script type="text/javascript">
    {if:isset($invalid)}
    var form = new Form();
    form.setValue('account', '{$account}');
    autoValidate.showMsg({id: $("input[name='{$invalid['field']}']").get(0), error: true, msg: "{$invalid['msg']}"});
    $(".invalid-msg").show();
    console.log("{$invalid['msg']}");
    {/if}
    //         $("input[pattern]").on("blur", function (event) {
    //     $(".invalid-msg , .valid-msg").hide();
    //     var current_input = $(this);
    //     var result = autoValidate.validate(event);
    //     if (result) {
    //         current_input.parent().removeClass('invalid').addClass('valid');
    //     } else {
    //         current_input.parent().removeClass('valid').addClass('invalid');
    //     }
    //     if (result) {
    //         if (current_input.attr('id') == 'account') {
    //             $.post("{url:/ajax/account/accounts/}" + $(this).val(), function (data) {
    //                 var msg = '合法用户';
    //                 if (!data['status']) {
    //                     msg = data['msg'];
    //                     current_input.next().show();
    //                     current_input.parent().removeClass('valid').addClass('invalid');
    //                     autoValidate.showMsg({id: document.getElementById('account'), error: data['status'], msg: msg});
    //                 }
                    
    //             }, 'json');
    //         }
    //         $(".invalid-msg").show();
    //     } else {
    //         current_input.next().show();
    //     }
    // });
</script>
</html>