<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/recruit.css">
    <style type="text/css">
    .status1{
        position: absolute;
        top: 62px;
        right: 25px;
        width: 20%;
        height: 36px;      
        color: #fff !important;
        font-size: 22px;
        border-radius: 16px;
        line-height: 36px;
        text-align: center;
    }
    .had-get{
        background-color: #aa8475;
    }
    .can-get{
        background-color: #f06834; 
    }
    #signup{
        background-color: #f06834;
        margin-left: 24%;
        width: 50%;
        height: 40px;
        color: white !important;
        border-radius: 6px;
        line-height: 40px;
        text-align: center;
    }
    .layui-m-layermain{
        height: 15% !important;
    }
    /*.layui-m-layershade{
        height: 20% !important;
    }*/
    .layui-m-layercont{
     text-align: left !important;
     padding: 20px 20px !important;
    }
    .layui-m-layerchild h3{
        height: 50px;
        line-height: 74px;
    }
    .layui-m-layercont p{
    float: right;
    }
    .layui-m-layercont img{
        width: 100% !important;
    }
    </style>
    <script src="/runtime/systemjs/jquery.min.js"></script>
    <title>会员招募</title>
</head>
<body>
<div id="app">

    <!--header-->
    <section class="header">
      <div class="swiper-container swiper-init" data-swiper="{'slidesPerView': 'auto','paginationClickable': false,'spaceBetween': 0,'freeMode': true,'pagination': '','slidesPerColumn':'1'}">
        <img src="img/recruit/header.jpg" alt="" class="sizeFitImg">
        <span class="count-down" style="font-size: 18px;"><div class="count" id="qiangtimers" data-remainseconds="{$out_time}">活动倒计时: <span class="hour-node">00</span>:<span class="minute-node">00</span></div></span>
      </div>  
    </section>

    <!--我的信息-->
    <section class="section_1">
        {if:isset($user)}
        <div class="info">
            <img src='{echo:Url::urlFormat("@".$user['avatar']."?v=".time())}' alt="" class="avatar">
            <span class="nickname">{$user['real_name']}</span>
            <!-- <span class="bonus">累积: <i>XXX</i>元</span> -->
            <a href="/active/login/redirect/recruit" class="cut"><img src="/themes/mobile/images/p3.png" alt=""></a>
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yidu.yuanmeng&channel=0002160650432d595942&fromcase=60001" class="app" id="J-call-app"><img src="/themes/mobile/images/p2.png" alt=""></a>
        </div>
        <!--实时进度-->
        <div class="plan">
            <span class="tip">就差<i>{$rest_num}</i>个又可以拆红包啦</span>
            <div class="plan-content">
                <div class="plan-content__pin plan-content__left">
                    <span class="number" style="margin-left: 50px;text-align: left;">0</span>
                </div>
                <div class="plan-content__pin plan-content__right">
                    <span class="number" style="right: 120px;text-align: center;">{$num}</span>
                </div>
            </div>
            <!--中间的红点和tips文字-->
            <div class="plan-arrow">
                <!--修改这个百分比调整进度-->
                <div class="plan-arrow__content" style="margin-left: 0;">
                    <div class="plan-content__center"></div>
                    <span class="arrow">已邀请{$invite_num}人</span>
                </div>

            </div>
        </div>
        {else:}
        <div class="info">
            <img src='/themes/mobile/images/logo-new.png' alt="" class="avatar">
            <span class="nickname">请先登录</span>
            <!-- <span class="bonus">累积: <i>XXX</i>元</span> -->
            <a href="/active/login/redirect/recruit" class="nickname1" style="color: #fff">登录</a>
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yidu.yuanmeng&channel=0002160650432d595942&fromcase=60001" class="app" id="J-call-app"><img src="/themes/mobile/images/p2.png" alt=""></a>
        </div>
        <!--实时进度-->
        <div class="plan">
            <span class="tip">就差<i>{$num}</i>个又可以拆红包啦</span>
            <div class="plan-content">
                <div class="plan-content__pin plan-content__left">
                    <span class="number" style="margin-left: 50px;text-align: left;">0</span>
                </div>
                <div class="plan-content__pin plan-content__right">
                    <span class="number" style="right: 120px;text-align: center;">{$num}</span>
                </div>
            </div>
            <!--中间的红点和tips文字-->
            <div class="plan-arrow">
                <!--修改这个百分比调整进度-->
                <div class="plan-arrow__content" style="margin-left: 0;">
                    <div class="plan-content__center"></div>
                    <span class="arrow">已邀请XX人</span>
                </div>

            </div>
        </div>
        {/if}
    </section>

    <!--拆红包 看手机-->
    <section class="section_2">
        <p class="title">拆红包&nbsp;看手气</p>
        <p class="sub-title">你还有{$chance}次抽奖机会</p>
        <img class="redbag" src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p12.png" alt="">
    </section>

    <!--邀用户 得豪礼-->
    <section class="section_3">
        <div class="cell">
            <a href="/active/travel_detail" class="detail">查看<br>详情<br>>></a>
            <a href="javascript:;" data-type="3" data-status="{$status1}" class="status1 {if:$status1==1}can-get{else:}had-get{/if}">{$status[$status1]}</a>
            <span class="count">累积邀请{$num1}人</span>
        </div>
        <div class="cell">
            <a href="/active/six_detail" class="detail">查看<br>详情<br>>></a>
            <a href="javascript:;" data-type="2" data-status="{$status2}" class="status1 {if:$status2==1}can-get{else:}had-get{/if}">{$status[$status2]}</a>
            <span class="count">累积邀请{$num2}人</span>
        </div>
        <div class="cell">
            <a href="/active/watch_detail" class="detail">查看<br>详情<br>>></a>
            <a href="javascript:;" data-type="4" data-status="{$status3}" class="status1 {if:$status3==1}can-get{else:}had-get{/if}">{$status[$status3]}</a>
            <span class="count">累积邀请{$num3}人</span>
        </div>
    </section>

    <!--邀请名单-->
    {if:$list!=null}
    <section class="section_4">
        <div class="content">
            {foreach:items=$list key=$k item=$item}
            <div class="cell">
                <img src='{echo:Url::urlFormat("@".$item['avatar'])}' alt="" class="avatar">
                <span class="nickname">{$item['real_name']|$item['nickname']}</span>
                <span class="time">{$item['create_time']}</span>
                <span class="status">注册成功</span>
            </div>
            {/foreach}
        </div>
        <a href="/active/inviteregist" class="more">查看更多>></a> 
    </section>
    {/if}
    <!--活动规则-->
    <section class="section_5"></section>

    <!--邀请好友-->
    {if:isset($user)}
        {if:$signed==1}
        <div class="invite">
            <a href="javascript:;" id="shareWechat"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p5.png" alt=""></a>
        </div>
        {else:}
        <div class="invite">
           <div id="signup">
            <a href="javascript:;" id="signup_act" style="color: #fff;">立即参与</a>
           </div> 
        </div>
        {/if}
    {else:}
        <div class="invite">
            <div id="signup">
             <a href="/active/login/redirect/recruit" style="color: #fff;">立即参与</a>
          </div>
        </div>
    {/if}

</div>
</body>
<script src="http://www.ymlypt.com/static/yuanmeng/activity_a/js/main.js"></script>
<script type="text/javascript" src="/themes/mobile/js/layer_mobile/layer.js"></script>
<script type="text/javascript" src="/themes/mobile/js/common.js"></script>
<script src="/themes/mobile/js/swiper.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="https://hm.baidu.com/hm.js?d69321757dcfbfbe09dbddd4dca87b28"></script>
<script>
    $(function ($) {
        //  试试动态的进度动画
        var progress;
        var invite_num = {$invite_num};
        var num = {$num};
        var rate;
        rate = invite_num/num;
        progress = rate*100+'%';
        var chance = {$chance};
        var user_id = {$user['user_id']};
        $('.plan-arrow__content').delay(500).animate({'margin-left': progress}, 2000);

        //  抽红包的点击事件
        $('.section_2').click((e) => {
            if(chance<=0) {
                alert('您还没有抽奖机会，赶紧去邀请小伙伴们吧!');
            } else {
                $.ajax({
                    url: "{url:/active/open_redbag}",
                    data: {user_id: user_id},
                    type: 'post',
                    dataType: 'json',
                    success: function (ret) { 
                        if (ret.status == "success") {
                            layer.open({
                                type: 3,
                                skin: 'layui-layer-rim', //加上边框
                                area: ['100%', '450px'], //宽高
                                content: '<img class="redbag" src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p13.png" alt="">',
                                end: function () {
                                    window.location.reload();
                                }
                            }); 
                        }                    
                    }, 
                    error: function (e) {
                        console.log(e);
                        alert("服务器繁忙!");
                    }
                });
                // alert('抽红包咯!');
            }   
        });

    });
    $('#signup_act').on("click",function(){
        var user_id = {$user['user_id']};
        $.ajax({
                url: "{url:/active/sign_up_act}",
                data: {user_id: user_id},
                type: 'post',
                dataType: 'json',
                success: function (ret) { 
                    if (ret.status == "success") {                  
                        alert('报名成功');
                        window.location.reload();
                    }                    
                }, 
                error: function (e) {
                    console.log(e);
                    alert("服务器繁忙!");
                }
        });
    });

    function check_token(){
         var url = "{url:/active/auto_check_token}";
         var token = "{$token}";
         var user_id = {$user['user_id']};
         var data = {user_id:user_id,token:token};
         $.ajax({
          type : "POST",
          // async : false, //同步请求
          url : url,
          data : data,
          // timeout:1000,
          success:function(res){
             var data = JSON.parse(res);
             if(data.status!='success') {
                alert('登录超时或已在其它地方登录');
                var login_url = "{url:/active/login}";
                window.location.href = login_url;
             }        
          },
          error: function() {
                // alert("失败，请稍后再试！");
              }
         });
    }
    function auto_load_check(){
        setInterval("check_token()",6000);
    }
    
    window.onload = function () {
        auto_load_check();
    }
    $('.status1').on('click',function(){
        var type = $(this).data('type');
        var status = $(this).data('status');
            if(status==0) {
                alert('您还未完成任务，赶紧去邀请小伙伴们吧!');
            } else {
                if(status==2){
                   alert('您已领取过了!');
                } else{
                    var user_id = {$user['user_id']};
                    $.ajax({
                        url: "{url:/active/get_voucher}",
                        data: {user_id: user_id,type:type},
                        type: 'post',
                        dataType: 'json',
                        success: function (ret) { 
                            if (ret.status == "success") {                  
                                alert('领取成功！');
                                window.location.reload();
                            }                    
                        }, 
                        error: function (e) {
                            console.log(e);
                            alert("服务器繁忙!请稍后重试");
                        }
                    });
                }    
            }
        });
</script>
<script>
 wx.config({
   debug:  false,  //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
   appId: '{$signPackage["appId"]}',
   timestamp: '{$signPackage["timestamp"]}',
   nonceStr: '{$signPackage["nonceStr"]}',
   signature: '{$signPackage["signature"]}',
   jsApiList: [  //需要使用的网页服务接口
       // 'checkJsApi',  //判断当前客户端版本是否支持指定JS接口
       'onMenuShareTimeline', //分享给好友
       'onMenuShareAppMessage', //分享到朋友圈
       'onMenuShareQQ',  //分享到QQ
       'onMenuShareWeibo' //分享到微博
   ]
 });
$('#shareWechat').on("click",function(){
     layer.open({
            type: 3,
            skin: 'layui-layer-rim', //加上边框
            area: ['100%', '400px'], //宽高
            content: "<img src='/themes/mobile/images/share.jpg'>"
    });
});
    var user_id = {$user['user_id']};
    var imgUrl = "http://www.ymlypt.com/static/yuanmeng1/activity_a/img/recruit/header.jpg";
    // var lineLink = 'http://www.ymlypt.com/active/login/redirect/recruit/inviter/'+user_id;
     var lineLink = 'http://www.ymlypt.com/active/sign_up/inviter/'+user_id;
    var descContent = "共享无形资源，获取跨界收益，振兴传统商业的共享经济平台";
    var shareTitle = '圆梦共享网';
    // alert('share');
    wx.ready(function () {   //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。//如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
        wx.onMenuShareAppMessage({  //例如分享到朋友圈的API  
           title: shareTitle, // 分享标题
           desc: descContent, 
           link: lineLink, // 分享链接
           imgUrl: imgUrl, // 分享图标
           success: function () {
               alert('分享成功');
           },
           cancel: function () {
               // 用户取消分享后执行的回调函数
               alert('取消分享');
           }
        });
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            desc: descContent, 
            link: lineLink, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                alert('分享成功');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('取消分享');
            }
        });
    });
  
wx.error(function (res) {
 alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
});
</script>
</html>