<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/invitelist.css">
    <style type="text/css">
    #signup{
        background-color: #f06834;
        margin-left: 24%;
        width: 50%;
        height: 40px;
        color: white !important;
        border-radius: 6px;
        line-height: 40px;
        text-align: center;
    }
    </style>
    <title>邀请注册</title>
</head>
<body>
<div id="app">
    <img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/list/1.jpg" alt="" class="sizeFitImg">
    <!--info-->
    <section class="section_1">
        {if:isset($user)}
        <img src='{echo:Url::urlFormat("@".$user['avatar']."?v=".time())}' alt="" class="avatar">
        <a class="nickname" href="/active/login/redirect/sign_up" title="切换账号" style="color: #f06834">{$user['real_name']}</a>
        {else:}
        <img src="/themes/mobile/images/logo-new.png" alt="" class="avatar">
        <a class="nickname" href="/active/login/redirect/sign_up/inviter/{$inviter}" style="color: #f06834">点击登录</a>
        {/if}
        <span>邀请</span>
        <img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/list/p11.png" alt="" class="tips">
    </section>

    <!--奖品-->
    <section class="section_2">
        <div class="cell">
            <a href="/active/travel_detail" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请{$num1}人</span>
        </div>
        <div class="cell">
            <a href="/active/six_detail" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请{$num2}人</span>
        </div>
        <div class="cell">
            <a href="" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请{$num3}人</span>
        </div>
    </section>

    <!--规则-->
    <section class="section_3">

    </section>
    {if:isset($user)}
        {if:$signed==1}
        <div class="invite">
            <a href="/active/inviteregist"><img src="http://www.ymlypt.com/static/yuanmeng/activity_a/img/recruit/p5.png" alt=""></a>
        </div>
        {else:}
        <div class="invite">
           <div id="signup">
            <a href="javascript:;" id="signup_act" style="color: #fff;">报名</a>
           </div> 
        </div>
        {/if}
    {else:}
        <div class="invite">
          <div id="signup">
            <a href="/active/login/redirect/sign_up" style="color: #fff;">请先登录</a>
          </div> 
        </div>
    {/if}
    
</div>
</body>
<script src="js/main.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/themes/mobile/js/layer_mobile/layer.js"></script>
<script type="text/javascript">
$('#signup_act').on("click",function(){
    var user_id = {$user['user_id']};
    $.ajax({
            url: "{url:/active/sign_up_act}",
            data: {user_id: user_id},
            type: 'post',
            dataType: 'json',
            success: function (ret) { 
                if (ret.status == "success") {                  
                    alert('报名成功');
                    window.location.reload();
                }                    
            }, 
            error: function (e) {
                console.log(e);
                alert("服务器繁忙!");
            }
    });
});
</script>
</html>