<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng/activity_a/css/invitelist.css">
    <title>邀请注册</title>
</head>
<body>
<div id="app">
    <img src="img/list/1.jpg" alt="" class="sizeFitImg">
    <!--info-->
    <section class="section_1">
        {if:isset($user)}
        <img src='{echo:Url::urlFormat("@".$user['avatar']."?v=".time())}' alt="" class="avatar">
        <a class="nickname" href="/active/login/redirect/sign_up" title="切换账号">{$user['real_name']}</a>
        {else:}
        <img src="/themes/mobile/images/logo-new.png" alt="" class="avatar">
        <a class="nickname" href="/active/login/redirect/sign_up">点击登录</a>
        {/if}
        <span>邀请</span>
        <img src="img/list/p11.png" alt="" class="tips">
    </section>

    <!--奖品-->
    <section class="section_2">
        <div class="cell">
            <a href="" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请XX人</span>
        </div>
        <div class="cell">
            <a href="" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请XX人</span>
        </div>
        <div class="cell">
            <a href="" class="detail">查看<br>详情<br>>></a>
            <a href=""><img src="" alt=""></a>
            <span class="count">累积邀请XX人</span>
        </div>
    </section>

    <!--规则-->
    <section class="section_3">

    </section>

    <div class="invite">
        <a href="inviteregist.html"><img src="img/recruit/p5.png" alt=""></a>
    </div>
</div>
</body>
<script src="js/main.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</html>