<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://www.ymlypt.com/static/yuanmeng1/activity_a/css/login.css">
    <style type="text/css">
    .invite1{
        margin-left: 10%;
        width: 30%;
        height: 40px;
        border-radius: 6px;
        line-height: 40px;
        text-align: center;
        float: left;
    }
    .invite2{
        background-color: #f06834;
        margin-right: 10%;
        width: 30%;
        height: 40px;
        border-radius: 6px;
        line-height: 40px;
        text-align: center;
        float: right;
    } 
    </style>
    <title>现金奖励详情</title>
</head>
<body>
<div>
    <section class="header" style="height: 1000px;background-color: #f06834;">
        <img src="https://ymlypt.b0.upaiyun.com/data/uploads/2018/06/28/8b9f4a663552e4a39889f205ddee3643.jpg" alt="" class="sizeFitImg">
    </section>
    <div style="height: 50px;margin-top: 16px;">
        {if:$status==1 && $get_status==0} 
        <div class="invite1" style="background-color: #f06834;">
            <a href="javascript:;" style="color: white;font-size: 20px;">领取</a>   
        </div>
        {elseif:$status==1 && $get_status==1}
        <div class="invite1" style="background-color: #aa8475;">
            <a href="javascript:;" style="color: white;font-size: 20px;">已领取</a>   
        </div>
        {else:}  
        <div class="invite1" style="background-color: #aa8475;">
            <a href="javascript:;" style="color: white;font-size: 20px;">未达成</a>   
        </div> 
        {/if}
        <div class="invite2">
            <a href="javascript:history.back();" style="color: white;font-size: 20px;">取消</a>
        </div>
    </div>
</div>
</body>
<script src="js/main.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var status = {$status};
        $('.invite1 a').on('click',function(){
            if(status==0) {
                alert('您还未完成任务，赶紧去邀请小伙伴们吧!');
            } else {
                var get_status = {$get_status};
                if(get_status==1){
                   alert('您已领取过了!');
                } else{
                    var user_id = {$user_id};
                    $.ajax({
                        url: "{url:/active/get_voucher}",
                        data: {user_id: user_id,type:2},
                        type: 'post',
                        dataType: 'json',
                        success: function (ret) { 
                            if (ret.status == "success") {                  
                                alert('领取成功！');
                                window.location.reload();
                            }                    
                        }, 
                        error: function (e) {
                            console.log(e);
                            alert("服务器繁忙!请稍后重试");
                        }
                    });
                }    
            }
        });
</script>
</html>