{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
{echo:JS::import('validator');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a href="javascript:;" class="icon-loop-2" onclick="tools_reload()"> 刷新</a>   
</div>
<table class="default" >
    <tr>
        <th style="width:30px">选择</th>
        <th style="width:70px">操作</th>
        <th>名称</th>
        <th>预览</th>
        <th style="width:100px">宽度(px)</th>
        <th style="width:100px">高度(px)</th>
        
        <th style="width:80px">x坐标(px)</th>
        <th style="width:80px">y坐标(px)</th>
        <th style="width:80px">文字距顶部距离(px)</th>
        <th style="width:100px">预计更新时间</th>
    </tr>
    {list:items=$list}
        <tr><td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
          <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select">
          <ul>
                <li><a class="icon-pencil" href="{url:/content/ad_preset_edit/id/$item[id]}"> 编辑</a></li>
            </ul></div></div> </td>
          <td >{$item['name']}</td>
          <td >
              {set:$path = $item['path']}
              <img height='100' src="{url:@$path}">
          </td>
          <td style="width:100px;">{$item['width']}</td>
          <td style="width:100px">{$item['height']}</td>
          <td style="width:80px">{$item['x_coor']}</td>
          <td style="width:80px">{$item['y_coor']}</td>
          <td style="width:80px">{$item['top_distance']}</td>
          <td style="width:100px">{$item['update_time']}</td>
        </tr>
    {/list}
</table>
</form>

<script>
	{if:isset($message)}
	art.dialog.tips('<p class="success">{$message}</p>');
	{/if}
	var form = new Form('config_form');
	{set:$config = Config::getInstance();}
	var data = {echo:JSON::encode($config->get('globals'))};
	form.init(data);

  $(".select_button").on("click",function(){
      uploadFile();
      return false;
    });
function uploadFile(){
  art.dialog.open('{url:/admin/photoshop?type=config}',{id:'upimg_dialog',title:'选择图片',width:613,height:380});
}
function setImg(value, needclose){
  var show_src = ADMIN.upyuncfg.upyun_cdnurl + value;
  $("#logo").val(value);
  var img = value;
  $("#img-show").html("<img height='50' src='"+show_src+"'>");
      needclose = needclose==undefined ? 1 : needclose;
      if(needclose){
        art.dialog({id:'upimg_dialog'}).close();
      }
}

</script>