{echo:JS::import('form');}
{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('validator');}
<div id="obj_form" class="form2">
    <form action="{url:/content/index_ad_save}" method="post" >
    <input type="hidden" name="id" value="{$ad['id']|1}">
    <dl class="lineD">
      <dt><b class="red">*</b>图片地址</dt>
      <dd>
        <input name="image_url" id="image_url" type="text" value="{$ad['image_url']}" alt=""/><label></label>
      </dd>
    </dl>
    <dl class="lineD">
      <dd>
        <a href='javascript:uploadFile();' class="icon-plus" ><img id="preview" src="{$ad['image_url']}" width="70" height="50"></a>  
      </dd>
    </dl>
    <dl class="lineD">
      <dt><b class="red">*</b>跳转链接</dt>
      <dd>
        <input name="jump_link" type="text" value="{$ad['jump_link']}" alt=""/><label></label>
      </dd>
    </dl>
    <dl class="lineD">
      <dt>是否展示：</dt>
      <dd>
        <label><input type="radio" name="status" value="1" {if:$ad['status']==1}checked="checked"{/if}>是</label>
        <label><input type="radio" name="status" value="0" {if:$ad['status']==0}checked="checked"{/if}>否</label>
      </dd>
    </dl>
    <div style="text-align:center"><input type="submit" value="提交" class="button"></div>
    </form>
    <script type="text/javascript">
    $('#image_url').change(function(){
      $("#preview").attr('src',$(this).val());
    })
    $(function () {
        $(".select_button").on("click", function () {
            uploadFile();
            return false;
        });
    });
    function uploadFile() {
        art.dialog.open('{url:/admin/photoshop?type=upload}', {id: 'upimg_dialog', lock: true, opacity: 0.1, title: '选择图片', width: 613, height: 380});
    }
    //回写选择图片
    function setImg(value, needclose) {
      console.log(value);
      var show_src = ADMIN.upyuncfg.upyun_cdnurl + value;
      $("#preview").attr('src',show_src);
      $("#image_url").val(show_src);
    }
    </script>
</div>