{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
{widget:name=count action=cal}
<form action="{url:/count/balance_account}" method="post">
<div class="tools_bar clearfix">
    <span class="fl">时间：<input name="s_time" type="text" value="{$s_time}" id="datepick" class="middle" readonly="readonly"></span>
    <span class="fl">用户名<input name="s_name" type="text" value="" class="middle"></span>
    <a class="icon-file-excel" href="javascript:;" onclick="export_excel_dialog()"> 导出Excel</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:30">序号</th>
        <th style="width:120">商家名</th>
        <th style="width:100">不让利入账金额</th>
        <th style="width:100">让利入账全额</th>
        <th style="width:100">让利比例(%)</th>
        <th style="width:100">让利金额</th>
        <th style="width:100">让利后入账金额</th>
        <th style="width:100">入账总金额</th>
        <!-- <th style="width:100">入账时间</th> -->
    </tr>
    {list:items=$result}
        <tr class="{if:$key%2==1}odd{/if}">
            <td style="width:30px;">{$item['user_id']}、</td>
            <td style="width:120px">{$item['real_name'] | '--'}</td>
            <td style="width:100px">{$item['total_amount']}</td>
            <td style="width:100px">{$item['total_amounts']}</td>
            <td style="width:100px">{$item['base_rate']}</td>
            <td style="width:100px">{$item['amounts']}</td>
            <td style="width:100px">{$item['real_amounts']}</td>
            <td style="width:100px">{$item['sum_amount']}</td>
            <!-- <td style="width:100px">{$item['time']}</td> -->
        </tr>
    {/list}
</table>
</form>
<div class="page_nav">
{$html}
</div>
<div id="excel_box" style="display: none;width:600px;">
    <h1 class="page_title">Excel导出</h1>
    <div class="form2">
        <form  id="export_form" action="{url:/count/balance_account_excel}" method="post" >
           <dl class="lineD">
          <dt>筛选条件：</dt>
          <dd><input type="hidden"  id="condition_input_excel" name="condition" value="{$condition}"><label></label> <label><a href="javascript:;" onclick="Condition('#condition_input_excel')"  class="button" > 高级筛选</a></label>
          </dd>
          </dl>
         <dl class="lineD">
          <dt>页数：</dt>
          <dd>第<input type="text" style="width:24px;text-align:center;" name="page" value="1">页</dd>
          </dl> 
        <dl class="lineD">
          <dt>导出字段：</dt>
          <dd>
            <label><input type="checkbox" name="fields[]" value="user_id" checked="checked"> 序号</label>
            <label><input type="checkbox" name="fields[]" value="real_name" checked="checked"> 商家名</label>
            <label><input type="checkbox" name="fields[]" value="total_amount" checked="checked"> 不让利入账金额</label>
            <label><input type="checkbox" name="fields[]" value="total_amounts" checked="checked"> 让利入账全额</label>
            <label><input type="checkbox" name="fields[]" value="base_rate" checked="checked"> 让利比例(%)</label>
            <label><input type="checkbox" name="fields[]" value="amounts" checked="checked"> 让利金额</label>
            <label><input type="checkbox" name="fields[]" value="real_amounts" checked="checked"> 让利后入账金额</label>
            <label><input type="checkbox" name="fields[]" value="sum_amount" checked="checked"> 入账总金额</label>
          </dd>
          </dl>
        <div class="tc mt10"><a href="javascript:;" onclick="export_excel()" class="button">导出</a></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var form =  new Form();
    $("#condition").on("click",function(){
        $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/customer/balance_list}',method:'get'});},data:{'time':{name:'时间'},'name':{name:'用户名'},'c.real_name':{name:'真实姓名'},'order_no':{name:'订单号'},'note':{name:'备注'}
        }});
    });
    function export_excel_dialog(){
        art.dialog({id:'export_excel_dialog',title:'Excel导出',lock:true,opacity:0.1,width:600,height:200,content:document.getElementById("excel_box")});
    }
    function export_excel() {
      $("#export_form").submit();
    }
    function Condition(id){
        $("body").Condition({input:id,data:{'time':{name:'时间'},'name':{name:'用户名'},'c.real_name':{name:'真实姓名'},'order_no':{name:'订单号'},'note':{name:'备注'}
        }});
    }
</script>
