{echo:JS::import('highcharts')}
{echo:JS::import('form')}
{widget:name=count action=cal}
<div class="tools_bar clearfix">
    <form action="{url:/count/order_account}" method="post">
        <span class="fl">时间：<input name="s_time" type="text" value="{$s_time}" id="datepick" class="middle" readonly="readonly"></span><a href="javascript:tools_submit();" id="condition" class="icon-search" style=""> 查询</a>
    </form>
</div>
<div class="clearfix">
    <div class="mt10">
        <h1><b>订单统计:</b></h1>
        <table class="mt10 default">
            <tr>
                <th class="caption">线上订单总数：</th> <td><a href="{url:/order/order_list?condition=and--pay_status--eq--1__and--delivery_status--eq--0__and--od.status--lt--4}" >{$order_num|0}条</a></td>
                <th class="caption">线下订单总数：</th> <td><a href="{url:/order/offlineorder_list?condition=and--a.status--eq--0}" >{$offline_order_num|0}条</a></td>
            </tr>
            <tr>
                <th class="caption">线上订单余额：</th> <td><a href="{url:/order/order_list}" class="red">￥{$order_amount|0.00}</a></td>
                <th class="caption">线下订单余额：</th> <td><a href="{url:/order/offlineorder_list?condition=and--wd.status--eq--0}" class="red">￥{$offline_order_amount|0.00}</a></td>
            </tr>
            <tr>
                <th class="caption">线上微信支付订单余额：</th> <td><a href="{url:/order/order_list?condition=and--dr.pay_status--eq--0}" class="red">￥{$weixin_order_amount|0.00}</a></td>
                <th class="caption">线上支付宝支付订单余额：</th> <td><a href="{url:/order/order_list?condition=and--a.point--lt--3}" class="red">￥{$alipay_order_amount|0.00}</a></td>
                <th class="caption">线上余额支付订单余额：</th> <td><a href="{url:/order/order_list?condition=and--a.point--lt--3}" class="red">￥{$balance_order_amount|0.00}</a></td>
            </tr>
            <tr>
                <th class="caption">线下微信支付订单余额：</th> <td><a href="{url:/order/order_list?condition=and--dr.pay_status--eq--0}" class="red">￥{$weixin_offline_amount|0.00}</a></td>
                <th class="caption">线下支付宝支付订单余额：</th> <td><a href="{url:/order/order_list?condition=and--a.point--lt--3}" class="red">￥{$alipay_offline_amount|0.00}</a></td>
            </tr>
        </table>
        <h1><b>会员统计:</b></h1>
        <table class="mt10 default">
            <tr>
                <th class="caption">会员余额统计：</th> <td><a href="{url:/customer/customer_list?condition=and--pay_status--eq--1__and--delivery_status--eq--0__and--od.status--lt--4}" class="red">￥{$balance_account}</a></td>
                <th class="caption">会员商家余额统计：</th> <td><a href="{url:/customer/offlineorder_list?condition=and--a.status--eq--0}" class="red">￥{$offline_balance_account|0.00}</a></td>
            </tr>
            <tr>
                <th class="caption">会员已提现余额总额</th> <td><a href="{url:/customer/goods_list}" class="red">￥{$withdrawed_amount|0.00}</a></td>
                <th class="caption">会员提现申请中余额总额</th> <td><a href="{url:/customer/withdraw_list?condition=and--wd.status--eq--0}" class="red">￥{$withdrawing_amount|0.00}</a></td>
            </tr>
            <tr>
                <th class="caption">会员已提现商家余额总额</th> <td><a href="{url:/customer/goods_list}" class="red">￥{$withdrawed_amounts|0.00}</a></td>
                <th class="caption">会员提现申请中商家余额总额</th> <td><a href="{url:/customer/withdraw_list?condition=and--wd.status--eq--0}" class="red">￥{$withdrawing_amounts|0.00}</a></td>
            </tr>
            <tr>
                <th class="caption">新增会员数</th> <td><a href="{url:/customer/goods_list}" >{$new_come_count|0}人</a></td>
            </tr>
        </table>
        <h1><b>线上线下分润统计:</b></h1>
        <table class="mt10 default">
            <tr>
                <th class="caption">线下奖金池1</th> <td><a href="javascript:;" class="red">￥{$reward['reward1']}</a></td>
                <th class="caption">线下奖金池2</th> <td><a href="javascript:;" class="red">￥{$reward['reward2']}</a></td>
            </tr>
            <tr>
                <th class="caption">线下预备金</th> <td><a href="javascript:;" class="red">￥{$reward['ready_amount']}</a></td>
            </tr>
            <tr>
                <th class="caption">线上奖金池1</th> <td><a href="javascript:;" class="red">￥{$reward['reward3']}</a></td>
                <th class="caption">线上奖金池2</th> <td><a href="javascript:;" class="red">￥{$reward['reward4']}</a></td>
            </tr>
            <tr>
                <th class="caption">线上激励金</th> <td><a href="javascript:;" class="red">￥{$reward['encourage_amount']}</a></td>
                <th class="caption">线上预备金</th> <td><a href="javascript:;" class="red">￥{$reward['ready_amounts']}</a></td>
            </tr>
        </table>
    </div>  
</div>
