{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
<script type="text/javascript" src="{url:@static/js/jquery.cookie.js}"></script>

    <div class="tools_bar clearfix">
        <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)"
           title="全选" data="true"> 全选 </a>
        <a class="icon-remove-2" href="javascript:;"
           onclick="tools_submit({action:'{url:/order/trip_order_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
        <a class="icon-delicious" href="{url:/order/trip_order_list}"> 全部订单</a>
        <a class="icon-eye-blocked" href="{url:/order/trip_order_list/status/0}"> 已提交</a>
        <a class="icon-cogs" href="{url:/order/trip_order_list/status/1}"> 已成交</a>
        <a class="icon-cogs" href="{url:/order/trip_order_list/status/-1}"> 已取消</a>
        
        <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style=""> 筛选条件</a><input
                id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
    </div>
    <div class="tools_bar clearfix">
    
       <form enctype="multipart/form-data" action="{url:/order/trip_order_export}" method="post">
          <span class="fl">
            <a href='javascript:;' id="condition" class="icon-search" style=""> 请选择你要导入的Excel表格</a>
            <input type="file" name="myfile" >
            <input type="submit" value="确定" />
          </span>  
        </form>
    </div>
    <table class="default">
        <tr>
            <th style="width:30px">选择</th>
            <th style="width:50px">操作</th>
            <th style="width:100px">订单来源</th>
            <th style="width:100px">订单号</th>
            <th style="width:100px">提交时间</th>
            <th style="width:50px">业务类型</th>
            <th style="width:50px">数量</th>
            <th style="width:100px">订单金额</th>
            <th style="width:50px">订单状态</th>
            <th style="width:50px">Ouid</th>
        </tr>
        {query:name=trip_order as od fields=od.* where=$where id=$obj page=1 order= od.id desc }
        <tr>
            <td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"><i class="icon-order-{$item['type']}"></i></td>
            <td style="width:50px" class="btn_min">
                <div class="operat hidden"><a class="icon-cog action" href="javascript:;"> 处理</a>
                    <div class="menu_select">
                        <ul>
                            <li><a class="icon-eye" href="javascript:;" onclick="view({$item['id']})"> 查看</a></li>
                            {if:$item['status'] == 0}
                            <li><a class="icon-switch" href="javascript:;"
                                   onclick="change_status({$item['id']},1,null)"> 完成</a></li>
                            {/if}
                            {if:$item['status'] !=-1}
                            <li><a class="icon-remove" href="javascript:;"
                                   onclick="change_status({$item['id']},-1,null)"> 作废</a></li>
                            {/if}
                            {if:$item['status'] !=1}
                            <li><a class="icon-close"
                                   href="javascript:confirm_action('{url:/order/trip_order_del/id/$item[id]}')"> 删除</a></li>
                            {/if}
                            
                        </ul>
                    </div>
                </div>
            </td>
            <td style="width:100px;">{$item['froms']}</td>
            <td style="width:100px"><span>{$item['order_no']}</span></td>
            <td style="width:100px;">{$item['submit_date']}</td>
            <td style="width:50px">{$item['business_type']}</td>
            <td style="width:50px">{$item['num']}</td>
            <td style="width:100px">{$item['order_amount']}</td>
            <td style="width:50px">{$item['order_status']}</td>
            <td style="width:50px">{$item['ouid']}</td>
        </tr>
        {/query}
    </table>

<div class="page_nav">
    {echo:$obj->pageBar()}
</div>

<style type='text/css'>
    .badge {
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        min-width: 10px;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .shan {
        -webkit-animation: twinkling 1.3s infinite ease-in-out;
        -webkit-animation-direction: alternate;
    }

    @-webkit-keyframes twinkling { /*透明度由0到1*/
        0% {
            opacity: 0; /*透明度为0*/
        }
        100% {
            opacity: 1; /*透明度为1*/
        }
    }
</style>

<script type="text/javascript">
    var pendingData= new Array();
    var noticevoice = $("#notice-voice")[0];
    var voice_status;
    var dialog_status;
    var interval;
    var count =2;
 
    function edit(id){
        art.dialog.open("{url:/order/trip_order_edit/id/}"+id,{id:'edit_dialog',title:'订单编辑',resize:false,width:900,height:450});
    }
    function view(id){
        art.dialog.open("{url:/order/trip_order_view/id/}"+id,{id:'view_dialog',title:'查看订单',resize:false,width:900,height:450});
    }
    
    function change_status(id,status,op){
        var title = '';
        if(status==null){
            if(op=='del') title = '删除订单';
            else if(op=='note') title = '备注订单';
        }else{
            if(status == 3) title = '审核订单';
            else if(status == 4) title = '完成订单';
            else if(status == 6) title = '作废订单';
        }
        
        // $("#order_status").val(status);
        
        art.dialog({id:'status_dialog',title:title,resize:false,width:500,height:200,padding:'0 5px',content:document.getElementById('status_dialog')});
    }
    function submit_status(){
        var order_status = ['<span class="red">等待审核</span>','<span class="red">等待审核</span>','<span class="red">等待审核</span>','已审核','已完成','已取消','<span class="red"><s>已作废</s></span>'];
        var remark= $("#order_remark").val();
        var id = $("#order_id").val();
        var status = $("#order_status").val();
        var op = $("#order_op").val();
        if(remark != ''){
            $.post('{url:/order/order_status}',{id:id,status:status,op:op,remark:remark},function(data){
                art.dialog({id:'status_dialog'}).close();
                if(data['status']=='success'){
                    $("#status_"+id).html(order_status[status]);
                    art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"成功！</p>");
                }else{
                    art.dialog.tips("<p class='"+data['status']+"'>"+data['msg']+"失败！</p>");
                }
                setTimeout("tools_reload()",2000);
            },'json');
        }else{
            art.dialog.tips("<p class='warning'>备注信息不能为空!</p>");
        }

    }
    function send_close(){
        art.dialog({id:'send_dialog'}).close();
        art.dialog.tips("<p class='success'>发货成功！</p>");
    }
    function close(){
        art.dialog({id:'edit_dialog'}).close();
        art.dialog.tips("<p class='success'>订单编辑成功！</p>");
    }
        

</script>
