<div class="bd">
    <div class="weui_panel weui_panel_access" id="autoload">
        <div class="weui_panel_hd">
            <div class="weui-row weui-no-gutter">
                <div class="weui-col-80 h3title">{$title}</div>
                <div class="weui-col-20" style="text-align: right;"></div>
            </div>
        </div>
        <div class="weui_panel_bd">
            {if:$invoicelist}
            {list:$items=$invoicelist}
            <div  class="weui_media_box weui_media_appmsg">
           
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb weui_media_text_img" src="{echo:Common::thumb($item['img'],100,100);}" />
                </div>
                 <a href="{url:/shopadmin/order_detail/id/$item[order_id]}" >
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">收件人：{$item['accept_name']}</h4>
                    <p class="weui_media_desc">商品数量: {$item['total']}</p>
                    <p class="weui_media_desc express_name">物流公司: {echo:isset($expresslist[$item['express_company_id']])?$expresslist[$item['express_company_id']]['name']:'未知';}</p>
                    <p class="weui_media_desc">物流单号: {$item['express_no']}</p>
                    <p  class="weui_media_desc">时间：{$item['express_time']}</p>
                   
                </div>
                </a>
                <div class="weui_timetips">
                   <lable class="rewriteexpress" style="height:30px;" data-orderid="{$item['order_id']}" data-oldexpressid="{$item['express_company_id']}" data-oldexpressname="{$expresslist[$item['express_company_id']]['name']}" data-oldexpressno="{$item['express_no']}"><i class="fa fa-cog"></i>修改物流</lable>
                </div>
            </div>
            
            {/list}
            {else:}
            <div class="no-more-record">暂无更多记录</div>
            {/if}
        </div>
        <div class="weui-infinite-scroll" style="display: none;">
            <div class="infinite-preloader"></div>
            正在加载... 
        </div>
<!--        <div class="">{$pagelist}</div>-->
        <div class="tc pagelist">{$pagelist}</div>
    </div>
</div>
<script>
var expresslistall = {echo: json_encode($expresslistall);};
$(function(){
     $(".rewriteexpress").on("click", function () {
            var oldexpressid = $(this).data("oldexpressid");
            var oldexpressname = $(this).data("oldexpressname");
            var oldexpressno = $(this).data("oldexpressno");
            var order_id = $(this).data("orderid");
            var text = '<input type="text" class="weui_input weui-prompt-input" id="weui-prompt-express-company"  placeholder="请选择物流公司" data-values="'+oldexpressid+'" value="'+oldexpressname+'" />' +
                    '<input type="text" class="weui_input weui-prompt-input" id="weui-prompt-express-no" value="'+oldexpressno+'" placeholder="请输入物流单号" />';
            $.modal({
                title: '修改物流信息',
                text: text,
                autoClose: false,
                buttons: [
                    {
                        text: "确定", onClick: function () {
                            $.post("{url:/shopadmin/update_order_expressno/id/}"+order_id, {
                                express_company_id: $("#weui-prompt-express-company").data("values"),
                                express_no: $("#weui-prompt-express-no").val(),
                            }, function (data) {
                                if (data.status == 'success') {
                                    $.toast("操作成功", "success", function () {
                                        location.reload();
                                    });
                                    $.closeModal();
                                } else {
                                    $.toast(data.msg, "forbidden");
                                }
                            }, 'json');
                            return false;
                        }
                    },
                    {
                     text: "取消", className: "default", onClick: function () {
                            $.closeModal();
                        }
                    }]
            }, function () {
                $("#weui-prompt-express-company").select({
                    title: "选择物流公司",
                    items: expresslistall
                });
            });
        });
});
 
</script>