<div class="weui_cells">
    <form action="{url:/shopadmin/login}" class="reg-box" method="post">
        <div class="weui_cell">
            <input name="username" id="username" value="" class="input" placeholder="用户名" size="20" />
        </div>
        <div class="weui_cell">
            <input class="input" type="password" size="20" id="password" name="password" placeholder="密码" alt="密码不能为空" />
        </div>
        <div class="weui_cell">
            <button type="submit" class="weui_btn weui_btn_primary">登录</button>
        </div>
        <div class="weui_cell">
            <button type="button" class="weui_btn weui_btn_default">重置</button>
        </div>
    </form>
</div>