
<div class="bd">
    <div class="weui_panel weui_panel_access" id="autoload">
        <div class="weui_panel_hd">
            <div class="weui-row weui-no-gutter">
                <div class="weui-col-80 h3title">{$title}</div>
                <div class="weui-col-20" style="text-align: right;"></div>
            </div>
        </div>
        <div class="weui_panel_bd">
            {if:$orderlist}
            {list:$items=$orderlist}
            <a href="{url:/shopadmin/order_detail/id/$item[id]}" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <!-- <img class="weui_media_appmsg_thumb weui_media_text_img" src="{echo:Common::thumb($item['img'],100,100);}" /> -->
                    {set:$img = $item['img']}
                    <img class="weui_media_appmsg_thumb weui_media_text_img" src="{url:@$img}" width="100" height="100" />
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{$item['accept_name']}</h4>
                    <p class="weui_media_desc">商品数量: {echo:count($item['imglist']);}</p>
                    <p class="weui_media_desc">付款时间: {$item['pay_time']}</p>
                    <div class="weui_timetips">
                        {if:$item['express_status']=='finished'}
                        <input type="button" value="已发货" class="weui_btn weui_btn_mini" />
                        {else:}
                        <input type="button" value="待发货" class="weui_btn weui_btn_mini weui_btn_primary" />
                        {/if}
                    </div>
                </div>
            </a>
            {/list}
            {else:}
            <div class="no-more-record">暂无更多记录</div>
            {/if}
        </div>
        <div class="weui-infinite-scroll" style="display: none;">
            <div class="infinite-preloader"></div>
            正在加载... 
        </div>
       <div class="tc pagelist">{$pagelist}</div>
    </div>
</div>