<div class="">
    <div class="weui_cells">
        <form action="{url:/simple/login_act}" class="reg-box" method="post" callback="checkReadme">
            <div class="weui_cell" style="margin-top:10px;">
                <input name="account" id="account"  class="input" pattern="required" placeholder="手机号或邮箱" />
            </div>
            <div class="weui_cell">
                <input class="input" name="password" type="password" placeholder="密码" pattern="required" alt="密码不能为空" />
            </div>
            <div class="weui_cell weui_cell_switch">
                <div class="weui_cell_hd weui_cell_primary">自动登录</div>
                <div class="weui_cell_ft">
                    <input class="weui_switch" type="checkbox">
                </div>
            </div>
            <div class="weui_cell">
                <button class="weui_btn weui_btn_primary">登录</button>
            </div>
            <div class="weui_cell">
                <a href="{url:/simple/register}" class="weui_btn weui_btn_default weui_btn_block">立即注册</a>
            </div>
<!--            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">其它方式</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    {list:items=$oauth_login}
                    <a href="{$item['url']}"><img src="{url:@protected/classes/oauth/logo/$item[icon]}" ></a>
                    {/list}
                </div>
            </div>-->
        </form>
    </div>
</div>
{echo:JS::import('form')}
<script type="text/javascript">
    {if:isset($invalid)}
    var form = new Form();
    form.setValue('account', '{$account}');
    autoValidate.showMsg({id: $("input[name='{$invalid['field']}']").get(0), error: true, msg: "{$invalid['msg']}"});
    $(".invalid-msg").show();
    {/if}
            $("input[pattern]").on("blur", function (event) {
        $(".invalid-msg , .valid-msg").hide();
        var current_input = $(this);
        var result = autoValidate.validate(event);
        if (result) {
            current_input.parent().removeClass('invalid').addClass('valid');
        } else {
            current_input.parent().removeClass('valid').addClass('invalid');
        }
        if (result) {
            if (current_input.attr('id') == 'account') {
                $.post("{url:/ajax/account/account/}" + $(this).val(), function (data) {
                    var msg = '合法用户';
                    if (!data['status']) {
                        msg = '用户不存在';
                        current_input.next().show();
                        current_input.parent().removeClass('valid').addClass('invalid');
                        autoValidate.showMsg({id: document.getElementById('account'), error: data['status'], msg: msg});
                    }
                    
                }, 'json');
            }
            $(".invalid-msg").show();
        } else {
            current_input.next().show();
        }
    });
</script>
