<link type="text/css" rel="stylesheet" href="{url:#css/weui.css}" />
<div class="weui-msg">
        <div class="weui-msg__icon-area">
        	
        	<i class="weui-icon-info weui-icon_msg"></i>
        
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">404</h2>
            <p class="weui-msg__desc">很抱歉，您要查找的网页不存在。</p>
             <p class="weui-msg__desc">检查输入的地址是否正确，然后输入正确的地址信息。</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="{url:/}" class="weui-btn weui-btn_primary">返回主页</a>
                <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回</a>
            </p>
        </div>
      
</div>